# Overview

In [1]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast

#import pdfkit
pd.options.mode.chained_assignment = None

In [2]:
#eoq = input('Is this the end of a quarter? (imput y or n)')

In [3]:
ep1 = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [4]:
ep1.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12,SAN1,100.0,100.0,xConnect

In [5]:
ep1.columns

Index(['Organization', 'Order #', 'Order Date', 'Salesman', 'Order Summary',
       'Type', 'Term', 'Datacenter', 'payout', 'MRR', 'Service Type'],
      dtype='object')

In [6]:
ep1.dtypes

Organization             object
Order #                  object
Order Date       datetime64[ns]
Salesman                 object
Order Summary            object
Type                     object
Term                      int64
Datacenter               object
payout                  float64
MRR                     float64
Service Type             object
dtype: object

In [7]:
samuel_mickler = ep1[ep1['Salesman'] == 'Samuel Mickler']
trey_hardeman = ep1[ep1['Salesman'] == 'Trey Hardeman']
odaine_hudson = ep1[ep1['Salesman'] == 'Odaine Hudson']
andrew_ramirez = ep1[ep1['Salesman'] == 'Andrew Ramirez']
carlie_matel = ep1[ep1['Salesman'] == 'Carlie Matel']
jonathan_malcolm = ep1[ep1['Salesman'] == 'Jonathan Malcolm']
mike_miceli = ep1[ep1['Salesman'] == 'Mike Miceli']
tiffany_dunson = ep1[ep1['Salesman'] == 'Tiffany Dunson']
natalie_farr = ep1[ep1['Salesman'] == 'Natalie Farr']
shelby_locklear = ep1[ep1['Salesman'] == 'Shelby Locklear']
kathy_geiser = ep1[ep1['Salesman'] == 'Kathy J Geiser']
stephen_muoio = ep1[ep1['Salesman'] == 'Stephen Muoio']

### Sam Mickler

In [ ]:
samuel_mickler.head()

In [ ]:
samuel_mickler.loc[samuel_mickler['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
samuel_mickler.loc[samuel_mickler['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
samuel_mickler['payout'].sum()

In [ ]:
mick_bookings = samuel_mickler['MRR'].sum()

In [ ]:
mick_pay = samuel_mickler['payout'].sum()

In [ ]:
samuel_mickler.loc[111111] = ['Total Bookings:', mick_bookings, '', '' ,'','','','','','','']

In [ ]:
samuel_mickler.loc[111112] = ['Total Payout:', mick_pay, '', '' ,'','','','','','','']

In [ ]:
samuel_mickler

#### End Sam Mickler

### Trey Hardeman

In [ ]:
trey_hardeman.loc[trey_hardeman['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
trey_hardeman.loc[trey_hardeman['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
trey_hardeman['payout'].sum()

In [ ]:
hard_bookings = trey_hardeman['MRR'].sum()

In [ ]:
hard_pay = trey_hardeman['payout'].sum()

In [ ]:
hard_bookings

In [ ]:
trey_hardeman.loc[111111] = ['Total Bookings:', hard_bookings, '', '' ,'','','','','','','']

In [ ]:
trey_hardeman.loc[111112] = ['Total Payout:', hard_pay, '', '' ,'','','','','','','']

In [ ]:
trey_hardeman.to_excel('')

#### End Trey Hardeman

### Natalie Farr

In [ ]:
natalie_farr.loc[natalie_farr['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
natalie_farr.loc[natalie_farr['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
natalie_farr['payout'].sum()

In [ ]:
farr_bookings = natalie_farr['MRR'].sum()

In [ ]:
farr_pay = natalie_farr['payout'].sum()

In [ ]:
farr_bookings

In [ ]:
natalie_farr.loc[111111] = ['Total Bookings:', farr_bookings, '', '' ,'','','','','','','']

In [ ]:
natalie_farr.loc[111112] = ['Total Payout:', farr_pay, '', '' ,'','','','','','','']

#### End Natalie Farr

### Shelby Locklear

In [ ]:
shelby_locklear.loc[shelby_locklear['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
shelby_locklear.loc[shelby_locklear['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
shelby_locklear['payout'].sum()

In [ ]:
lock_bookings = shelby_locklear['MRR'].sum()

In [ ]:
lock_pay = shelby_locklear['payout'].sum()

In [ ]:
lock_bookings

In [ ]:
shelby_locklear.loc[111111] = ['Total Bookings:', lock_bookings, '', '' ,'','','','','','','']

In [ ]:
shelby_locklear.loc[111112] = ['Total Payout:', lock_pay, '', '' ,'','','','','','','']

#### End Shelby Locklear

### Kathy Geiser

In [ ]:
kathy_geiser.loc[kathy_geiser['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
kathy_geiser.loc[kathy_geiser['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
kathy_geiser['payout'].sum()

In [ ]:
kath_bookings = kathy_geiser['MRR'].sum()

In [ ]:
kath_pay = kathy_geiser['payout'].sum()

In [ ]:
kath_bookings

In [ ]:
kathy_geiser.loc[111111] = ['Total Bookings:', kath_bookings, '', '' ,'','','','','','','']

In [ ]:
kathy_geiser.loc[111112] = ['Total Payout:', kath_pay, '', '' ,'','','','','','','']

#### End Kathy Geiser

### Stephen Muoio

In [ ]:
stephen_muoio.loc[stephen_muoio['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
stephen_muoio.loc[stephen_muoio['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
stephen_muoio['payout'].sum()

In [ ]:
muo_bookings = stephen_muoio['MRR'].sum()

In [ ]:
muo_pay = stephen_muoio['payout'].sum()

In [ ]:
muo_bookings

In [ ]:
stephen_muoio.loc[111111] = ['Total Bookings:', muo_bookings, '', '' ,'','','','','','','']

In [ ]:
stephen_muoio.loc[111112] = ['Total Payout:', muo_pay, '', '' ,'','','','','','','']

#### End Stephen Muoio

## AMW - Peccoralo

### Olidane Hudson

In [8]:
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
odaine_hudson.loc[odaine_hudson['Service Type'].isin(['Managed Services']) & odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [9]:
odaine_hudson['payout'].sum()

389.99625

In [10]:
hud_bookings = odaine_hudson['MRR'].sum()

In [11]:
hud_pay = odaine_hudson['payout'].sum()

In [12]:
odaine_hudson.loc[111111] = ['Total Bookings:', hud_bookings, '', '' ,'','','','','','','']

In [13]:
odaine_hudson.loc[111112] = ['Total Payout:', hud_pay, '', '' ,'','','','','','','']

In [14]:
odaine_hudson

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
630,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417000,Odaine Hudson,Cross Connect : CAT6E,New,19,ORD4,82.5,165.0,xConnect
631,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417000,Odaine Hudson,Cross Connect : CAT6E,New,19,ORD4,82.5,165.0,xConnect
1846,Kaiser Permanente - zColo,65733,2022-08-18 13:36:50.387000,Odaine Hudson,Cross Connect : SMF,Change Order,12,ATL2,150.0,200.0,xConnect
2530,Protera Technologies,65328,2022-08-25 08:53:32.070000,Odaine Hudson,Cross Connect : SMF,New,12,ORD4,37.5,75.0,xConnect
2531,Protera Technologies,65328,2022-08-25 08:53:32.070000,Odaine Hudson,Cross Connect : SMF,New,12,AUS1,37.49625,75.0,Managed Services
111111,Total Bookings:,680.0,,,,,,,,,
111112,Total Payout:,389.99625,,,,,,,,,

In [ ]:
odaine_hudson.to_excel('test.xlsx')

#### End Odaine Hudson

### Andrew Ramirez

In [ ]:
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
andrew_ramirez.loc[andrew_ramirez['Service Type'].isin(['Managed Services']) & andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [ ]:
andrew_ramirez['payout'].sum()

In [ ]:
ram_bookings = andrew_ramirez['MRR'].sum()

In [ ]:
ram_pay = andrew_ramirez['payout'].sum()

In [ ]:
andrew_ramirez

In [ ]:
andrew_ramirez.loc[111111] = ['Total Bookings:', ram_bookings, '', '' ,'','','','','','','']

In [ ]:
andrew_ramirez.loc[111112] = ['Total Payout:', ram_pay, '', '' ,'','','','','','','']

#### End Andrew Ramirez

### Carlie Matel

In [ ]:
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
carlie_matel.loc[carlie_matel['Service Type'].isin(['Managed Services']) & carlie_matel['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [ ]:
carlie_matel['payout'].sum()

In [ ]:
mat_bookings = carlie_matel['MRR'].sum()

In [ ]:
mat_pay = carlie_matel['payout'].sum()

In [ ]:
carlie_matel.loc[111111] = ['Total Bookings:', mat_bookings, '', '' ,'','','','','','','']

In [ ]:
carlie_matel.loc[111112] = ['Total Payout:', mat_pay, '', '' ,'','','','','','','']

#### End Carlie Matel

### Jonathan Malcolm

In [ ]:
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
jonathan_malcolm.loc[jonathan_malcolm['Service Type'].isin(['Managed Services']) & jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [ ]:
jonathan_malcolm['payout'].sum()

In [ ]:
mal_bookings = jonathan_malcolm['MRR'].sum()

In [ ]:
mal_pay = jonathan_malcolm['payout'].sum()

In [ ]:
jonathan_malcolm.loc[111111] = ['Total Bookings:', mal_bookings, '', '' ,'','','','','','','']

In [ ]:
jonathan_malcolm.loc[111112] = ['Total Payout:', mal_pay, '', '' ,'','','','','','','']

#### End Jonathan Malcolm

### Mike Miceli

In [ ]:
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
mike_miceli.loc[mike_miceli['Service Type'].isin(['Managed Services']) & mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [ ]:
mike_miceli['payout'].sum()

In [ ]:
mike_bookings = mike_miceli['MRR'].sum()

In [ ]:
mike_pay = mike_miceli['payout'].sum()

In [ ]:
mike_miceli.loc[111111] = ['Total Bookings:', mike_bookings, '', '' ,'','','','','','','']

In [ ]:
mike_miceli.loc[111112] = ['Total Payout:', mike_pay, '', '' ,'','','','','','','']

#### End Mike Miceli

### Tiffany Dunson

In [ ]:
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
tiffany_dunson.loc[tiffany_dunson['Service Type'].isin(['Managed Services']) & tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [ ]:
tiffany_dunson['payout'].sum()

In [ ]:
tiff_bookings = tiffany_dunson['MRR'].sum()

In [ ]:
tiff_pay = tiffany_dunson['payout'].sum()

In [ ]:
tiffany_dunson.loc[111111] = ['Total Bookings:', tiff_bookings, '', '' ,'','','','','','','']

In [ ]:
tiffany_dunson.loc[111112] = ['Total Payout:', tiff_pay, '', '' ,'','','','','','','']

#### End Tiffany Dunson

### Brandon Peccorolo

In [ ]:
pecc = hud_bookings + ram_bookings + mat_bookings + mal_bookings + mike_bookings + tiff_bookings

In [ ]:
pecc

In [ ]:
pecc.loc[11] = ['Monthly Team Commission']