# Overview

In [26]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import os.path
#import pdfkit
pd.options.mode.chained_assignment = None

In [27]:
#eoq = input('Is this the end of a quarter? (imput y or n)')

In [28]:
ep1 = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [29]:
ep1.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,Accudata Systems Inc.- Triple S Steel,69092,2022-10-19,Ryan Popkin,Accudata / XC Triple S / Houston,Existing,36,HOU1,200.0,200.0,xConnect

In [30]:
ep1.columns

Index(['Organization', 'Order #', 'Order Date', 'Salesman', 'Order Summary',
       'Type', 'Term', 'Datacenter', 'payout', 'MRR', 'Service Type'],
      dtype='object')

In [31]:
ep1.dtypes

Organization             object
Order #                  object
Order Date       datetime64[ns]
Salesman                 object
Order Summary            object
Type                     object
Term                      int64
Datacenter               object
payout                  float64
MRR                     float64
Service Type             object
dtype: object

In [151]:
samuel_mickler = ep1[ep1['Salesman'] == 'Samuel Mickler']
trey_hardeman = ep1[ep1['Salesman'] == 'Trey Hardeman']
odaine_hudson = ep1[ep1['Salesman'] == 'Odaine Hudson']
andrew_ramirez = ep1[ep1['Salesman'] == 'Andrew Ramirez']
carlie_matel = ep1[ep1['Salesman'] == 'Carlie Matel']
jonathan_malcolm = ep1[ep1['Salesman'] == 'Jonathan Malcolm']
mike_miceli = ep1[ep1['Salesman'] == 'Mike Miceli']
tiffany_dunson = ep1[ep1['Salesman'] == 'Tiffany Dunson']
natalie_farr = ep1[ep1['Salesman'] == 'Natalie Farr']
shelby_locklear = ep1[ep1['Salesman'] == 'Shelby Locklear']
kathy_geiser = ep1[ep1['Salesman'] == 'Kathy J Geiser']
stephen_muoio = ep1[ep1['Salesman'] == 'Stephen Muoio']
matt_horne = ep1[ep1['Salesman'] == 'Matt Horne']
brandon_peccorolo = ep1[ep1['Salesman'] == 'Brandon Peccoralo']

## AME - Wilson

### Sam Mickler

In [33]:
samuel_mickler.head()

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
643,DQE Communications,68796,2022-10-13,Samuel Mickler,Copy of DQE - PIT1 - XC to Zayo - 10.13.22,Change Order,12,PIT1,250.0,250.0,xConnect
644,DQE Communications,68796,2022-10-13,Samuel Mickler,Copy of DQE - PIT1 - XC to Zayo - 10.13.22,Change Order,12,PIT1,250.0,250.0,xConnect
1726,"Redcard Systems, LLC",68785,2022-10-31,Samuel Mickler,Copy of RedCard - MCI2 - New 5kw Cabinet - 10....,Change Order,12,MCI2,0.0,0.0,Space
1727,"Redcard Systems, LLC",68785,2022-10-31,Samuel Mickler,Copy of RedCard - MCI2 - New 5kw Cabinet - 10....,Change Order,12,MCI2,390.0,390.0,Space
1728,"Redcard Systems, LLC",68785,2022-10-31,Samuel Mickler,Copy of RedCard - MCI2 - New 5kw Cabinet - 10....,Change Order,12,MCI2,0.0,0.0,xConnect

In [34]:
samuel_mickler.drop(samuel_mickler[samuel_mickler.MRR == 0.0].index, inplace=True)

In [35]:
samuel_mickler.head(100000000)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
643,DQE Communications,68796,2022-10-13,Samuel Mickler,Copy of DQE - PIT1 - XC to Zayo - 10.13.22,Change Order,12,PIT1,250.0,250.0,xConnect
644,DQE Communications,68796,2022-10-13,Samuel Mickler,Copy of DQE - PIT1 - XC to Zayo - 10.13.22,Change Order,12,PIT1,250.0,250.0,xConnect
1727,"Redcard Systems, LLC",68785,2022-10-31,Samuel Mickler,Copy of RedCard - MCI2 - New 5kw Cabinet - 10....,Change Order,12,MCI2,390.0,390.0,Space
1729,"Redcard Systems, LLC",68785,2022-10-31,Samuel Mickler,Copy of RedCard - MCI2 - New 5kw Cabinet - 10....,Change Order,12,MCI2,575.0,575.0,Power
1731,"Redcard Systems, LLC",68785,2022-10-31,Samuel Mickler,Copy of RedCard - MCI2 - New 5kw Cabinet - 10....,Change Order,12,MCI2,285.0,285.0,Power

In [36]:
samuel_mickler.loc[samuel_mickler['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
samuel_mickler.loc[samuel_mickler['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
samuel_mickler.loc[samuel_mickler['Service Type'].isin(['Managed Services']) & samuel_mickler['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [37]:
samuel_mickler['payout'].sum()

875.0

In [38]:
mick_bookings = samuel_mickler['MRR'].sum()

In [39]:
mick_pay = samuel_mickler['payout'].sum()

In [40]:
samuel_mickler.loc[111111] = ['Total Bookings:', mick_bookings, '', '' ,'','','','','','','']

In [41]:
samuel_mickler.loc[111112] = ['Total Payout:', mick_pay, '', '' ,'','','','','','','']

In [42]:
samuel_mickler.to_excel(os.path.join('../Output','Mickler_October_2022.xlsx'), index=False)

#### End Sam Mickler

### Trey Hardeman

In [43]:
trey_hardeman.loc[trey_hardeman['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
trey_hardeman.loc[trey_hardeman['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
trey_hardeman.loc[trey_hardeman['Service Type'].isin(['Managed Services']) & trey_hardeman['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [44]:
trey_hardeman.drop(trey_hardeman[trey_hardeman.MRR == 0.0].index, inplace=True)

In [45]:
trey_hardeman['payout'].sum()

162.04

In [46]:
hard_bookings = trey_hardeman['MRR'].sum()

In [47]:
hard_pay = trey_hardeman['payout'].sum()

In [48]:
hard_bookings

224.07999999999998

In [49]:
trey_hardeman.loc[111111] = ['Total Bookings:', hard_bookings, '', '' ,'','','','','','','']

In [50]:
trey_hardeman.loc[111112] = ['Total Payout:', hard_pay, '', '' ,'','','','','','','']

In [51]:
trey_hardeman.to_excel(os.path.join('../Output','Hardeman_October_2022.xlsx'), index=False)

#### End Trey Hardeman

### Natalie Farr

In [52]:
natalie_farr.loc[natalie_farr['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
natalie_farr.loc[natalie_farr['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
natalie_farr.loc[natalie_farr['Service Type'].isin(['Managed Services']) & natalie_farr['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [53]:
natalie_farr.drop(natalie_farr[natalie_farr.MRR == 0.0].index, inplace=True)

In [54]:
natalie_farr['payout'].sum()

1177.24000455125

In [55]:
farr_bookings = natalie_farr['MRR'].sum()

In [56]:
farr_pay = natalie_farr['payout'].sum()

In [57]:
farr_bookings

2179.48

In [58]:
natalie_farr.loc[111111] = ['Total Bookings:', farr_bookings, '', '' ,'','','','','','','']

In [59]:
natalie_farr.loc[111112] = ['Total Payout:', farr_pay, '', '' ,'','','','','','','']

In [60]:
natalie_farr.to_excel(os.path.join('../Output','Farr_October_2022.xlsx'), index=False)

#### End Natalie Farr

### Shelby Locklear

In [61]:
shelby_locklear.loc[shelby_locklear['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
shelby_locklear.loc[shelby_locklear['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
shelby_locklear.loc[shelby_locklear['Service Type'].isin(['Managed Services']) & shelby_locklear['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [62]:
shelby_locklear.drop(shelby_locklear[shelby_locklear.MRR == 0.0].index, inplace=True)

In [63]:
shelby_locklear['payout'].sum()

3390.3849999999993

In [64]:
lock_bookings = shelby_locklear['MRR'].sum()

In [65]:
lock_pay = shelby_locklear['payout'].sum()

In [66]:
lock_bookings

5321.27

In [67]:
shelby_locklear.loc[111111] = ['Total Bookings:', lock_bookings, '', '' ,'','','','','','','']

In [68]:
shelby_locklear.loc[111112] = ['Total Payout:', lock_pay, '', '' ,'','','','','','','']

In [69]:
shelby_locklear.to_excel(os.path.join('../Output','Locklear_October_2022.xlsx'), index=False)

#### End Shelby Locklear

### Kathy Geiser

In [70]:
kathy_geiser.loc[kathy_geiser['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
kathy_geiser.loc[kathy_geiser['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
kathy_geiser.loc[kathy_geiser['Service Type'].isin(['Managed Services']) & kathy_geiser['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [71]:
kathy_geiser.drop(kathy_geiser[kathy_geiser.MRR == 0.0].index, inplace=True)

In [72]:
kathy_geiser['payout'].sum()

4417.295

In [73]:
kath_bookings = kathy_geiser['MRR'].sum()

In [74]:
kath_pay = kathy_geiser['payout'].sum()

In [75]:
kath_bookings

7534.589999999999

In [76]:
kathy_geiser.loc[111111] = ['Total Bookings:', kath_bookings, '', '' ,'','','','','','','']

In [77]:
kathy_geiser.loc[111112] = ['Total Payout:', kath_pay, '', '' ,'','','','','','','']

In [78]:
kathy_geiser.to_excel(os.path.join('../Output','Geiser_October_2022.xlsx'), index=False)

#### End Kathy Geiser

### Stephen Muoio

In [79]:
stephen_muoio.loc[stephen_muoio['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
stephen_muoio.loc[stephen_muoio['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
stephen_muoio.loc[stephen_muoio['Service Type'].isin(['Managed Services']) & stephen_muoio['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [80]:
stephen_muoio.drop(stephen_muoio[stephen_muoio.MRR == 0.0].index, inplace=True)

In [81]:
stephen_muoio['payout'].sum()

6874.4800000000005

In [82]:
muo_bookings = stephen_muoio['MRR'].sum()

In [83]:
muo_pay = stephen_muoio['payout'].sum()

In [84]:
muo_bookings

10280.599999999999

In [85]:
stephen_muoio.loc[111111] = ['Total Bookings:', muo_bookings, '', '' ,'','','','','','','']

In [86]:
stephen_muoio.loc[111112] = ['Total Payout:', muo_pay, '', '' ,'','','','','','','']

In [87]:
stephen_muoio.to_excel(os.path.join('../Output','Muoio_October_2022.xlsx'), index=False)

#### End Stephen Muoio

### Wilson

In [144]:
horne_bookings = matt_horne['MRR'].sum()

In [148]:
wil = mick_bookings + hard_bookings + farr_bookings + lock_bookings + kath_bookings + muo_bookings + horne_bookings
wil

35189.64

## AMW - Peccoralo

### Olidane Hudson

In [88]:
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
odaine_hudson.loc[odaine_hudson['Service Type'].isin(['Managed Services']) & odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [89]:
odaine_hudson.drop(odaine_hudson[odaine_hudson.MRR == 0.0].index, inplace=True)

In [90]:
odaine_hudson['payout'].sum()

4009.5

In [91]:
hud_bookings = odaine_hudson['MRR'].sum()

In [92]:
hud_pay = odaine_hudson['payout'].sum()

In [93]:
odaine_hudson.loc[111111] = ['Total Bookings:', hud_bookings, '', '' ,'','','','','','','']

In [94]:
odaine_hudson.loc[111112] = ['Total Payout:', hud_pay, '', '' ,'','','','','','','']

In [95]:
odaine_hudson

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
111,Allstream Inc. - BAN DATABANKALLSTREAM,68548,2022-10-11 00:00:00,Odaine Hudson,Allstream/Cross Connection/MSP2/10102022,New,12,MSP2,100.0,200.0,xConnect
414,Boldend,69372,2022-10-24 00:00:00,Odaine Hudson,Bolden/DIA/SNA1/09062022 [v2],New,32,SNA1,645.0,1290.0,Internet
416,Boldend,69372,2022-10-24 00:00:00,Odaine Hudson,Bolden/DIA/SNA1/09062022 [v2],New,32,SNA1,14.5,29.0,Internet
1024,"Magnum Insurance Agency Co, Inc",68401,2022-10-21 00:00:00,Odaine Hudson,Magnum Insurance/Cross Connection/ORD4/10062022,New,14,ORD4,100.0,200.0,xConnect
2070,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,2529.75,3373.0,Power
2105,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,-9900.0,-13200.0,Space
2107,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,-1686.0,-2248.0,Power
2117,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,-225.0,-300.0,xConnect
2120,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,8625.0,11500.0,Space
2121,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,3750.0,5000.0,Space
2165,Stats,68850,2022-10-17 00:00:00,Odaine Hudson,Stats/Renewal/ORD2/07062022 [v2],Renewal,12,ORD2,56.25,75.0,xConnect
111111,Total Bookings:,5919.0,,,,,,,,,
111112,Total Payout:,4009.5,,,,,,,,,

In [96]:
odaine_hudson.to_excel(os.path.join('../Output','Hudson_October_2022.xlsx'), index=False)

#### End Odaine Hudson

### Andrew Ramirez

In [97]:
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
andrew_ramirez.loc[andrew_ramirez['Service Type'].isin(['Managed Services']) & andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [98]:
andrew_ramirez.drop(andrew_ramirez[andrew_ramirez.MRR == 0.0].index, inplace=True)

In [99]:
andrew_ramirez['payout'].sum()

10917.075

In [100]:
ram_bookings = andrew_ramirez['MRR'].sum()

In [101]:
ram_pay = andrew_ramirez['payout'].sum()

In [102]:
andrew_ramirez

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
149,Axcient,66827,2022-10-25,Andrew Ramirez,Axcient/Renewal/ATL2/04082022,Renewal,38,ATL2,37819.5000,50426.00,Space
254,Axcient,66827,2022-10-25,Andrew Ramirez,Axcient/Renewal/ATL2/04082022,Renewal,38,ATL2,-17737.5000,-23650.00,Space
309,Axcient,66827,2022-10-25,Andrew Ramirez,Axcient/Renewal/ATL2/04082022,Renewal,38,ATL2,-12093.7500,-16125.00,Space
332,Axess Americas Inc,65093,2022-10-18,Andrew Ramirez,Axess Americas - Cab Upgrade - SLC2 - 08052022,Change Order,23,SLC2,-163.9125,-218.55,Space
334,Axess Americas Inc,65093,2022-10-18,Andrew Ramirez,Axess Americas - Cab Upgrade - SLC2 - 08052022,Change Order,23,SLC2,-245.8650,-327.82,Power
335,Axess Americas Inc,65093,2022-10-18,Andrew Ramirez,Axess Americas - Cab Upgrade - SLC2 - 08052022,Change Order,23,SLC2,-122.9325,-163.91,Power
337,Axess Americas Inc,65093,2022-10-18,Andrew Ramirez,Axess Americas - Cab Upgrade - SLC2 - 08052022,Change Order,23,SLC2,255.0000,340.00,Space
339,Axess Americas Inc,65093,2022-10-18,Andrew Ramirez,Axess Americas - Cab Upgrade - SLC2 - 08052022,Change Order,23,SLC2,431.2500,575.00,Power
340,Axess Americas Inc,65093,2022-10-18,Andrew Ramirez,Axess Americas - Cab Upgrade - SLC2 - 08052022,Change Order,23,SLC2,213.7500,285.00,Power
426,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,12.7500,25.50,Managed Services
427,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,40.8000,81.60,Managed Services
428,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,43.5200,87.04,Managed Services
431,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,78.0000,156.00,Managed Services
432,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,106.2500,212.50,Managed Services
435,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,10.2000,20.40,Managed Services
436,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,6.3750,12.75,Managed Services
437,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,4.2500,8.50,Managed Services
440,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,42.0750,84.15,Managed Services
442,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,4.4900,8.98,Managed Services
449,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,21.2500,42.50,Internet
451,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,12.3250,24.65,Internet
453,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,148.7500,297.50,xConnect
456,"Bulk Loads Now, LLC",68009,2022-10-14,Andrew Ramirez,Bulk Loads - DRaaS - MCI2 - 09292022,New,24,MCI2,85.0000,170.00,xConnect
464,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,255.0000,340.00,Space
466,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,225.0000,300.00,Power
467,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,112.5000,150.00,Power
468,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,75.0000,100.00,xConnect
469,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,75.0000,100.00,xConnect
470,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,93.7500,125.00,Internet
472,CATO Networks DataBank,59115,2022-10-31,Andrew Ramirez,Cato - DataBank Colocation - SLC2 - 06032022,New,26,SLC2,9.7500,13.00,Internet
1872,Ritter Communications,66725,2022-10-30,Andrew Ramirez,Ritter Communications/Fiber Run West Side Inne...,Change Order,118,MEM1,562.5000,750.00,xConnect
2053,State Of Illinois,69730,2022-10-30,Andrew Ramirez,State of Illinois- Cage 217 - Order 59082 Revi...,Change Order,18,ORD4,2800.0000,5600.00,Space
2054,State Of Illinois,69730,2022-10-30,Andrew Ramirez,State of Illinois- Cage 217 - Order 59082 Revi...,Change Order,18,ORD4,287.0000,574.00,Space
2065,State Of Illinois,69730,2022-10-30,Andrew Ramirez,State of Illinois- Cage 217 - Order 59082 Revi...,Change Order,18,ORD4,-2800.0000,-5600.00,Space
2346,UBX Cloud,69748,2022-10-31,Andrew Ramirez,UBX Cloud - Lumen XC - DEN2 - 10312022,Change Order,21,DEN2,25.0000,50.00,xConnect
2356,Utah Broadband,69656,2022-10-31,Andrew Ramirez,Utah Broadband - Megaport Port Upgrade/HE XC -...,Change Order,12,SLC2,112.5000,150.00,Internet
2357,Utah Broadband,69656,2022-10-31,Andrew Ramirez,Utah Broadband - Megaport Port Upgrade/HE XC -...,Change Order,12,SLC2,112.5000,150.00,xConnect

In [103]:
andrew_ramirez.loc[111111] = ['Total Bookings:', ram_bookings, '', '' ,'','','','','','','']

In [104]:
andrew_ramirez.loc[111112] = ['Total Payout:', ram_pay, '', '' ,'','','','','','','']

In [105]:
andrew_ramirez.to_excel(os.path.join('../Output','Ramirez_October_2022.xlsx'), index=False)

#### End Andrew Ramirez

### Carlie Matel

In [106]:
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
carlie_matel.loc[carlie_matel['Service Type'].isin(['Managed Services']) & carlie_matel['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [107]:
carlie_matel.drop(carlie_matel[carlie_matel.MRR == 0.0].index, inplace=True)

In [108]:
carlie_matel['payout'].sum()

592.3999999999999

In [109]:
mat_bookings = carlie_matel['MRR'].sum()

In [110]:
mat_pay = carlie_matel['payout'].sum()

In [111]:
carlie_matel.loc[111111] = ['Total Bookings:', mat_bookings, '', '' ,'','','','','','','']

In [112]:
carlie_matel.loc[111112] = ['Total Payout:', mat_pay, '', '' ,'','','','','','','']

In [113]:
carlie_matel.to_excel(os.path.join('../Output','Matel_October_2022.xlsx'), index=False)

#### End Carlie Matel

### Jonathan Malcolm

In [114]:
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
jonathan_malcolm.loc[jonathan_malcolm['Service Type'].isin(['Managed Services']) & jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [115]:
jonathan_malcolm.drop(jonathan_malcolm[jonathan_malcolm.MRR == 0.0].index, inplace=True)

In [116]:
jonathan_malcolm['payout'].sum()

185.9899999999998

In [117]:
mal_bookings = jonathan_malcolm['MRR'].sum()

In [118]:
mal_pay = jonathan_malcolm['payout'].sum()

In [119]:
jonathan_malcolm.loc[111111] = ['Total Bookings:', mal_bookings, '', '' ,'','','','','','','']

In [120]:
jonathan_malcolm.loc[111112] = ['Total Payout:', mal_pay, '', '' ,'','','','','','','']

In [121]:
jonathan_malcolm.to_excel(os.path.join('../Output','Malcolm_October_2022.xlsx'), index=False)

#### End Jonathan Malcolm

### Mike Miceli

In [122]:
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
mike_miceli.loc[mike_miceli['Service Type'].isin(['Managed Services']) & mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [123]:
mike_miceli.drop(mike_miceli[mike_miceli.MRR == 0.0].index, inplace=True)

In [124]:
mike_miceli['payout'].sum()

780.75

In [125]:
mike_bookings = mike_miceli['MRR'].sum()

In [126]:
mike_pay = mike_miceli['payout'].sum()

In [127]:
mike_miceli.loc[111111] = ['Total Bookings:', mike_bookings, '', '' ,'','','','','','','']

In [128]:
mike_miceli.loc[111112] = ['Total Payout:', mike_pay, '', '' ,'','','','','','','']

In [129]:
mike_miceli.to_excel(os.path.join('../Output','Miceli_October_2022.xlsx'), index=False)

#### End Mike Miceli

### Tiffany Dunson

In [130]:
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5
tiffany_dunson.loc[tiffany_dunson['Service Type'].isin(['Managed Services']) & tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .66666667

In [131]:
tiffany_dunson.drop(tiffany_dunson[tiffany_dunson.MRR == 0.0].index, inplace=True)

In [132]:
tiffany_dunson['payout'].sum()

1621.1999999999998

In [133]:
tiff_bookings = tiffany_dunson['MRR'].sum()

In [134]:
tiff_pay = tiffany_dunson['payout'].sum()

In [135]:
tiffany_dunson.loc[111111] = ['Total Bookings:', tiff_bookings, '', '' ,'','','','','','','']

In [136]:
tiffany_dunson.loc[111112] = ['Total Payout:', tiff_pay, '', '' ,'','','','','','','']

In [137]:
tiffany_dunson.to_excel(os.path.join('../Output','Dunson_October_2022.xlsx'), index=False)

#### End Tiffany Dunson

### Brandon Peccorolo

In [138]:
pecc = hud_bookings + ram_bookings + mat_bookings + mal_bookings + mike_bookings + tiff_bookings

In [139]:
pecc

26531.92

In [149]:
pecc_pay = (pecc/30000)*6000

In [167]:
pecc_percent = (pecc/30000)

In [150]:
pecc_pay

5306.383999999999

In [174]:
brandon_peccorolo.loc[100] = ['Monthly Team Commission','Formula Used: (X/30000)*6000 ', 'Quota %', pecc_percent, 'Payout:' , pecc_pay,'','','','','']

In [175]:
brandon_peccorolo

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
100,Monthly Team Commission,Formula Used: (X/30000)*6000,Quota %,0.884397,Payout:,5306.384,,,,,

In [ ]:
print('Done')