### Data Clean & Setup

In [19]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
#import pdfkit
pd.options.mode.chained_assignment = None

In [21]:
#eoq = input('Is this the end of a quarter? (imput y or n)')

Is this the end of a quarter? (imput y or n) n

In [28]:
ep1 = pd.read_excel('epicor_datavf.xlsx')

In [23]:
ep1.head(1)

,Organization,Order #,Order Date,Salesman,Opportunity Type,Order Summary,Item Code,Term,Datacenter,payout,MRR,Service Type
0,Able IT Pros,44915,2022-05-11,Carlie Matel,Change Order,Able IT Pros- Increase Storage - DFW3 - 5/11/22,Managed Services : Cloud : IaaS/PaaS-1GB RAM,23.0,DFW3,26.27,26.27,Managed Services

In [24]:
ep1.columns

Index(['Organization', 'Order #', 'Order Date', 'Salesman', 'Opportunity Type',
       'Order Summary', 'Item Code', 'Term', 'Datacenter', 'payout', 'MRR',
       'Service Type'],
      dtype='object')

In [25]:
ep1.dtypes

Organization                object
Order #                     object
Order Date          datetime64[ns]
Salesman                    object
Opportunity Type            object
Order Summary               object
Item Code                   object
Term                       float64
Datacenter                  object
payout                     float64
MRR                        float64
Service Type                object
dtype: object

#### Clean Data

In [26]:
ep1.head()

,Organization,Order #,Order Date,Salesman,Opportunity Type,Order Summary,Item Code,Term,Datacenter,payout,MRR,Service Type
0,Able IT Pros,44915,2022-05-11,Carlie Matel,Change Order,Able IT Pros- Increase Storage - DFW3 - 5/11/22,Managed Services : Cloud : IaaS/PaaS-1GB RAM,23.0,DFW3,26.27,26.27,Managed Services
1,Able IT Pros,44915,2022-05-11,Carlie Matel,Change Order,Able IT Pros- Increase Storage - DFW3 - 5/11/22,Managed Services : Storage : Tier1 : Encrypted,23.0,DFW3,42.50,42.50,Managed Services
2,Agile Networks,45358,2022-05-31,Bernard Petfield,Change Order,Agile Networks / Cross Connect / IND1 /05272022,Cross Connect : SMF,36.0,IND1,200.00,200.00,Managed Services
3,Agile Networks,45358,2022-05-31,Bernard Petfield,Change Order,Agile Networks / Cross Connect / IND1 /05272022,3rd Party Cross Connect Other,36.0,IND1,250.00,250.00,Managed Services
4,"All Information Services, Inc.",44809,2022-05-06,Jonathan Malcolm,Existing,All Information Services/Cross Connect/ORD4/05...,Cross Connect : SMF,12.0,ORD4,200.00,200.00,xConnect

### AMW

#### Olidaine Hudson

In [ ]:
odaine_hudson = ep1[ep1['Salesman'] == 'Odaine Hudson']

In [ ]:
odaine_hudson.columns

In [ ]:
odaine_hudson.head(1)

In [22]:
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
print(hudson)

In [ ]:
odaine_hudson.loc[1111] = ['Comissions Payout:', hudson, '','','','','','','','',''.'']

In [ ]:
#odaine_hudson.to_excel('testing.xlsx')

##### End Olidane Hudson

#### Andrew Ramirez

In [7]:
andrew_ramirez= ep1[ep1['Salesman'] == 'Andrew Ramirez']

In [8]:
(andrew_ramirez['payout'].sum())

3029.68

In [9]:
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [1]:
andrew_ramirez.head(1)

NameError: name 'andrew_ramirez' is not defined

In [11]:
(andrew_ramirez['payout'].sum())

2141.01

In [ ]:
andrew_ramirez.to_excel('yeeting.xlsx')

In [ ]:
#ramirez = (andrew_ramirez['payout'].sum())

In [ ]:
#print(ramirez)

In [ ]:
print(ramirez)

In [ ]:
### End

In [ ]:
####MATELLLLLLL

#### Jonathan Malcolm

In [9]:
jonathan_malcolm = ep1[ep1['Salesman'] == 'Jonathan Malcolm']

In [10]:
(jonathan_malcolm['payout'].sum())

1491.32

In [22]:
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [14]:
malcolm_payout = (jonathan_malcolm['payout'].sum())

In [15]:
jonathan_malcolm.loc[111111] = ['Payout:', malcolm_payout , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [16]:
#jonathan_malcolm.to_excel('malc.xlsx', index=False)

##### End Jonathan Malcolm

#### Mike Miceli

In [19]:
mike_miceli = ep1[ep1['Salesman'] == 'Mike Miceli']

In [21]:
(mike_miceli['payout'].sum())

922.9

In [23]:
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
miceli_payout = (mike_miceli['payout'].sum())

In [ ]:
mike_miceli.loc[111111] = ['Payout:', miceli_payout , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#mike_miceli.to_excel('malc.xlsx', index=False)

##### End Mike Miceli

#### Tiffany Dunson

In [24]:
tiffany_dunson = ep1[ep1['Salesman'] == 'Tiffany Dunson']

In [25]:
(tiffany_dunson['payout'].sum())

3875.0

In [26]:
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [27]:
dunson_payout = (tiffany_dunson['payout'].sum())

In [28]:
tiffany_dunson.loc[111111] = ['Payout:', dunson_payout , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#tiffany_dunson.to_excel('malc.xlsx', index=False)

##### End Tiffany Dunson

#### Pecooralo

### Patrick Chapa

In [11]:
patrick_chapa = ep1[ep1['Salesman'] == 'Patrick Chapa']

In [12]:
patrick_chapa.head()

,Organization,Order #,Order Date,Salesman,Opportunity Type,Order Summary,Item Code,Item Name,Datacenter,payout,MRR,Service Type
204,Comcast,45269,2022-05-26,Patrick Chapa,Existing,Online Order: Riser: EWR1: 05/26/2022: Mursal ...,Cross Connect : SMF,Cross Connect - Fiber - Single Mode (SMF),EWR1,300.0,300.0,xConnect

In [18]:
if patrick_chapa['payout'].sum() < 400:
    patrick_chapa['payout'] = 0
else: 
    pass

In [41]:
if patrick_chapa['Service Type'] == 'Managed Services' and patrick_chapa['Term'] == 12:
    print("yeet")
else:
    pass

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [39]:
patrick_chapa.loc[(patrick_chapa['Service Type'] == 'Managed Services') & (patrick_chapa['Term'] == 12), ['payout'] *= 1000

SyntaxError: invalid syntax (Temp/ipykernel_9280/3806780118.py, line 1)