### Data Clean & Setup

In [40]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast

#import pdfkit
pd.options.mode.chained_assignment = None

In [41]:
#eoq = input('Is this the end of a quarter? (imput y or n)')

In [42]:
ep1 = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [43]:
ep1.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12.0,SAN1,100.0,100.0,xConnect

In [44]:
ep1.columns

Index(['Organization', 'Order #', 'Order Date', 'Salesman', 'Order Summary',
       'Type', 'Term', 'Datacenter', 'payout', 'MRR', 'Service Type'],
      dtype='object')

In [45]:
ep1.dtypes

Organization             object
Order #                  object
Order Date       datetime64[ns]
Salesman                 object
Order Summary            object
Type                     object
Term                    float64
Datacenter               object
payout                  float64
MRR                     float64
Service Type             object
dtype: object

#### Clean Data

In [46]:
ep1.head()

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12.0,SAN1,100.0,100.0,xConnect
1,ADP,65630,2022-08-25 14:02:22.043,Paul Attallah,Cross Connect : CAT6E,Change Order,12.0,SAN1,-100.0,-100.0,xConnect
2,ADP,65630,2022-08-25 14:02:22.043,Paul Attallah,Cross Connect : SMF,Change Order,12.0,SAN1,200.0,200.0,xConnect
3,AEG Vision,65793,2022-08-18 17:52:20.030,Mark McCants,Cross Connect : SMF,Agent - Existing,27.0,DFW3,100.0,100.0,xConnect
4,Afiniti Inc.,65824,2022-08-31 14:08:54.787,Phillip Berta,Cross Connect : SMF,New,13.0,IAD1,200.0,200.0,xConnect

In [47]:
dc_services = pd.DataFrame({'Space': [.7, .8, 1.0,1.1, 1.3,1.5],
                   'Power': [.7, .8, 1.0,1.1, 1.3,1.5],
                   'xConnect': [.7, .8, 1.0, 1.1, 1.3,1.5]})
dc_services.set_index(['Space','Power','xConnect']).T
dc_services.index= ['1','2','3','4','5','7']
dc_services = dc_services.T

In [48]:
dc_services

            1    2    3    4    5    7
Space     0.7  0.8  1.0  1.1  1.3  1.5
Power     0.7  0.8  1.0  1.1  1.3  1.5
xConnect  0.7  0.8  1.0  1.1  1.3  1.5

In [49]:
cloud_ms = pd.DataFrame({'Cloud': [.8, .9, 1.0, 1.3, 1.5,1.5],
                   'Managed Services': [.8, .9, 1.0, 1.3, 1.5,1.5],
                   'Software': [0,0,0,0,0,0]})
cloud_ms.set_index(['Cloud','Managed Services','Software']).T
cloud_ms.index= ['1','2','3','4','5','7']
cloud_ms = cloud_ms.T

In [50]:
cloud_ms

                    1    2    3    4    5    7
Cloud             0.8  0.9  1.0  1.3  1.5  1.5
Managed Services  0.8  0.9  1.0  1.3  1.5  1.5
Software          0.0  0.0  0.0  0.0  0.0  0.0

In [51]:
connect_services= pd.DataFrame({'Internet': [.7, .8, 1.0,1.0, 1.2,1.5],
                   'inter-PoP MPLS': [.7, .8, 1.0,1.0, 1.2,1.5],
                   'Resale Telco / IP': [0,0,0,0,0,0]})
connect_services.set_index(['Internet','inter-PoP MPLS','Resale Telco / IP']).T
connect_services.index= ['1','2','3','4','5','7']
connect_services = connect_services.T

In [52]:
connect_services

                     1    2    3    4    5    7
Internet           0.7  0.8  1.0  1.0  1.2  1.5
inter-PoP MPLS     0.7  0.8  1.0  1.0  1.2  1.5
Resale Telco / IP  0.0  0.0  0.0  0.0  0.0  0.0

In [53]:
matrix = [dc_services,cloud_ms,connect_services]

In [54]:
pmatrix = pd.concat(matrix)

In [55]:
pmatrix

                     1    2    3    4    5    7
Space              0.7  0.8  1.0  1.1  1.3  1.5
Power              0.7  0.8  1.0  1.1  1.3  1.5
xConnect           0.7  0.8  1.0  1.1  1.3  1.5
Cloud              0.8  0.9  1.0  1.3  1.5  1.5
Managed Services   0.8  0.9  1.0  1.3  1.5  1.5
Software           0.0  0.0  0.0  0.0  0.0  0.0
Internet           0.7  0.8  1.0  1.0  1.2  1.5
inter-PoP MPLS     0.7  0.8  1.0  1.0  1.2  1.5
Resale Telco / IP  0.0  0.0  0.0  0.0  0.0  0.0

In [56]:
#if data in ep1[ep1['Term']] <= 12

In [57]:
# y or n only
qqq = input('Is this a quarterly')

Is this a quarterly y

### AMW

#### Hudson

In [58]:
odaine_hudson = ep1[ep1['Salesman'] == 'Odaine Hudson']

In [59]:
odaine_hudson

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
630,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417,Odaine Hudson,Cross Connect : CAT6E,New,19.0,ORD4,165.0,165.0,xConnect
631,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417,Odaine Hudson,Cross Connect : CAT6E,New,19.0,ORD4,165.0,165.0,xConnect
1846,Kaiser Permanente - zColo,65733,2022-08-18 13:36:50.387,Odaine Hudson,Cross Connect : SMF,Change Order,12.0,ATL2,200.0,200.0,xConnect
2530,Protera Technologies,65328,2022-08-25 08:53:32.070,Odaine Hudson,Cross Connect : SMF,New,12.0,ORD4,75.0,75.0,xConnect
2531,Protera Technologies,65328,2022-08-25 08:53:32.070,Odaine Hudson,Cross Connect : SMF,New,12.0,ORD4,75.0,75.0,xConnect

In [60]:
(odaine_hudson['payout'].sum())

680.0

In [61]:
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
odaine_hudson.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [32]:
hudson = (odaine_hudson['payout'].sum())

In [62]:
odaine_hudson.loc[1111] = ['Comissions Payout:', hudson, '','','','','','','','','']

In [25]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
odaine_hudson.to_excel('../Output/Hudson.xlsx')

##### End Olidane Hudson

#### Andrew Ramirez

In [26]:
andrew_ramirez = ep1[ep1['Salesman'] == 'Andrew Ramirez']

In [ ]:
(andrew_ramirez['payout'].sum())

In [ ]:
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
andrew_ramirez.head(1)

In [ ]:
(andrew_ramirez['payout'].sum())

In [ ]:
andrew_ramirez.to_excel('yeeting.xlsx')

In [ ]:
#ramirez = (andrew_ramirez['payout'].sum())

In [ ]:
#print(ramirez)

In [ ]:
print(ramirez)

In [ ]:
### End

In [ ]:
####MATELLLLLLL

#### Jonathan Malcolm

In [ ]:
jonathan_malcolm = ep1[ep1['Salesman'] == 'Jonathan Malcolm']

In [ ]:
(jonathan_malcolm['payout'].sum())

In [ ]:
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
malcolm_payout = (jonathan_malcolm['payout'].sum())

In [ ]:
jonathan_malcolm.loc[111111] = ['Payout:', malcolm_payout , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#jonathan_malcolm.to_excel('malc.xlsx', index=False)

##### End Jonathan Malcolm

#### Mike Miceli

In [ ]:
mike_miceli = ep1[ep1['Salesman'] == 'Mike Miceli']

In [ ]:
(mike_miceli['payout'].sum())

In [ ]:
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
miceli_payout = (mike_miceli['payout'].sum())

In [ ]:
mike_miceli.loc[111111] = ['Payout:', miceli_payout , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#mike_miceli.to_excel('malc.xlsx', index=False)

##### End Mike Miceli

#### Tiffany Dunson

In [ ]:
tiffany_dunson = ep1[ep1['Salesman'] == 'Tiffany Dunson']

In [ ]:
(tiffany_dunson['payout'].sum())

In [ ]:
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
dunson_payout = (tiffany_dunson['payout'].sum())

In [ ]:
tiffany_dunson.loc[111111] = ['Payout:', dunson_payout , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#tiffany_dunson.to_excel('malc.xlsx', index=False)

##### End Tiffany Dunson

#### Pecooralo

### Patrick Chapa

In [ ]:
patrick_chapa = ep1[ep1['Salesman'] == 'Patrick Chapa']

In [ ]:
patrick_chapa.head()

In [ ]:
if patrick_chapa['payout'].sum() < 400:
    patrick_chapa['payout'] = 0
else: 
    pass

In [ ]:
if patrick_chapa['Service Type'] == 'Managed Services' and patrick_chapa['Term'] == 12:
    print("yeet")
else:
    pass

In [ ]:
patrick_chapa.loc[(patrick_chapa['Service Type'] == 'Managed Services') & (patrick_chapa['Term'] == 12), ['payout'] *= 1000