### Data Clean & Setup

In [1]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast

#import pdfkit
pd.options.mode.chained_assignment = None

In [2]:
#eoq = input('Is this the end of a quarter? (imput y or n)')

In [3]:
ep1 = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [4]:
ep1.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12.0,SAN1,100.0,100.0,xConnect

In [5]:
ep1.columns

Index(['Organization', 'Order #', 'Order Date', 'Salesman', 'Order Summary',
       'Type', 'Term', 'Datacenter', 'payout', 'MRR', 'Service Type'],
      dtype='object')

In [6]:
ep1.dtypes

Organization             object
Order #                  object
Order Date       datetime64[ns]
Salesman                 object
Order Summary            object
Type                     object
Term                    float64
Datacenter               object
payout                  float64
MRR                     float64
Service Type             object
dtype: object

#### Clean Data

In [8]:
ep1.head()

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12.0,SAN1,100.0,100.0,xConnect
1,ADP,65630,2022-08-25 14:02:22.043,Paul Attallah,Cross Connect : CAT6E,Change Order,12.0,SAN1,-100.0,-100.0,xConnect
2,ADP,65630,2022-08-25 14:02:22.043,Paul Attallah,Cross Connect : SMF,Change Order,12.0,SAN1,200.0,200.0,xConnect
3,AEG Vision,65793,2022-08-18 17:52:20.030,Mark McCants,Cross Connect : SMF,Agent - Existing,27.0,DFW3,100.0,100.0,xConnect
4,Afiniti Inc.,65824,2022-08-31 14:08:54.787,Phillip Berta,Cross Connect : SMF,New,13.0,IAD1,200.0,200.0,xConnect

In [9]:
dc_services = pd.DataFrame({'Space': [.7, .8, 1.0,1.1, 1.3,1.5],
                   'Power': [.7, .8, 1.0,1.1, 1.3,1.5],
                   'xConnect': [.7, .8, 1.0, 1.1, 1.3,1.5]})
dc_services.set_index(['Space','Power','xConnect']).T
dc_services.index= ['1','2','3','4','5','7']
dc_services = dc_services.T

In [10]:
dc_services

            1    2    3    4    5    7
Space     0.7  0.8  1.0  1.1  1.3  1.5
Power     0.7  0.8  1.0  1.1  1.3  1.5
xConnect  0.7  0.8  1.0  1.1  1.3  1.5

In [11]:
cloud_ms = pd.DataFrame({'Cloud': [.8, .9, 1.0, 1.3, 1.5,1.5],
                   'Managed Services': [.8, .9, 1.0, 1.3, 1.5,1.5],
                   'Software': [0,0,0,0,0,0]})
cloud_ms.set_index(['Cloud','Managed Services','Software']).T
cloud_ms.index= ['1','2','3','4','5','7']
cloud_ms = cloud_ms.T

In [12]:
cloud_ms

                    1    2    3    4    5    7
Cloud             0.8  0.9  1.0  1.3  1.5  1.5
Managed Services  0.8  0.9  1.0  1.3  1.5  1.5
Software          0.0  0.0  0.0  0.0  0.0  0.0

In [13]:
connect_services= pd.DataFrame({'Internet': [.7, .8, 1.0,1.0, 1.2,1.5],
                   'inter-PoP MPLS': [.7, .8, 1.0,1.0, 1.2,1.5],
                   'Resale Telco / IP': [0,0,0,0,0,0]})
connect_services.set_index(['Internet','inter-PoP MPLS','Resale Telco / IP']).T
connect_services.index= ['1','2','3','4','5','7']
connect_services = connect_services.T

In [14]:
connect_services

                     1    2    3    4    5    7
Internet           0.7  0.8  1.0  1.0  1.2  1.5
inter-PoP MPLS     0.7  0.8  1.0  1.0  1.2  1.5
Resale Telco / IP  0.0  0.0  0.0  0.0  0.0  0.0

In [15]:
matrix = [dc_services,cloud_ms,connect_services]

In [16]:
pmatrix = pd.concat(matrix)

In [17]:
pmatrix

                     1    2    3    4    5    7
Space              0.7  0.8  1.0  1.1  1.3  1.5
Power              0.7  0.8  1.0  1.1  1.3  1.5
xConnect           0.7  0.8  1.0  1.1  1.3  1.5
Cloud              0.8  0.9  1.0  1.3  1.5  1.5
Managed Services   0.8  0.9  1.0  1.3  1.5  1.5
Software           0.0  0.0  0.0  0.0  0.0  0.0
Internet           0.7  0.8  1.0  1.0  1.2  1.5
inter-PoP MPLS     0.7  0.8  1.0  1.0  1.2  1.5
Resale Telco / IP  0.0  0.0  0.0  0.0  0.0  0.0

In [18]:
#if data in ep1[ep1['Term']] <= 12

In [19]:
# y or n only
qqq = input('Is this a quarterly')

Is this a quarterly y

In [20]:
odaine_hudson= ep1[ep1['Salesman'] == 'Odaine Hudson']
andrew_lewis = ep1[ep1['Salesman'] == 'Andrew Lewis']
andrew_ramirez= ep1[ep1['Salesman'] == 'Andrew Ramirez']
angela_rogalski = ep1[ep1['Salesman'] == 'Angela Rogalski']
ashley_waller = ep1[ep1['Salesman'] == 'Ashley Waller ']
bernard_petfield = ep1[ep1['Salesman'] == 'Bernard Petfield']
#Bond, Clint = ep1[ep1['Salesman'] == 'Andrew Lewis']
carlie_matel = ep1[ep1['Salesman'] == 'Carlie Matel']
#Clary, Rob = ep1[ep1['Salesman'] == 'Andrew Lewis']
dan_ephraim= ep1[ep1['Salesman'] == 'Andrew Lewis']
daniel_smith= ep1[ep1['Salesman'] == 'Andrew Lewis']
dennis_wilson = ep1[ep1['Salesman'] == 'pancake']
jacob_zupancic= ep1[ep1['Salesman'] == 'Andrew Lewis']
Jeffrey_Reinis= ep1[ep1['Salesman'] == 'Andrew Lewis']
Jennifer_Bowman= ep1[ep1['Salesman'] == 'Andrew Lewis']
Jonathan_Malcolm= ep1[ep1['Salesman'] == 'Jonathan Malcolm']
Kathy_Geiser= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Knox, Chelsea= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Knutson, Shawn= ep1[ep1['Salesman'] == 'Andrew Lewis']
Krystin_Tagaris= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Lachance, Laura= ep1[ep1['Salesman'] == 'Andrew Lewis']
Mark_McCants= ep1[ep1['Salesman'] == 'Andrew Lewis']
Matt_Horne= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Meyer, Catherine= ep1[ep1['Salesman'] == 'Andrew Lewis']
Michael_DeBetta= ep1[ep1['Salesman'] == 'Andrew Lewis']
Michael_Murray= ep1[ep1['Salesman'] == 'Andrew Lewis']
Michael_Skalitzky= ep1[ep1['Salesman'] == 'Andrew Lewis']
Morgan_Martensen= ep1[ep1['Salesman'] == 'Andrew Lewis']
natalie_farr= ep1[ep1['Salesman'] == 'Natalie Farr']
Phillip_Berta= ep1[ep1['Salesman'] == 'Andrew Lewis']
RJ_Thibodeau= ep1[ep1['Salesman'] == 'Andrew Lewis']
Rebecca_Shaffer= ep1[ep1['Salesman'] == 'Andrew Lewis']
Robert_Doretti= ep1[ep1['Salesman'] == 'Andrew Lewis']
Ronald_Heltemes= ep1[ep1['Salesman'] == 'Andrew Lewis']
Samuel_Mickler= ep1[ep1['Salesman'] == 'Andrew Lewis']
Scott_Palsgrove= ep1[ep1['Salesman'] == 'Andrew Lewis']
Shelby_Locklear= ep1[ep1['Salesman'] == 'Andrew Lewis']
Stephanie_Leyva= ep1[ep1['Salesman'] == 'Andrew Lewis']
Stephen_Muoio = ep1[ep1['Salesman'] == 'Andrew Lewis']
Tiffany_Dunson= ep1[ep1['Salesman'] == 'Andrew Lewis']
Tim_Langan = ep1[ep1['Salesman'] == 'Andrew Lewis']
Trey_Hardeman = ep1[ep1['Salesman'] == 'Andrew Lewis']

### Managed services

In [7]:
msdata = pd.read_excel('../excel_sheets/managed_services.xlsx')

In [8]:
msdata.head()

              Names  Gross MRR
0  Jonathan Malcolm        0.0
1  Jonathan Malcolm        0.0
2  Jonathan Malcolm        0.0
3  Jonathan Malcolm        0.0
4  Jonathan Malcolm        0.0

In [9]:
msdata.groupby(['Names']).sum()

                     Gross MRR
Names
Andrew Ramirez       51.000000
Carlie Matel      25586.199000
Jonathan Malcolm    488.960000
Mark McCants         25.000000
Matt Horne         6693.915000
Mike Miceli         261.500000
Morgan Martensen   7313.617500
Natalie Farr       2799.380000
Odaine Hudson       250.000000
Phillip Berta       589.220800
Rebecca Shaffer      75.000000
Ronald Heltemes      43.480000
Shelby Locklear     161.530000
Stephen Muoio       211.305700
Trey Hardeman      2368.168264
ZGS                2091.060000

In [25]:
## Hjerpe

### AMW

#### Oladine Hudson

In [43]:
odaine_hudson = ep1[ep1['Salesman'] == 'Odaine Hudson']

In [44]:
hudsonMS = msdata[msdata['Names'] == 'Odaine Hudson']
qqq = 'y'
if qqq == "y":
    hudsonMSS = hudsonMS.drop(columns=['Names'])
    hudsonMSSS = hudsonMSS.sum()
    hudsonMSSS
    hudson_quarterly = (hudsonMSSS/5000)*3000
    odaine_hudson.loc[1110] = ['Hudson Managed Services Payout:', hudson_quarterly, '','','','','','','',0,'']
    
else:
    pass

In [45]:
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [46]:
odaine_hudson

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
630,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417000,Odaine Hudson,Cross Connect : CAT6E,New,19.0,ORD4,82.5,165.0,xConnect
631,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417000,Odaine Hudson,Cross Connect : CAT6E,New,19.0,ORD4,82.5,165.0,xConnect
1846,Kaiser Permanente - zColo,65733,2022-08-18 13:36:50.387000,Odaine Hudson,Cross Connect : SMF,Change Order,12.0,ATL2,150.0,200.0,xConnect
2530,Protera Technologies,65328,2022-08-25 08:53:32.070000,Odaine Hudson,Cross Connect : SMF,New,12.0,ORD4,37.5,75.0,xConnect
2531,Protera Technologies,65328,2022-08-25 08:53:32.070000,Odaine Hudson,Cross Connect : SMF,New,12.0,ORD4,37.5,75.0,xConnect
1110,Hudson Managed Services Payout:,Gross MRR 150.0 dtype: float64,,,,,,,,0.0,

In [47]:
#odaine_hudson.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= 1.75
# if he gets new logo... Ask monte

In [48]:
hudsonn = (odaine_hudson['payout'].sum())
if qqq == "y":
    hudson = hudsonn + hudson_quarterly
else:
    pass

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [49]:
odaine_hudson.loc[1111] = ['Comissions Payout:', hudson, '','','','','','','',0,'']

In [50]:
odaine_hudson.to_excel('../Output/Hudson.xlsx')

##### End Olidane Hudson

#### Andrew Ramirez

In [491]:
andrew_ramirez = ep1[ep1['Salesman'] == 'Andrew Ramirez']

In [492]:
(andrew_ramirez['payout'].sum())

13109.350000000002

In [493]:
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [494]:
#andrew_ramirez.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= 1.75

In [495]:
andrew_ramirez.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
333,Axcient,62026,2022-08-09 15:39:25.980,Andrew Ramirez,Cross Connect : SMF,Change Order,21.0,ATL2,112.5,150.0,xConnect

In [496]:
ramirez = (andrew_ramirez['payout'].sum())

In [699]:
andrew_ramirez.loc[1111] = ['Comissions Payout:', ramirez, '','','','','','','',0,'']

In [498]:

if qqq == "y":
    pass
else:
    pass

In [499]:
andrew_ramirez.to_excel('Ramirez_September_2022.xlsx')

#### Carlie Matel

In [500]:
carlie_matel = ep1[ep1['Salesman'] == 'Carlie Matel']

In [501]:
(carlie_matel['payout'].sum())

2696.928

In [502]:
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [503]:
#carlie_matel.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= 1.75

In [504]:
carlie_matel.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
1318,"First Digital Telecom, LLC",65059,2022-08-05 12:25:57.160,Carlie Matel,Cross Connect : SMF,Existing,12.0,SLC2,150.0,200.0,xConnect

In [505]:
matel = (carlie_matel['payout'].sum())

In [700]:
carlie_matel.loc[1111] = ['Comissions Payout:', matel, '','','','','','','',0,'']

In [507]:
if qqq == "y":
    pass
else:
    pass

In [508]:
carlie_matel.to_excel('Matel_September_2022.xlsx')

#### Jonathan Malcolm

In [509]:
jonathan_malcolm = ep1[ep1['Salesman'] == 'Jonathan Malcolm']

In [510]:
(jonathan_malcolm['payout'].sum())

9227.71

In [511]:
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [512]:
#andrew_ramirez.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [513]:
malcolm = (jonathan_malcolm['payout'].sum())

In [514]:
if qqq == "y":
    pass
else:
    pass

In [697]:
jonathan_malcolm.loc[111111] = ['Payout:', malcolm , '' , '' , '' , '' , '' , '' , '' , 0 , '' ]

In [516]:
#jonathan_malcolm.to_excel('malcolm_September_2022.xlsx', index=False)

##### End Jonathan Malcolm

#### Mike Miceli

In [517]:
mike_miceli = ep1[ep1['Salesman'] == 'Mike Miceli']

In [518]:
(mike_miceli['payout'].sum())

2228.0

In [519]:
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [520]:
#mike_miceli.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [521]:
miceli = (mike_miceli['payout'].sum())

In [522]:
if qqq == "y":
    pass
else:
    pass

In [696]:
mike_miceli.loc[111111] = ['Payout:', miceli , '' , '' , '' , '' , '' , '' , '' , 0 , '' ]

In [524]:
#mike_miceli.to_excel('Miceli_September_2022.xlsx', index=False)

##### End Mike Miceli

#### Tiffany Dunson

In [525]:
tiffany_dunson = ep1[ep1['Salesman'] == 'Tiffany Dunson']

In [526]:
(tiffany_dunson['payout'].sum())

11110.0

In [527]:
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [528]:
#mike_miceli.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [529]:
dunson = (tiffany_dunson['payout'].sum())

In [530]:
if qqq == "y":
    pass
else:
    pass

In [695]:
tiffany_dunson.loc[111111] = ['Payout:', dunson , '' , '' , '' , '' , '' , '' , '' , 0 , '']

In [532]:
#tiffany_dunson.to_excel('Dunson_September_2022.xlsx', index=False)

##### End Tiffany Dunson

#### Peccoralo

In [701]:
peccoralo_monthly = tiffany_dunson['MRR'].sum() + mike_miceli['MRR'].sum() + jonathan_malcolm['MRR'].sum() + carlie_matel['MRR'].sum() + andrew_ramirez['MRR'].sum() + odaine_hudson['MRR'].sum()

In [534]:
(peccoralo_monthly / 30000) * 6000

In [535]:
brandon_peccoralo = ep1[ep1['Salesman'] == 'Brandon Peccoralo']

In [536]:
if qqq == "y":
    pass
else:
    pass

### AME

#### Samuel Mickler

In [602]:
samuel_mickler = ep1[ep1['Salesman'] == 'Samuel Mickler']

In [603]:
(samuel_mickler['payout'].sum())

1537.4650000000001

In [604]:
samuel_mickler.loc[samuel_mickler['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
samuel_mickler.loc[samuel_mickler['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [605]:
#mike_miceli.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [606]:
mickler = (samuel_mickler['payout'].sum())

In [607]:
if qqq == "y":
    pass
else:
    pass

In [608]:
samuel_mickler.loc[111111] = ['Payout:', mickler , '' , '' , '' , '' , '' , '' , '' , 0 , '' ]

In [609]:
#samuel_mickler.to_excel('Mickler_September_2022.xlsx', index=False)

##### End Sam Mickler

#### Hardeman

In [610]:
trey_hardeman = ep1[ep1['Salesman'] == 'Trey Hardeman']

In [611]:
(trey_hardeman['payout'].sum())

4538.23

In [612]:
trey_hardeman.loc[trey_hardeman['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
trey_hardeman.loc[trey_hardeman['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [613]:
#trey_hardeman.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [614]:
hardeman = (trey_hardeman['payout'].sum())

In [615]:
if qqq == "y":
    pass
else:
    pass

In [616]:
trey_hardeman.loc[111111] = ['Payout:', hardeman , '' , '' , '' , '' , '' , '' , '' , 0 , '' ]

In [617]:
#trey_hardeman.to_excel('Hardeman_September_2022.xlsx', index=False)

##### End Trey Hardeman

#### Natalie Farr

In [618]:
natalie_farr = ep1[ep1['Salesman'] == 'Natalie Farr']

In [619]:
(natalie_farr['payout'].sum())

1623.0276

In [620]:
natalie_farr.loc[natalie_farr['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
natalie_farr.loc[natalie_farr['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [621]:
#natalie_farr.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [622]:
farr = (natalie_farr['payout'].sum())

In [623]:
if qqq == "y":
    pass
else:
    pass

In [624]:
natalie_farr.loc[111111] = ['Payout:', farr , '' , '' , '' , '' , '' , '' , '' , 0 , '']

In [625]:
#natalie_farr.to_excel('Farr_September_2022.xlsx', index=False)

##### End Natalie Farr

#### Shelby Locklear

In [626]:
shelby_locklear = ep1[ep1['Salesman'] == 'Shelby Locklear']

In [627]:
(shelby_locklear['payout'].sum())

7990.9585

In [628]:
shelby_locklear.loc[shelby_locklear['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
shelby_locklear.loc[shelby_locklear['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [629]:
#natalie_farr.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [630]:
locklear = (shelby_locklear['payout'].sum())

In [631]:
if qqq == "y":
    pass
else:
    pass

In [632]:
shelby_locklear.loc[111111] = ['Payout:', locklear , '' , '' , '' , '' , '' , '' , '' , 0 , '']

In [633]:
#shelby_locklear.to_excel('Farr_September_2022.xlsx', index=False)

##### End Shelby Locklear

#### Kathy Geiser

In [634]:
kathy_geiser = ep1[ep1['Salesman'] == 'Kathy J Geiser']

In [635]:
(kathy_geiser['payout'].sum())

8400.0

In [636]:
kathy_geiser.loc[kathy_geiser['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
kathy_geiser.loc[kathy_geiser['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [637]:
#kathy_geiser.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [638]:
geiser = (kathy_geiser['payout'].sum())

In [639]:
if qqq == "y":
    pass
else:
    pass

In [640]:
kathy_geiser.loc[111111] = ['Payout:', geiser , '' , '' , '' , '' , '' , '' , '' , 0 , '']

In [641]:
#kathy_geiser.to_excel('Farr_September_2022.xlsx', index=False)

##### End Kathy Geiser

#### Stephen Muoio

In [642]:
stephen_muoio = ep1[ep1['Salesman'] == 'Stephen Muoio']

In [643]:
(stephen_muoio['payout'].sum())

8863.568000000001

In [644]:
stephen_muoio.loc[stephen_muoio['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
stephen_muoio.loc[stephen_muoio['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [645]:
#stephen_muoio.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [646]:
muoio = (stephen_muoio['payout'].sum())

In [647]:
if qqq == "y":
    pass
else:
    pass

In [648]:
stephen_muoio.loc[111111] = ['Payout:', muoio , '' , '' , '' , '' , '' , '' , '' , 0 , '']

In [649]:
#stephen_muoio.to_excel('Muoio_September_2022.xlsx', index=False)

##### End Stephen Muoio

#### Matt Horne

In [650]:
matt_horne = ep1[ep1['Salesman'] == 'Matt Horne']

In [651]:
(matt_horne['payout'].sum())

12032.0321

In [652]:
matt_horne.loc[matt_horne['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
matt_horne.loc[matt_horne['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [653]:
#matt_horne.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [654]:
horne = (matt_horne['payout'].sum())

In [655]:
if qqq == "y":
    pass
else:
    pass

In [656]:
matt_horne.loc[111111] = ['Payout:', horne , '' , '' , '' , '' , '' , '' , '' , 0 , '']

In [657]:
#matt_horne.to_excel('Horne_September_2022.xlsx', index=False)

##### End Matt Horne

#### Dennis Wilson

In [702]:
wilson_monthly = samuel_mickler['MRR'].sum() + trey_hardeman['MRR'].sum() + natalie_farr['MRR'].sum() + shelby_locklear['MRR'].sum() + kathy_geiser['MRR'].sum() + stephen_muoio['MRR'].sum() + matt_horne['MRR'].sum()

In [703]:
(wilson_monthly / 37000) * 6000

7294.9104648648645

In [ ]:
brandon_peccoralo = ep1[ep1['Salesman'] == 'Brandon Peccoralo']

In [ ]:
if qqq == "y":
    pass
else:
    pass

### Next

#### Patrick Chapa

In [ ]:
patrick_chapa = ep1[ep1['Salesman'] == 'Patrick Chapa']

In [ ]:
patrick_chapa.head()

In [ ]:
if patrick_chapa['payout'].sum() < 400:
    patrick_chapa['payout'] = 0
else: 
    pass

In [ ]:
if patrick_chapa['Service Type'] == 'Managed Services' and patrick_chapa['Term'] == 12:
    print("yeet")
else:
    pass

In [ ]:
patrick_chapa.loc[(patrick_chapa['Service Type'] == 'Managed Services') & (patrick_chapa['Term'] == 12), ['payout'] *= 1000