### Data Clean & Setup

In [1]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast

#import pdfkit
pd.options.mode.chained_assignment = None

In [2]:
#eoq = input('Is this the end of a quarter? (imput y or n)')

In [3]:
ep1 = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [4]:
ep1.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12.0,SAN1,100.0,100.0,xConnect

In [5]:
ep1.columns

Index(['Organization', 'Order #', 'Order Date', 'Salesman', 'Order Summary',
       'Type', 'Term', 'Datacenter', 'payout', 'MRR', 'Service Type'],
      dtype='object')

In [6]:
ep1.dtypes

Organization             object
Order #                  object
Order Date       datetime64[ns]
Salesman                 object
Order Summary            object
Type                     object
Term                    float64
Datacenter               object
payout                  float64
MRR                     float64
Service Type             object
dtype: object

#### Clean Data

In [7]:
ep1.head()

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
0,ADP,62450,2022-08-02 18:25:06.877,Paul Attallah,Cross Connect : CAT6E,New,12.0,SAN1,100.0,100.0,xConnect
1,ADP,65630,2022-08-25 14:02:22.043,Paul Attallah,Cross Connect : CAT6E,Change Order,12.0,SAN1,-100.0,-100.0,xConnect
2,ADP,65630,2022-08-25 14:02:22.043,Paul Attallah,Cross Connect : SMF,Change Order,12.0,SAN1,200.0,200.0,xConnect
3,AEG Vision,65793,2022-08-18 17:52:20.030,Mark McCants,Cross Connect : SMF,Agent - Existing,27.0,DFW3,100.0,100.0,xConnect
4,Afiniti Inc.,65824,2022-08-31 14:08:54.787,Phillip Berta,Cross Connect : SMF,New,13.0,IAD1,200.0,200.0,xConnect

In [8]:
dc_services = pd.DataFrame({'Space': [.7, .8, 1.0,1.1, 1.3,1.5],
                   'Power': [.7, .8, 1.0,1.1, 1.3,1.5],
                   'xConnect': [.7, .8, 1.0, 1.1, 1.3,1.5]})
dc_services.set_index(['Space','Power','xConnect']).T
dc_services.index= ['1','2','3','4','5','7']
dc_services = dc_services.T

In [9]:
dc_services

            1    2    3    4    5    7
Space     0.7  0.8  1.0  1.1  1.3  1.5
Power     0.7  0.8  1.0  1.1  1.3  1.5
xConnect  0.7  0.8  1.0  1.1  1.3  1.5

In [10]:
cloud_ms = pd.DataFrame({'Cloud': [.8, .9, 1.0, 1.3, 1.5,1.5],
                   'Managed Services': [.8, .9, 1.0, 1.3, 1.5,1.5],
                   'Software': [0,0,0,0,0,0]})
cloud_ms.set_index(['Cloud','Managed Services','Software']).T
cloud_ms.index= ['1','2','3','4','5','7']
cloud_ms = cloud_ms.T

In [11]:
cloud_ms

                    1    2    3    4    5    7
Cloud             0.8  0.9  1.0  1.3  1.5  1.5
Managed Services  0.8  0.9  1.0  1.3  1.5  1.5
Software          0.0  0.0  0.0  0.0  0.0  0.0

In [12]:
connect_services= pd.DataFrame({'Internet': [.7, .8, 1.0,1.0, 1.2,1.5],
                   'inter-PoP MPLS': [.7, .8, 1.0,1.0, 1.2,1.5],
                   'Resale Telco / IP': [0,0,0,0,0,0]})
connect_services.set_index(['Internet','inter-PoP MPLS','Resale Telco / IP']).T
connect_services.index= ['1','2','3','4','5','7']
connect_services = connect_services.T

In [13]:
connect_services

                     1    2    3    4    5    7
Internet           0.7  0.8  1.0  1.0  1.2  1.5
inter-PoP MPLS     0.7  0.8  1.0  1.0  1.2  1.5
Resale Telco / IP  0.0  0.0  0.0  0.0  0.0  0.0

In [14]:
matrix = [dc_services,cloud_ms,connect_services]

In [15]:
pmatrix = pd.concat(matrix)

In [16]:
pmatrix

                     1    2    3    4    5    7
Space              0.7  0.8  1.0  1.1  1.3  1.5
Power              0.7  0.8  1.0  1.1  1.3  1.5
xConnect           0.7  0.8  1.0  1.1  1.3  1.5
Cloud              0.8  0.9  1.0  1.3  1.5  1.5
Managed Services   0.8  0.9  1.0  1.3  1.5  1.5
Software           0.0  0.0  0.0  0.0  0.0  0.0
Internet           0.7  0.8  1.0  1.0  1.2  1.5
inter-PoP MPLS     0.7  0.8  1.0  1.0  1.2  1.5
Resale Telco / IP  0.0  0.0  0.0  0.0  0.0  0.0

In [17]:
#if data in ep1[ep1['Term']] <= 12

In [18]:
# y or n only
qqq = input('Is this a quarterly')

Is this a quarterly y

In [19]:
odaine_hudson= ep1[ep1['Salesman'] == 'Odaine Hudson']
andrew_lewis = ep1[ep1['Salesman'] == 'Andrew Lewis']
andrew_ramirez= ep1[ep1['Salesman'] == 'Andrew Ramirez']
angela_rogalski = ep1[ep1['Salesman'] == 'Angela Rogalski']
ashley_waller = ep1[ep1['Salesman'] == 'Ashley Waller ']
bernard_petfield = ep1[ep1['Salesman'] == 'Bernard Petfield']
#Bond, Clint = ep1[ep1['Salesman'] == 'Andrew Lewis']
carlie_matel = ep1[ep1['Salesman'] == 'Carlie Matel']
#Clary, Rob = ep1[ep1['Salesman'] == 'Andrew Lewis']
dan_ephraim= ep1[ep1['Salesman'] == 'Andrew Lewis']
daniel_smith= ep1[ep1['Salesman'] == 'Andrew Lewis']
dennis_wilson = ep1[ep1['Salesman'] == 'pancake']
#Glommen, Troy= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Haley, Richard= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Harter, Vicki= ep1[ep1['Salesman'] == 'Andrew Lewis']
jacob_zupancic= ep1[ep1['Salesman'] == 'Andrew Lewis']
Jeffrey_Reinis= ep1[ep1['Salesman'] == 'Andrew Lewis']
Jennifer_Bowman= ep1[ep1['Salesman'] == 'Andrew Lewis']
Jonathan_Malcolm= ep1[ep1['Salesman'] == 'Jonathan Malcolm']
Kathy_Geiser= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Knox, Chelsea= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Knutson, Shawn= ep1[ep1['Salesman'] == 'Andrew Lewis']
Krystin_Tagaris= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Lachance, Laura= ep1[ep1['Salesman'] == 'Andrew Lewis']
Mark_McCants= ep1[ep1['Salesman'] == 'Andrew Lewis']
Matt_Horne= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Meyer, Catherine= ep1[ep1['Salesman'] == 'Andrew Lewis']
Michael_DeBetta= ep1[ep1['Salesman'] == 'Andrew Lewis']
Michael_Murray= ep1[ep1['Salesman'] == 'Andrew Lewis']
Michael_Skalitzky= ep1[ep1['Salesman'] == 'Andrew Lewis']
Morgan_Martensen= ep1[ep1['Salesman'] == 'Andrew Lewis']
natalie_farr= ep1[ep1['Salesman'] == 'Natalie Farr']
#Padovano, Kathy= ep1[ep1['Salesman'] == 'Andrew Lewis']
Patrick_Chapa= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Peckham, Kim= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Perry, Ben= ep1[ep1['Salesman'] == 'Andrew Lewis']
Phillip_Berta= ep1[ep1['Salesman'] == 'Andrew Lewis']
RJ_Thibodeau= ep1[ep1['Salesman'] == 'Andrew Lewis']
Rebecca_Shaffer= ep1[ep1['Salesman'] == 'Andrew Lewis']
Robert_Doretti= ep1[ep1['Salesman'] == 'Andrew Lewis']
Ronald_Heltemes= ep1[ep1['Salesman'] == 'Andrew Lewis']
Samuel_Mickler= ep1[ep1['Salesman'] == 'Andrew Lewis']
Scott_Palsgrove= ep1[ep1['Salesman'] == 'Andrew Lewis']
Shelby_Locklear= ep1[ep1['Salesman'] == 'Andrew Lewis']
#Smithwick, Keisha= ep1[ep1['Salesman'] == 'Andrew Lewis']
Stephanie_Leyva= ep1[ep1['Salesman'] == 'Andrew Lewis']
Stephen_Muoio = ep1[ep1['Salesman'] == 'Andrew Lewis']
Tiffany_Dunson= ep1[ep1['Salesman'] == 'Andrew Lewis']
Tim_Langan = ep1[ep1['Salesman'] == 'Andrew Lewis']
Trey_Hardeman = ep1[ep1['Salesman'] == 'Andrew Lewis']
#Wallace, Denise = ep1[ep1['Salesman'] == 'Andrew Lewis']

### AMW

#### Oladine Hudson

In [52]:
(odaine_hudson['payout'].sum())

680.0

In [53]:
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
odaine_hudson.loc[odaine_hudson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [54]:
odaine_hudson

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
630,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417,Odaine Hudson,Cross Connect : CAT6E,New,19.0,ORD4,82.5,165.0,xConnect
631,Cobius Healthcare Solutions,66502,2022-08-31 12:00:10.417,Odaine Hudson,Cross Connect : CAT6E,New,19.0,ORD4,82.5,165.0,xConnect
1846,Kaiser Permanente - zColo,65733,2022-08-18 13:36:50.387,Odaine Hudson,Cross Connect : SMF,Change Order,12.0,ATL2,150.0,200.0,xConnect
2530,Protera Technologies,65328,2022-08-25 08:53:32.070,Odaine Hudson,Cross Connect : SMF,New,12.0,ORD4,37.5,75.0,xConnect
2531,Protera Technologies,65328,2022-08-25 08:53:32.070,Odaine Hudson,Cross Connect : SMF,New,12.0,ORD4,37.5,75.0,xConnect

In [29]:
#odaine_hudson.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= 1.75
# if he gets new logo... Ask monte

In [25]:
hudson = (odaine_hudson['payout'].sum())

In [26]:
odaine_hudson.loc[1111] = ['Comissions Payout:', hudson, '','','','','','','','','']

In [25]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
odaine_hudson.to_excel('../Output/Hudson.xlsx')

##### End Olidane Hudson

#### Andrew Ramirez

In [21]:
andrew_ramirez = ep1[ep1['Salesman'] == 'Andrew Ramirez']

In [22]:
(andrew_ramirez['payout'].sum())

13109.350000000002

In [23]:
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
andrew_ramirez.loc[andrew_ramirez['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [24]:
#andrew_ramirez.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= 1.75

In [25]:
andrew_ramirez.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
333,Axcient,62026,2022-08-09 15:39:25.980,Andrew Ramirez,Cross Connect : SMF,Change Order,21.0,ATL2,112.5,150.0,xConnect

In [31]:
ramirez = (andrew_ramirez['payout'].sum())

In [ ]:
andrew_ramirez.loc[1111] = ['Comissions Payout:', ramirez, '','','','','','','','','']

In [ ]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
andrew_ramirez.to_excel('Ramirez_September_2022.xlsx')

#### Carlie Matel

In [27]:
carlie_matel = ep1[ep1['Salesman'] == 'Carlie Matel']

In [28]:
(carlie_matel['payout'].sum())

2696.928

In [29]:
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
carlie_matel.loc[carlie_matel['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [24]:
#carlie_matel.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= 1.75

In [25]:
carlie_matel.head(1)

,Organization,Order #,Order Date,Salesman,Order Summary,Type,Term,Datacenter,payout,MRR,Service Type
333,Axcient,62026,2022-08-09 15:39:25.980,Andrew Ramirez,Cross Connect : SMF,Change Order,21.0,ATL2,112.5,150.0,xConnect

In [30]:
matel = (carlie_matel['payout'].sum())

In [ ]:
carlie_matel.loc[1111] = ['Comissions Payout:', matel, '','','','','','','','','']

In [ ]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
carlie_matel.to_excel('Matel_September_2022.xlsx')

#### Jonathan Malcolm

In [ ]:
jonathan_malcolm = ep1[ep1['Salesman'] == 'Jonathan Malcolm']

In [ ]:
(jonathan_malcolm['payout'].sum())

In [ ]:
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
jonathan_malcolm.loc[jonathan_malcolm['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
#andrew_ramirez.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [ ]:
malcolm = (jonathan_malcolm['payout'].sum())

In [ ]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
jonathan_malcolm.loc[111111] = ['Payout:', malcolm , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#jonathan_malcolm.to_excel('malcolm_September_2022.xlsx', index=False)

##### End Jonathan Malcolm

#### Mike Miceli

In [32]:
mike_miceli = ep1[ep1['Salesman'] == 'Mike Miceli']

In [33]:
(mike_miceli['payout'].sum())

2228.0

In [ ]:
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
mike_miceli.loc[mike_miceli['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
#mike_miceli.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [ ]:
miceli = (mike_miceli['payout'].sum())

In [ ]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
mike_miceli.loc[111111] = ['Payout:', miceli , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#mike_miceli.to_excel('Miceli_September_2022.xlsx', index=False)

##### End Mike Miceli

#### Tiffany Dunson

In [37]:
tiffany_dunson = ep1[ep1['Salesman'] == 'Tiffany Dunson']

In [38]:
(tiffany_dunson['payout'].sum())

11110.0

In [ ]:
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL2','ACT1','AUS1','CLE1','DEN1','DEN4','DFW1','DFW2','DFW6','DFW7','EWR2','IAD2','KC2','MEM1','MSP1','LHR1','ORD2','ORD3','PHX1','SEA2','SLC1','SLC2']), 'payout'] *= .75
tiffany_dunson.loc[tiffany_dunson['Datacenter'].isin(['ATL1', 'ATL3', 'BOS1', 'BWI1', 'DEN2', 'DEN3', 'DFW3','DFW4', 'DFW5','EWR1','IAD1','IND1','IND2','LAS1','LAX1','LGA1','LGA2','MCI1','MCI2','MCI3','MIA1','MSP2','MSP3','MSP4','ORD1','ORD4','PHL1','PHX2','PHX3','PIT1','PIT2','SAN1','SAN2','SEA1','SFO1','SLC3','SLC4','SLC5','SNA1','SNA2','PAR1','PAR2','PAR3','MPL1','TLS1']), 'payout'] *= .5

In [ ]:
#mike_miceli.loc[odaine_hudson['Type'].isin(['New']), 'payout'] *= .75

In [ ]:
dunson = (tiffany_dunson['payout'].sum())

In [ ]:
if qqq == "y":
    pass
else:
    pass

In [ ]:
tiffany_dunson.loc[111111] = ['Payout:', dunson , '' , '' , '' , '' , '' , '' , '' , '' , '' , '']

In [ ]:
#tiffany_dunson.to_excel('Dunson_September_2022.xlsx', index=False)

##### End Tiffany Dunson

#### Pecooralo

#### Patrick Chapa

In [ ]:
patrick_chapa = ep1[ep1['Salesman'] == 'Patrick Chapa']

In [ ]:
patrick_chapa.head()

In [ ]:
if patrick_chapa['payout'].sum() < 400:
    patrick_chapa['payout'] = 0
else: 
    pass

In [ ]:
if patrick_chapa['Service Type'] == 'Managed Services' and patrick_chapa['Term'] == 12:
    print("yeet")
else:
    pass

In [ ]:
patrick_chapa.loc[(patrick_chapa['Service Type'] == 'Managed Services') & (patrick_chapa['Term'] == 12), ['payout'] *= 1000