## Sales Engineers

### All imports will be used / are needed

In [1]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import pdfkit
pd.options.mode.chained_assignment = None
import os.path

### Closed Won With SE

In [2]:
se = pd.read_excel('../excel_sheets/SE.xlsx')

In [3]:
se.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Trading Technologies,Trading Technologies - 6Mo Renewal - ORD1 - 08...,5332.25,2022-08-31 00:00:00,66558,ORD1,Renewal,Closed Won

In [4]:
se.columns

Index(['SE Assigned', 'Account Name', 'Opportunity Name', 'Net Amount',
       'Close Date', 'Order Number', 'Data Centers', 'Type', 'Stage'],
      dtype='object')

In [5]:
for names in se['SE Assigned'].drop_duplicates():
    print(names)

Anthony McCloud
Subtotal
Brendon Yoder
nan
Christopher Chandler
Daniel Bartholomew
Eric Wooster
Grady Vogt
Gregory Manning
Greg Ryman
John Davis
Marshall Sapp
Michael Alvaro
Perry Allen
William Brucker

In [6]:
anthony_mccloud = se[se['SE Assigned'] == 'Anthony McCloud']
brendon_yoder = se[se['SE Assigned'] == 'Brendon Yoder']
christopher_chandler = se[se['SE Assigned'] == 'Christopher Chandler']
daniel_bartholomew = se[se['SE Assigned'] == 'Daniel Bartholomew']
eric_wooster = se[se['SE Assigned'] == 'Eric Wooster']
grady_vogt = se[se['SE Assigned'] == 'Grady Vogt']
greg_ryman = se[se['SE Assigned'] == 'Greg Ryman']
greg_shamieh = se[se['SE Assigned'] == 'Greg Shamieh']
marshall_sapp = se[se['SE Assigned'] == 'Marshall Sapp']
michael_alvaro = se[se['SE Assigned'] == 'Michael Alvaro']
perry_allen = se[se['SE Assigned'] == 'Perry Allen']
william_brucker = se[se['SE Assigned'] == 'William Brucker']
greg_manning = se[se['SE Assigned'] == 'Gregory Manning']
john_davis = se[se['SE Assigned'] == 'John Davis']
robert_zimmerman = se[se['SE Assigned'] == 'Robert Zimmerman']
eric_carter = se[se['SE Assigned'] == 'Eric Carter']
#East 
east = greg_shamieh['Net Amount'].sum() + brendon_yoder['Net Amount'].sum() + eric_wooster['Net Amount'].sum() + greg_manning['Net Amount'].sum() + john_davis['Net Amount'].sum() + marshall_sapp['Net Amount'].sum()+ michael_alvaro['Net Amount'].sum()
#eastf = (east/177500)*667

In [7]:
print(east)

149953.11

In [8]:
#West
west = anthony_mccloud['Net Amount'].sum() + christopher_chandler['Net Amount'].sum() + daniel_bartholomew['Net Amount'].sum() + grady_vogt['Net Amount'].sum() + greg_ryman['Net Amount'].sum() + perry_allen['Net Amount'].sum() + william_brucker['Net Amount'].sum()
westf = west/170000

In [9]:
print(westf)

0.9527873529411766

In [10]:
eastf = (east/177500)

In [11]:
print(eastf)

0.8448062535211267

## Robert Zimmerman - East

In [12]:
robert_zimmerman_1  = (east/177500)*3333

In [13]:
zimmerman = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [14]:
zimmerman.loc[1111] = ['Robert Zimmerman', robert_zimmerman_1, eastf , '(east/177500)*3333' ]

In [15]:
print(zimmerman)

                 Name:      Payout:  East Quota %:       Formula Used:
1111  Robert Zimmerman  2815.739243       0.844806  (east/177500)*3333

In [16]:
zimmerman.to_excel(os.path.join('../SE','zimmerman_September_2022.xlsx'), index=False)

### End Zimmerman

### Brendon Yoder - East

In [17]:
brendon_yoder.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
40,Brendon Yoder,"HeiTech Services, Inc",HeiTechServices/IaaS&PaaS/DFW3FedRAMP/8152022,7508.84,2022-08-30 00:00:00,65834,DFW3-FedRAMP,Change Order,Closed Won

In [18]:
yoder_indivdual = brendon_yoder['Net Amount'].sum()

In [19]:
print(yoder_indivdual)

19208.32

In [20]:
yoder_regional = (east/177500)*500

In [21]:
print(yoder_regional)

422.40312676056334

In [22]:
yoder_1 = (brendon_yoder['Net Amount'] * 0.0666).sum() + yoder_regional

In [23]:
print(yoder_1)

1701.6772387605633

In [24]:
brendon_yoder.loc[11111] = ['Total Indivdual Bookings:', yoder_indivdual, '', '' ,'','','','','']

In [25]:
brendon_yoder.loc[11112] = ['Regional Payment:', yoder_regional , '', '' ,'','','','','']

In [26]:
brendon_yoder.loc[11113] = ['Total Payout:', yoder_1, '', '' ,'','','','','']

In [27]:
brendon_yoder.to_excel(os.path.join('../SE','yoder_September_2022.xlsx'), index=False)

#### End Brendon Yoder

### Eric Wooster - East

In [28]:
eric_wooster.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
115,Eric Wooster,Computer Associates of NY,Computer Associates DFW3 08232022,17195.96,2022-08-23 00:00:00,66069,DFW3,Existing,Closed Won

In [29]:
wooster_indivdual = eric_wooster['Net Amount'].sum()

In [30]:
print(wooster_indivdual)

25419.56

In [31]:
wooster_regional = (east/177500)*667

In [32]:
print(wooster_regional)

563.4857710985915

In [33]:
wooster_1 = (eric_wooster['Net Amount'] * 0.0888).sum() + wooster_regional

In [34]:
print(wooster_1)

2820.742699098592

In [35]:
eric_wooster.loc[11111] = ['Total Indivdual Bookings:', wooster_indivdual, '', '' ,'','','','','']

In [36]:
eric_wooster.loc[11112] = ['Regional Payment:', wooster_regional, '', '' ,'','','','','']

In [37]:
eric_wooster.loc[11113] = ['Total Payout:', wooster_1, '', '' ,'','','','','']

In [38]:
eric_wooster.to_excel(os.path.join('../SE','wooster_September_2022.xlsx'), index=False)

#### End Eric Wooster

### Greg Manning - East

In [39]:
greg_manning.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
176,Gregory Manning,Livewire Cloud,Livewire Cloud/1CabColo/ORD4/08012022,1819.0,2022-08-31 00:00:00,66562,ORD4,Existing,Closed Won

In [40]:
manning_indivdual = greg_manning['Net Amount'].sum()

In [41]:
print(manning_indivdual)

9561.94

In [42]:
manning_regional = (east/177500)*750

In [43]:
manning_1 = (greg_manning['Net Amount'] * 0.1).sum() + manning_regional

In [44]:
print(manning_1)

1589.7986901408449

In [45]:
greg_manning.loc[11111] = ['Total Indivdual Bookings:', manning_indivdual, '', '' ,'','','','','']

In [46]:
greg_manning.loc[11112] = ['Regional Payment:', manning_regional, '', '' ,'','','','','']

In [47]:
greg_manning.loc[11113] = ['Total Payout:', manning_1, '', '' ,'','','','','']

In [48]:
greg_manning.to_excel(os.path.join('../SE','manning_September_2022.xlsx'), index=False)

#### End Greg Manning

### John Davis - East

In [49]:
john_davis.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
209,John Davis,Empower Services,Empower-1/2 Cab-DFW3-07112022,2019.0,2022-08-12 00:00:00,65080,DFW3,Agent - New,Closed Won
210,John Davis,Caliber Collision,Caliber-BW Increase-DFW3-07272022,1937.5,2022-08-22 00:00:00,64881,DFW3,Existing,Closed Won
211,John Davis,Kinley Construction,Kinley-HalfCab-08102022,1379.0,2022-08-16 00:00:00,65369,DFW1,Agent - New,Closed Won
212,John Davis,CTGTECH LLC,CTG-HalfCab-DFW1-07202022,1029.0,2022-08-23 00:00:00,64476,DFW1,New,Closed Won
213,John Davis,Targa Resources,Targa/XC/DFW1/08292022,300.0,2022-08-30 00:00:00,66374,DFW1,Existing,Closed Won

In [50]:
davis_indivdual = john_davis['Net Amount'].sum()

In [51]:
print(davis_indivdual)

7900.66

In [52]:
davis_regional = (east/177500)*833.33

In [53]:
print(davis_regional)

704.0023952467606

In [54]:
davis_1 = (john_davis['Net Amount'] * .1111).sum() + davis_regional

In [55]:
print(davis_1)

1581.7657212467604

In [56]:
john_davis.loc[11111] = ['Total Indivdual Bookings:', davis_indivdual, '', '' ,'','','','','']

In [57]:
john_davis.loc[11112] = ['Regional Payment:', davis_regional, '', '' ,'','','','','']

In [58]:
john_davis.loc[11113] = ['Total Payout:', davis_1, '', '' ,'','','','','']

In [59]:
john_davis.to_excel(os.path.join('../SE','davis_September_2022.xlsx'), index=False)

#### End John Davis

### Marshall Sapp - East

In [60]:
marshall_sapp.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
230,Marshall Sapp,Forescout Technologies Inc,Forescout/Colo-expansion/DFW3/06152022,6270.0,2022-08-08 00:00:00,64566,DFW3,Existing,Closed Won

In [61]:
sapp_indivdual = marshall_sapp['Net Amount'].sum()

In [62]:
print(sapp_indivdual)

32374.9

In [63]:
sapp_regional = (east/177500)*833.33

In [64]:
print(sapp_regional)

704.0023952467606

In [65]:
sapp_1 = (marshall_sapp['Net Amount'] * 0.1111).sum() + sapp_regional

In [66]:
print(sapp_1)

4300.853785246761

In [67]:
marshall_sapp.loc[11111] = ['Total Indivdual Bookings:', sapp_indivdual, '', '' ,'','','','','']

In [68]:
marshall_sapp.loc[11112] = ['Regional Payment:', sapp_regional, '', '' ,'','','','','']

In [69]:
marshall_sapp.loc[11113] = ['Total Payout:', sapp_1, '', '' ,'','','','','']

In [70]:
marshall_sapp.to_excel(os.path.join('../SE','sapp_September_2022.xlsx'), index=False)

#### Marshall Sapp

### Mike Alvaro - East

In [71]:
michael_alvaro.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
286,Michael Alvaro,Akamai Technologies,AKMI/Split/Colocation/IAD1/16 Linode Racks - P...,13200.0,2022-08-30 00:00:00,66649,IAD1,New,Closed Won

In [72]:
alvaro_indivdual = michael_alvaro['Net Amount'].sum()

In [73]:
print(alvaro_indivdual)

55487.729999999996

In [74]:
alvaro_regional = (east/177500)*667

In [75]:
alvaro_1 = (michael_alvaro['Net Amount'] * 0.0888).sum() + alvaro_regional

In [76]:
print(alvaro_1)

5490.796195098593

In [77]:
michael_alvaro.loc[11111] = ['Total Indivdual Bookings:', alvaro_indivdual, '', '' ,'','','','','']

In [78]:
michael_alvaro.loc[11112] = ['Regional Payment:', alvaro_regional, '', '' ,'','','','','']

In [79]:
michael_alvaro.loc[11113] = ['Total Payout:', alvaro_1, '', '' ,'','','','','']

In [80]:
michael_alvaro.to_excel(os.path.join('../SE','alvaro_September_2022.xlsx'), index=False)

#### End Michael Alvaro

### Greg Shamieh - East

In [81]:
#greg_shamieh.head(1)

In [82]:
#shamieh_indivdual = greg_shamieh['Net Amount'].sum()

In [83]:
#print(shamieh_indivdual)

In [84]:
#shamieh_regional = (east/177500)*583

In [85]:
#shamieh_1 = (greg_shamieh['Net Amount'] * 0.0777).sum() + shamieh_regional

In [86]:
#print(shamieh_1)

In [87]:
#greg_shamieh.loc[11111] = ['Total Indivdual Bookings:', shamieh_indivdual, '', '' ,'','','','','','','','','','','','','']

In [88]:
#greg_shamieh.loc[11112] = ['Regional Payment:', shamieh_regional, '', '' ,'','','','','','','','','','','','','']

In [89]:
#greg_shamieh.loc[11113] = ['Total Payout:', shamieh_1, '', '' ,'','','','','','','','','','','','','']

In [90]:
#greg_shamieh.to_excel(os.path.join(../SE','shamieh_September_2022.xlsx'), index=False)

#### End Greg Shamieh

## Eric Carter - West

In [91]:
eric_carter_1  = (west/170000)*3333

In [92]:
print(eric_carter_1)

3175.6402473529415

In [93]:
carter = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [94]:
carter.loc[1111] = ['Eric Carter', eric_carter_1, westf , '(west/170000)*3333' ]

In [95]:
print(carter)

            Name:      Payout:  East Quota %:       Formula Used:
1111  Eric Carter  3175.640247       0.952787  (west/170000)*3333

In [96]:
carter.to_excel(os.path.join('../SE','carter_September_2022.xlsx'), index=False)

#### End Eric Carter

### Anthony Mccloud - West

In [97]:
anthony_mccloud.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Trading Technologies,Trading Technologies - 6Mo Renewal - ORD1 - 08...,5332.25,2022-08-31 00:00:00,66558,ORD1,Renewal,Closed Won

In [98]:
mccloud_indivdual = anthony_mccloud['Net Amount'].sum()

In [99]:
print(mccloud_indivdual)

21193.86

In [100]:
mccloud_regional = (west/170000)*500

In [101]:
mccloud_1 = (anthony_mccloud['Net Amount'] * 0.0666).sum() + mccloud_regional

In [102]:
print(mccloud_1)

1887.9047524705884

In [103]:
anthony_mccloud.loc[11111] = ['Total Indivdual Bookings:', '', '', mccloud_indivdual ,'','','','','']

In [104]:
anthony_mccloud.loc[11112] = ['Regional Payment:', '', '', mccloud_regional ,'','','','','']

In [105]:
anthony_mccloud.loc[11113] = ['Total Payout:', '', '', mccloud_1 ,'','','','','']

In [106]:
anthony_mccloud.to_excel(os.path.join('../SE','mccloud_September_2022.xlsx'), index=False)

#### End Anthony Mccloud

### Christopher Chandler - West

In [107]:
christopher_chandler.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
75,Christopher Chandler,Prince Minerals LCC,Prince Minerals - DFW3 - RU Space - 8/10/2022,1070.97,2022-08-18 00:00:00,65574,DFW3,Change Order,Closed Won

In [108]:
chandler_indivdual = christopher_chandler['Net Amount'].sum()

In [109]:
print(chandler_indivdual)

3246.9300000000003

In [110]:
chandler_regional = (west/170000)*500

In [111]:
print(chandler_regional)

476.3936764705883

In [112]:
chandler_1 = (christopher_chandler['Net Amount'] * 0.0666).sum() + chandler_regional

In [113]:
print(chandler_1)

692.6392144705883

In [114]:
christopher_chandler.loc[11111] = ['Total Indivdual Bookings:', chandler_indivdual, '', '' ,'','','','','']

In [115]:
christopher_chandler.loc[11112] = ['Regional Payment:', chandler_regional, '', '' ,'','','','','']

In [116]:
christopher_chandler.loc[11113] = ['Total Payout:', chandler_1, '', '' ,'','','','','']

In [117]:
christopher_chandler.to_excel(os.path.join('../SE','chandler_September_2022.xlsx'), index=False)

#### End Christopher Chandler

### William Brucker - West

In [118]:
william_brucker.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
366,William Brucker,"Proofpoint, Inc.",Proofpoint/CageColo/SLC5/08112022,29897.6,2022-08-18 00:00:00,65518,SLC5,Existing,Closed Won

In [119]:
brucker_indivdual = william_brucker['Net Amount'].sum()

In [120]:
print(brucker_indivdual)

61407.8

In [121]:
brucker_regional = (west/170000)*500

In [122]:
brucker_1 = (william_brucker['Net Amount'] * 0.0666).sum() + brucker_regional

In [123]:
print(brucker_1)

4566.153156470589

In [124]:
william_brucker.loc[11111] = ['Total Indivdual Bookings:', brucker_indivdual, '', '' ,'','','','','']

In [125]:
william_brucker.loc[11112] = ['Regional Payment:', brucker_regional, '', '' ,'','','','','']

In [126]:
william_brucker.loc[11113] = ['Total Payout:', brucker_1, '', '' ,'','','','','']

In [127]:
william_brucker.to_excel(os.path.join('../SE','brucker_September_2022.xlsx'), index=False)

#### End William Brucker

### Perry Allen - West

In [128]:
perry_allen.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
351,Perry Allen,Seitel Inc,Seitel/Colo/HOU2/05052022,15000.0,2022-08-31 00:00:00,66377,HOU2,New,Closed Won

In [129]:
allen_indivdual = perry_allen['Net Amount'].sum()

In [130]:
print(allen_indivdual)

30650.0

In [131]:
allen_regional = (west/170000)*667

In [132]:
allen_1 = (perry_allen['Net Amount'] * 0.0888).sum() + allen_regional

In [133]:
print(allen_1)

3357.2291644117645

In [134]:
perry_allen.loc[11111] = ['Total Indivdual Bookings:', allen_indivdual, '', '' ,'','','','','']

In [135]:
perry_allen.loc[11112] = ['Regional Payment:', allen_regional, '', '' ,'','','','','']

In [136]:
perry_allen.loc[11113] = ['Total Payout:', allen_1, '', '' ,'','','','','']

In [137]:
perry_allen.to_excel(os.path.join('../SE','allen_September_2022.xlsx'), index=False)

#### End Perry Allen

### Greg Ryman - West

In [138]:
greg_ryman.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
188,Greg Ryman,CrowdStrike Services - zColo,Crowdstrike - Den 2 - Power Add 50/208-3P - a9...,2073.04,2022-08-25 00:00:00,64818,DEN2,Change Order,Closed Won

In [139]:
ryman_indivdual = greg_ryman['Net Amount'].sum()

In [140]:
print(ryman_indivdual)

4969.44

In [141]:
ryman_regional = (west/170000)*500

In [142]:
ryman_1 = (greg_ryman['Net Amount'] * 0.0666).sum() + ryman_regional

In [143]:
print(ryman_1)

807.3583804705884

In [144]:
greg_ryman.loc[11111] = ['Indivdual Bookings:', ryman_indivdual, '', '' ,'','','','','']

In [145]:
greg_ryman.loc[11112] = ['Regional Payment:', ryman_regional, '', '' ,'','','','','']

In [146]:
greg_ryman.loc[11113] = ['Total Payout:', ryman_1, '', '' ,'','','','','']

In [147]:
greg_ryman.to_excel(os.path.join('../SE','ryman_September_2022.xlsx'), index=False)

#### End Greg Ryman

### Grady Vogt

In [148]:
grady_vogt.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
143,Grady Vogt,Comport,Comport - MSP3 - Comport Secure Expansion,4529.65,2022-08-12 00:00:00,65488,MSP3,New,Closed Won

In [149]:
vogt_indivdual = grady_vogt['Net Amount'].sum()

In [150]:
print(vogt_indivdual)

22798.45

In [151]:
vogt_regional = (west/170000)*667

In [152]:
print(vogt_regional)

635.5091644117648

In [153]:
vogt_1 = (grady_vogt['Net Amount'] * 0.0888).sum() + vogt_regional

In [154]:
print(vogt_1)

2660.0115244117646

In [155]:
grady_vogt.loc[11111] = ['Total Indivdual Bookings:', '', '', vogt_indivdual ,'','','','','']

In [156]:
grady_vogt.loc[11112] = ['Regional Payment:', '', '', vogt_regional ,'','','','','']

In [157]:
grady_vogt.loc[11113] = ['Total Payout:', '', '', vogt_1 ,'','','','','']

In [158]:
grady_vogt.to_excel(os.path.join('../SE','vogt_September_2022.xlsx'), index=False)

#### End Grady Vogt

### Daniel Bartholomew

In [159]:
daniel_bartholomew.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
90,Daniel Bartholomew,"Pure Storage, Inc.",Pure Storage/renewalw/perann.increase/SLC3/020...,3810.0,2022-08-18 00:00:00,64649,SLC3,Renewal,Closed Won

In [160]:
bartholomew_indivdual = daniel_bartholomew['Net Amount'].sum()

In [161]:
print(bartholomew_indivdual)

17707.37

In [162]:
bartholomew_regional = (west/170000)*667

In [163]:
bartholomew_1 = (daniel_bartholomew['Net Amount'] * 0.0888).sum() + bartholomew_regional

In [164]:
print(bartholomew_1)

2207.9236204117647

In [165]:
daniel_bartholomew.loc[11111] = ['Total Indivdual Bookings:', bartholomew_indivdual, '', '' ,'','','','','']

In [166]:
daniel_bartholomew.loc[11112] = ['Regional Payment:', bartholomew_regional, '', '' ,'','','','','']

In [167]:
daniel_bartholomew.loc[11113] = ['Total Payout:', bartholomew_1, '', '' ,'','','','','']

In [168]:
daniel_bartholomew.to_excel(os.path.join('../SE','Bartholomew_September_2022.xlsx'), index=False)

#### End Daniel Bartholomew

### End SEs

## Sheet For Payroll

In [169]:
se_by_period1 = pd.DataFrame(columns=['Name:', 'Payout:'])

In [170]:
se_by_period1.loc[0] = ['East:', '']

In [171]:
se_by_period1.loc[1] = ['Brendon Yoder', yoder_1]

In [172]:
se_by_period1.loc[2] = ['Eric Wooster', wooster_1]

In [173]:
se_by_period1.loc[3] = ['Greg Manning', manning_1]

In [174]:
se_by_period1.loc[4] = ['John Davis', davis_1 ]

In [175]:
se_by_period1.loc[5] = ['Marshall Sapp', sapp_1 ]

In [176]:
se_by_period1.loc[6] = ['Michael Alvaro', alvaro_1]

In [177]:
se_by_period1.loc[7] = ['Robert Zimmerman', robert_zimmerman_1 ]

In [178]:
#se_by_period.loc[8] = ['Greg Shamieh', shamieh_1 ]

In [179]:
se_by_period1.loc[9] = ['West:', '']

In [180]:
se_by_period1.loc[10] = ['Anthony McCloud', mccloud_1 ]

In [181]:
se_by_period1.loc[11] = ['Chris Chandler', chandler_1 ]

In [182]:
se_by_period1.loc[12] = ['Dan Bartholomew', bartholomew_1 ]

In [183]:
se_by_period1.loc[13] = ['Grady Vogt', vogt_1 ]

In [184]:
se_by_period1.loc[14] = ['Greg Ryman', ryman_1 ]

In [185]:
se_by_period1.loc[15] = ['Perry Allen', allen_1 ]

In [186]:
se_by_period1.loc[16] = ['William Brucker', brucker_1 ]

In [187]:
se_by_period1.loc[17] = ['Eric Carter', eric_carter_1 ]

In [188]:
se_by_period1.head(100)

               Name:      Payout:
0              East:
1      Brendon Yoder  1701.677239
2       Eric Wooster  2820.742699
3       Greg Manning   1589.79869
4         John Davis  1581.765721
5      Marshall Sapp  4300.853785
6     Michael Alvaro  5490.796195
7   Robert Zimmerman  2815.739243
9              West:
10   Anthony McCloud  1887.904752
11    Chris Chandler   692.639214
12   Dan Bartholomew   2207.92362
13        Grady Vogt  2660.011524
14        Greg Ryman    807.35838
15       Perry Allen  3357.229164
16   William Brucker  4566.153156
17       Eric Carter  3175.640247

In [189]:
se_by_period1.to_excel(os.path.join('../SE','SE_September_2022.xlsx'), index=False)

In [190]:
#abc = se_by_period

In [191]:
#se_by_period.to_excel(os.path.join('excel_sheets','SED.xlsx'), index=False)

### End

# CB

#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

In [192]:
#import openpyxl as py
#from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import pdfkit
import fpdf
#from img2pdf import *
pd.options.mode.chained_assignment = None
import os.path
import matplotlib as plt
from matplotlib.backends.backend_pdf import PdfPages

### Change to file name for current month for channel bookings. Must be within commishes file.

In [193]:
names = pd.read_excel('../excel_sheets/CB.xlsx')

In [194]:
names.head(1)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Liberty Broadband Corp,Liberty Broadband - Lumen XC #2 - SLC1 - 08192022,65886,SLC1,Change Order,150.0,8/24/2022,Andersen

In [195]:
names.columns

Index(['Account Name', 'Opportunity Name', 'Order Number', 'Data Centers',
       'Type', 'Amount', 'Close Date', 'Channel Rep'],
      dtype='object')

In [196]:
names.dtypes

Account Name         object
Opportunity Name     object
Order Number          int64
Data Centers         object
Type                 object
Amount              float64
Close Date           object
Channel Rep          object
dtype: object

In [197]:
df = names.sort_values(by=['Channel Rep'])

## Anyone new must be added below.

In [198]:
Wilhelm = df[df['Channel Rep'] == 'Wilhelm']
askinsvf = df
Nelson = df[df['Channel Rep'] == 'Nelson']
andersen = df[df['Channel Rep'] == 'Andersen']

##### Wilhelm

In [199]:
wilhelm_indivdual = Wilhelm['Amount'].sum()

In [200]:
wilhelm_payout = wilhelm_indivdual * .33

In [201]:
print(wilhelm_indivdual)

33068.33

In [202]:
print(wilhelm_payout)

10912.548900000002

In [203]:
Wilhelm.loc[11111] = ['Total Bookings: ','','','', wilhelm_indivdual ,'','','']

In [204]:
Wilhelm.loc[11112] = ['Total Payout: ','','','', wilhelm_payout ,'','','']

#### Nelson

In [205]:
nelson_indivdual = Nelson['Amount'].sum()

In [206]:
nelson_payout = nelson_indivdual * .33

In [207]:
print(nelson_indivdual)

26868.02

In [208]:
print(nelson_payout)

8866.446600000001

In [209]:
Nelson.loc[11111] = ['Total Bookings: ','','','', nelson_indivdual ,'','','']

In [210]:
Nelson.loc[11112] = ['Total Payout: ','','','', nelson_payout ,'','','']

#### Andersen

In [211]:
andersen_indivdual = andersen['Amount'].sum()

In [212]:
andersen_payout = andersen_indivdual * .33

In [213]:
print(andersen_indivdual)

6010.96

In [214]:
print(andersen_payout)

1983.6168

In [215]:
andersen.loc[11111] = ['Total Bookings: ','','','', andersen_indivdual ,'','','']

In [216]:
andersen.loc[11112] = ['Total Payout: ','','','', andersen_payout ,'','','']

#### Askins

In [217]:
askins_payout = askinsvf['Amount'].sum()/70000*10000

In [218]:
askins_1 = df[df['Channel Rep'] == 'Askins']

In [219]:
askins_indivdual = askinsvf['Amount'].sum()

In [220]:
print(askins_indivdual)

65947.31

In [221]:
askinsvf.loc[1110] = ['Total Bookings:', '','','',askins_indivdual,'','','']

In [222]:
askinsvf.loc[1111] = ['Comission Payout:', '', '','',askins_payout,'','','']

In [223]:
askinsvf.head(1)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Liberty Broadband Corp,Liberty Broadband - Lumen XC #2 - SLC1 - 08192022,65886,SLC1,Change Order,150.0,8/24/2022,Andersen

In [224]:
Wilhelm.to_excel(os.path.join('../CB','wilhelm_September_2022.xlsx'), index=False)
Nelson.to_excel(os.path.join('../CB','nelson_September_2022.xlsx'), index=False)
askinsvf.to_excel(os.path.join('../CB','askins_September_2022.xlsx'), index=False)
andersen.to_excel(os.path.join('../CB','andersen_September_2022.xlsx'), index=False)

## End Channel Bookings

## Commission by Period

In [225]:
payouts_by_period = pd.DataFrame(columns=['Name:', 'Payout:'])

In [226]:
payouts_by_period.head()

Empty DataFrame
Columns: [Name:, Payout:]
Index: []

In [227]:
payouts_by_period.loc[1] = ['Scott Askins', askins_payout]

In [228]:
payouts_by_period.loc[2] = ['Keith Nelson', nelson_payout]

In [229]:
payouts_by_period.loc[3] = ['Joel Wilhelm', wilhelm_payout]

In [230]:
payouts_by_period.loc[4] = ['Joel Andersen', andersen_payout]

In [231]:
payouts_by_period.head(1000)

           Name:       Payout:
1   Scott Askins   9421.044286
2   Keith Nelson   8866.446600
3   Joel Wilhelm  10912.548900
4  Joel Andersen   1983.616800

In [232]:
payouts_by_period.to_excel(os.path.join('../CB','CB_September_2022.xlsx'), index=False)

#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

In [233]:
pay_to_billings = pd.concat([se_by_period1, payouts_by_period], ignore_index=True, sort=False)

# NS Expense

In [234]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
#import pdfkit
pd.options.mode.chained_assignment = None

In [235]:
cb = pd.read_excel('../excel_sheets/CB.xlsx')

In [236]:
ed = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [237]:
se = pd.read_excel('../excel_sheets/SE.xlsx')

In [238]:
cb.head(10)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Liberty Broadband Corp,Liberty Broadband - Lumen XC #2 - SLC1 - 08192022,65886,SLC1,Change Order,150.00,8/24/2022,Andersen
1,Bungie LLC,Online Order: Riser: SEA2: 08/24/2022: Chase C...,66151,SEA2,Existing,200.00,8/24/2022,Wilhelm
2,Bungie LLC,Online Order: Riser: SEA2: 08/24/2022: Chase C...,66150,SEA2,Existing,200.00,8/24/2022,Wilhelm
3,Bungie LLC,Online Order: Riser: SEA2: 08/24/2022: Chase C...,66148,SEA2,Existing,200.00,8/24/2022,Wilhelm
4,Bungie LLC,Online Order: Riser: SEA2: 08/24/2022: Chase C...,66147,SEA2,Existing,200.00,8/24/2022,Wilhelm
5,Bungie LLC,Online Order: Riser: SEA2: 08/24/2022: Chase C...,66149,SEA2,Existing,200.00,8/24/2022,Wilhelm
6,MX,MX SLC3 New Whips 08192022,66207,SLC3,New,825.00,8/30/2022,Wilhelm
7,"Zift, LLC",Zift Tidy Pay Change Order 06272022,64460,MCI2,Change Order,1068.19,8/22/2022,Wilhelm
8,"Zift, LLC",Zift CSI Change Order MCI2 06272022,64462,MCI2,Change Order,1460.63,8/22/2022,Wilhelm
9,"Zift, LLC",Zift DFW3 CSI DR 07272022,64525,DFW3,Renewal,1478.56,8/22/2022,Wilhelm

In [239]:
cdns = cb.drop(columns=['Account Name', 'Opportunity Name','Order Number','Type','Channel Rep','Close Date'])

In [240]:
cdns['Amount']*=.33

In [241]:
cdns.groupby(['Data Centers']).sum()

                  Amount
Data Centers
BWI1            129.4062
DEN4            395.5050
DFW1            847.1562
DFW2             49.5000
DFW3          11350.8846
DFW3-FedRAMP     20.0541
HOU2           4950.0000
LAX1             99.0000
LGA1             99.0000
MCI2            977.4006
MSP2             49.5000
ORD4           1676.0700
SEA2            330.0000
SLC1             49.5000
SLC2            393.1356
SLC3            272.2500
SLC5             74.2500

In [242]:
#---------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [243]:
se.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Trading Technologies,Trading Technologies - 6Mo Renewal - ORD1 - 08...,5332.25,2022-08-31 00:00:00,66558,ORD1,Renewal,Closed Won
1,Anthony McCloud,AL Media Strategy,AL Media Strategy/Add 3 cabinets/ORD4,5079.00,2022-08-15 00:00:00,64614,ORD4,New,Closed Won
2,Anthony McCloud,Penguin Computing Inc.,Penguin Computing/15kW/SLC2/06/14/2022,2144.96,2022-08-10 00:00:00,62346,SLC2,New,Closed Won
3,Anthony McCloud,Technical Momentum LLC - zColo,Technical Momentum - Power switch & Add/DEN2/0...,1700.00,2022-08-16 00:00:00,64847,DEN2,Change Order,Closed Won
4,Anthony McCloud,"Recovery Data Connect, LLC",Recovery Data Connect - MCI1 to MCI3 Move - MC...,1189.50,2022-08-01 00:00:00,63663,MCI3,Change Order,Closed Won

In [244]:
se1 = se[['Net Amount','Data Centers']].dropna()

In [245]:
se1

     Net Amount Data Centers
0       5332.25         ORD1
1       5079.00         ORD4
2       2144.96         SLC2
3       1700.00         DEN2
4       1189.50         MCI3
..          ...          ...
381       45.00         SLC5
382        0.00         SLC3
383        0.00         ORD4
384        0.00         IAD1
385        0.00         SLC3

[363 rows x 2 columns]

In [246]:
print('Done')

Done