## Sales Engineers

### All imports will be used / are needed

In [2]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import pdfkit
pd.options.mode.chained_assignment = None
import os.path

### Closed Won With SE

In [3]:
se = pd.read_excel('../excel_sheets/SE.xlsx')

In [4]:
se.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Axcient,Axcient/Renewal/ATL2/04082022,10651.0,10/25/2022,66827,ATL2,Renewal,Closed Won

In [5]:
se.columns

Index(['SE Assigned', 'Account Name', 'Opportunity Name', 'Net Amount',
       'Close Date', 'Order Number', 'Data Centers', 'Type', 'Stage'],
      dtype='object')

In [9]:
for names in se['SE Assigned'].drop_duplicates().dropna():
    print(names)

Anthony McCloud
Subtotal
Brendon Yoder
Christopher Chandler
Daniel Bartholomew
Eric Wooster
Grady Vogt
Gregory Manning
Greg Ryman
John Davis
Marshall Sapp
Michael Alvaro
Perry Allen
Rob Zimmerman

In [7]:
anthony_mccloud = se[se['SE Assigned'] == 'Anthony McCloud']
brendon_yoder = se[se['SE Assigned'] == 'Brendon Yoder']
christopher_chandler = se[se['SE Assigned'] == 'Christopher Chandler']
daniel_bartholomew = se[se['SE Assigned'] == 'Daniel Bartholomew']
eric_wooster = se[se['SE Assigned'] == 'Eric Wooster']
grady_vogt = se[se['SE Assigned'] == 'Grady Vogt']
greg_ryman = se[se['SE Assigned'] == 'Greg Ryman']
greg_shamieh = se[se['SE Assigned'] == 'Greg Shamieh']
marshall_sapp = se[se['SE Assigned'] == 'Marshall Sapp']
michael_alvaro = se[se['SE Assigned'] == 'Michael Alvaro']
perry_allen = se[se['SE Assigned'] == 'Perry Allen']
william_brucker = se[se['SE Assigned'] == 'William Brucker']
greg_manning = se[se['SE Assigned'] == 'Gregory Manning']
john_davis = se[se['SE Assigned'] == 'John Davis']
robert_zimmerman = se[se['SE Assigned'] == 'Rob Zimmerman']
eric_carter = se[se['SE Assigned'] == 'Eric Carter']

In [7]:
print(east)

259385.10000000003

In [8]:
robert_zimmerman

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
289,Rob Zimmerman,Elbit Systems of America LLC,Elbit Systems of America /IaaS-Private Cloud/D...,96796.57,10/28/2022,67631,DFW3,Agent - New,Closed Won
290,Rob Zimmerman,Elbit Systems of America LLC,Elbit/OBS/DFW3/09282022 - Park,24000.30,10/28/2022,67917,DFW3,Agent - New,Closed Won
291,Rob Zimmerman,Elbit Systems of America LLC,Elbit/IaaS-DEV/DFW3/Federal/0442020,9341.26,10/28/2022,63935,DFW3-FedRAMP,Agent - New,Closed Won
292,Rob Zimmerman,Elbit Systems of America LLC,Elbit/IaaS-DEV/DFW3/Commercial/0442020,7284.45,10/28/2022,63934,DFW3,Agent - New,Closed Won
293,Rob Zimmerman,Stephens Support Services,Cross Connect DFW2 10 12 2022,200.00,10/12/2022,68706,DFW2,Change Order,Closed Won
294,Rob Zimmerman,Zayo Infrastructure France SA Wholesale - Oran...,Zayo Orange XC TLS1 1062022,100.24,10/11/2022,68400,TLS1,Change Order,Closed Won
295,Rob Zimmerman,Carter Logistics LLC,Carter Logistics LLC/GB Tier1 Encrypted Storag...,9.55,10/17/2022,NaN,MCI2,Existing,Closed Won
296,Rob Zimmerman,DISH Wireless L.L.C.,DISH Change Order - BOS1 - O7001707 / LXDF/269...,0.00,10/4/2022,68136,BOS1,Change Order,Closed Won
297,Rob Zimmerman,Zayo Group A/P ZN-BAN DATABANK-26556,Zayo / Lyft - Change Order - Cage Upgrade.,0.00,10/18/2022,68889,IAD1,Change Order,Closed Won

### East & West Regional Calcs

In [9]:
west = anthony_mccloud['Net Amount'].sum() + christopher_chandler['Net Amount'].sum() + daniel_bartholomew['Net Amount'].sum() + grady_vogt['Net Amount'].sum() + greg_ryman['Net Amount'].sum() + perry_allen['Net Amount'].sum()

In [11]:
west

135049.34

In [ ]:
westf = west/170000

In [10]:
print(westf)

0.7944078823529411

In [ ]:
east = robert_zimmerman['Net Amount'].sum() + greg_shamieh['Net Amount'].sum() + brendon_yoder['Net Amount'].sum() + eric_wooster['Net Amount'].sum() + greg_manning['Net Amount'].sum() + john_davis['Net Amount'].sum() + marshall_sapp['Net Amount'].sum()+ michael_alvaro['Net Amount'].sum()

In [12]:
east

259385.10000000003

In [13]:
eastf = (east/177500)

In [14]:
print(eastf)

1.4613245070422538

## Robert Zimmerman - East

In [15]:
robert_zimmerman_1  = (east/177500)*3333

In [16]:
zimmerman = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [17]:
zimmerman.loc[1111] = ['Robert Zimmerman', robert_zimmerman_1, eastf , '(east/177500)*3333' ]

In [18]:
print(zimmerman)

                 Name:      Payout:  East Quota %:       Formula Used:
1111  Robert Zimmerman  4870.594582       1.461325  (east/177500)*3333

In [19]:
zimmerman.to_excel(os.path.join('../SE','zimmerman_October_2022.xlsx'), index=False)

### End Zimmerman

### Brendon Yoder - East

In [8]:
brendon_yoder.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
24,Brendon Yoder,"Rockingham Mutual Group, Inc",RockinghamMutual/BandwidthIncrease/IAD1/1042022,4500.0,10/25/2022,69161,IAD1,Change Order,Closed Won

In [13]:
brendon_yoder.drop(brendon_yoder[brendon_yoder['Net Amount'] == 0.0].index, inplace=True)

In [10]:
brendon_yoder.head(5)

NameError: name 'brendon_yoder' is not defined

In [14]:
yoder_indivdual = brendon_yoder['Net Amount'].sum()

In [15]:
print(yoder_indivdual)

15495.04

In [23]:
yoder_regional = (east/177500)*500

In [24]:
print(yoder_regional)

730.6622535211269

In [25]:
yoder_1 = (brendon_yoder['Net Amount'] * 0.0666).sum() + yoder_regional

In [26]:
print(yoder_1)

1762.631917521127

In [27]:
brendon_yoder.loc[11111] = ['Total Indivdual Bookings:', yoder_indivdual, '', '' ,'','','','','']

In [28]:
brendon_yoder.loc[11112] = ['Regional Payment:', yoder_regional , '', '' ,'','','','','']

In [29]:
brendon_yoder.loc[11113] = ['Total Payout:', yoder_1, '', '' ,'','','','','']

In [30]:
brendon_yoder.to_excel(os.path.join('../SE','yoder_October_2022.xlsx'), index=False)

#### End Brendon Yoder

### Eric Wooster - East

In [17]:
eric_wooster.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
105,Eric Wooster,Data Canopy STX,Data Canopy/XCON/HOU3/O-46887/9.02.2022,14806.25,10/28/2022,69125,HOU3,New,Closed Won

In [18]:
eric_wooster.drop(eric_wooster[eric_wooster['Net Amount'] == 0.0].index, inplace=True)

In [32]:
wooster_indivdual = eric_wooster['Net Amount'].sum()

In [33]:
print(wooster_indivdual)

29224.539999999997

In [34]:
wooster_regional = (east/177500)*667

In [35]:
print(wooster_regional)

974.7034461971833

In [36]:
wooster_1 = (eric_wooster['Net Amount'] * 0.0888).sum() + wooster_regional

In [37]:
print(wooster_1)

3569.8425981971836

In [38]:
eric_wooster.loc[11111] = ['Total Indivdual Bookings:', wooster_indivdual, '', '' ,'','','','','']

In [39]:
eric_wooster.loc[11112] = ['Regional Payment:', wooster_regional, '', '' ,'','','','','']

In [40]:
eric_wooster.loc[11113] = ['Total Payout:', wooster_1, '', '' ,'','','','','']

In [41]:
eric_wooster.to_excel(os.path.join('../SE','wooster_October_2022.xlsx'), index=False)

#### End Eric Wooster

### Greg Manning - East

In [42]:
greg_manning.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
138,Gregory Manning,Cloud Catalyst Technologies,Cloud Catalyst Technologies/IaaS/DFW3/10102022,3084.2,10/26/2022,68599,DFW3,New,Closed Won

In [ ]:
greg_manning.drop(greg_manning[greg_manning['Net Amount'] == 0.0].index, inplace=True)

In [43]:
manning_indivdual = greg_manning['Net Amount'].sum()

In [44]:
print(manning_indivdual)

5201.94

In [45]:
manning_regional = (east/177500)*750

In [46]:
manning_1 = (greg_manning['Net Amount'] * 0.1).sum() + manning_regional

In [47]:
print(manning_1)

1616.1873802816904

In [48]:
greg_manning.loc[11111] = ['Total Indivdual Bookings:', manning_indivdual, '', '' ,'','','','','']

In [49]:
greg_manning.loc[11112] = ['Regional Payment:', manning_regional, '', '' ,'','','','','']

In [50]:
greg_manning.loc[11113] = ['Total Payout:', manning_1, '', '' ,'','','','','']

In [51]:
greg_manning.to_excel(os.path.join('../SE','manning_October_2022.xlsx'), index=False)

#### End Greg Manning

### John Davis - East

In [52]:
john_davis.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
160,John Davis,Caliber Collision,CC-Resources-SLC2-09162022,2952.46,10/31/2022,68068,SLC2,Change Order,Closed Won
161,John Davis,VENYU,Venyu / Colo Cab / SNA / 09.26.22,1626.50,10/7/2022,68332,SNA1,Existing,Closed Won
162,John Davis,"Global IP Networks, Inc",GlobalIP/Colo/SLC2/10242022,1440.00,10/24/2022,69391,SLC2,New,Closed Won
163,John Davis,"Toyon Associates, Inc",Toyon / Cloud Zerto add / 10.19.22,270.00,10/21/2022,69286,SLC2,Agent - Existing,Closed Won
164,John Davis,"Infosys McCamish Systems, LLC",Infosys ONB / Cross Connect AT&T / 10.10.22,200.00,10/10/2022,68509,DFW3,Agent - Existing,Closed Won

In [ ]:
john_davis.drop(john_davis[john_davis['Net Amount'] == 0.0].index, inplace=True)

In [53]:
davis_indivdual = john_davis['Net Amount'].sum()

In [54]:
print(davis_indivdual)

6488.96

In [55]:
davis_regional = (east/177500)*833.33

In [56]:
print(davis_regional)

1217.7655514535213

In [57]:
davis_1 = (john_davis['Net Amount'] * .1111).sum() + davis_regional

In [58]:
print(davis_1)

1938.6890074535213

In [59]:
john_davis.loc[11111] = ['Total Indivdual Bookings:', davis_indivdual, '', '' ,'','','','','']

In [60]:
john_davis.loc[11112] = ['Regional Payment:', davis_regional, '', '' ,'','','','','']

In [61]:
john_davis.loc[11113] = ['Total Payout:', davis_1, '', '' ,'','','','','']

In [62]:
john_davis.to_excel(os.path.join('../SE','davis_October_2022.xlsx'), index=False)

#### End John Davis

### Marshall Sapp - East

In [63]:
marshall_sapp.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
171,Marshall Sapp,"Wells Fargo, N.A.",Wells Fargo / Power Whips / DFW5 / 6.8.22,8375.0,10/13/2022,67798,DFW5,Change Order,Closed Won

In [19]:
marshall_sapp.drop(marshall_sapp[marshall_sapp['Net Amount'] == 0.0].index, inplace=True)

In [64]:
sapp_indivdual = marshall_sapp['Net Amount'].sum()

In [65]:
print(sapp_indivdual)

24195.760000000002

In [66]:
sapp_regional = (east/177500)*833.33

In [67]:
print(sapp_regional)

1217.7655514535213

In [68]:
sapp_1 = (marshall_sapp['Net Amount'] * 0.1111).sum() + sapp_regional

In [69]:
print(sapp_1)

3905.9144874535214

In [70]:
marshall_sapp.loc[11111] = ['Total Indivdual Bookings:', sapp_indivdual, '', '' ,'','','','','']

In [71]:
marshall_sapp.loc[11112] = ['Regional Payment:', sapp_regional, '', '' ,'','','','','']

In [72]:
marshall_sapp.loc[11113] = ['Total Payout:', sapp_1, '', '' ,'','','','','']

In [73]:
marshall_sapp.to_excel(os.path.join('../SE','sapp_October_2022.xlsx'), index=False)

#### Marshall Sapp

### Mike Alvaro - East

In [74]:
michael_alvaro.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
205,Michael Alvaro,Windstream Communications,Windstream/Suite 8 Racks/EWR1/09152022,7020.0,10/10/2022,67257,EWR1,Existing,Closed Won

In [ ]:
michael_alvaro.drop(michael_alvaro[michael_alvaro['Net Amount'] == 0.0].index, inplace=True)

In [75]:
alvaro_indivdual = michael_alvaro['Net Amount'].sum()

In [76]:
print(alvaro_indivdual)

41046.49

In [77]:
alvaro_regional = (east/177500)*667

In [78]:
alvaro_1 = (michael_alvaro['Net Amount'] * 0.0888).sum() + alvaro_regional

In [79]:
print(alvaro_1)

4619.631758197183

In [80]:
michael_alvaro.loc[11111] = ['Total Indivdual Bookings:', alvaro_indivdual, '', '' ,'','','','','']

In [81]:
michael_alvaro.loc[11112] = ['Regional Payment:', alvaro_regional, '', '' ,'','','','','']

In [82]:
michael_alvaro.loc[11113] = ['Total Payout:', alvaro_1, '', '' ,'','','','','']

In [83]:
michael_alvaro.to_excel(os.path.join('../SE','alvaro_October_2022.xlsx'), index=False)

#### End Michael Alvaro

### Greg Shamieh - East

In [84]:
#greg_shamieh.head(1)

In [85]:
#shamieh_indivdual = greg_shamieh['Net Amount'].sum()

In [86]:
#print(shamieh_indivdual)

In [87]:
#shamieh_regional = (east/177500)*583

In [88]:
#shamieh_1 = (greg_shamieh['Net Amount'] * 0.0777).sum() + shamieh_regional

In [89]:
#print(shamieh_1)

In [90]:
#greg_shamieh.loc[11111] = ['Total Indivdual Bookings:', shamieh_indivdual, '', '' ,'','','','','','','','','','','','','']

In [91]:
#greg_shamieh.loc[11112] = ['Regional Payment:', shamieh_regional, '', '' ,'','','','','','','','','','','','','']

In [92]:
#greg_shamieh.loc[11113] = ['Total Payout:', shamieh_1, '', '' ,'','','','','','','','','','','','','']

In [93]:
#greg_shamieh.to_excel(os.path.join(../SE','shamieh_October_2022.xlsx'), index=False)

#### End Greg Shamieh

## Eric Carter - West

In [94]:
eric_carter_1  = (west/170000)*3333

In [95]:
print(eric_carter_1)

2647.761471882353

In [96]:
carter = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [97]:
carter.loc[1111] = ['Eric Carter', eric_carter_1, westf , '(west/170000)*3333' ]

In [98]:
print(carter)

            Name:      Payout:  East Quota %:       Formula Used:
1111  Eric Carter  2647.761472       0.794408  (west/170000)*3333

In [99]:
carter.to_excel(os.path.join('../SE','carter_October_2022.xlsx'), index=False)

#### End Eric Carter

### Anthony Mccloud - West

In [100]:
anthony_mccloud.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Axcient,Axcient/Renewal/ATL2/04082022,10651.0,10/25/2022,66827,ATL2,Renewal,Closed Won

In [101]:
mccloud_indivdual = anthony_mccloud['Net Amount'].sum()

In [102]:
print(mccloud_indivdual)

24739.629999999997

In [103]:
mccloud_regional = (west/170000)*500

In [104]:
mccloud_1 = (anthony_mccloud['Net Amount'] * 0.0666).sum() + mccloud_regional

In [105]:
print(mccloud_1)

2044.8632991764707

In [106]:
anthony_mccloud.loc[11111] = ['Total Indivdual Bookings:', '', '', mccloud_indivdual ,'','','','','']

In [107]:
anthony_mccloud.loc[11112] = ['Regional Payment:', '', '', mccloud_regional ,'','','','','']

In [108]:
anthony_mccloud.loc[11113] = ['Total Payout:', '', '', mccloud_1 ,'','','','','']

In [109]:
anthony_mccloud.to_excel(os.path.join('../SE','mccloud_October_2022.xlsx'), index=False)

#### End Anthony Mccloud

### Christopher Chandler - West

In [110]:
christopher_chandler.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
51,Christopher Chandler,Liberty Dental Plan Corporation,SNA2/ 8 Racks / 40kw,11700.0,10/24/2022,68475,SNA2,New,Closed Won

In [111]:
chandler_indivdual = christopher_chandler['Net Amount'].sum()

In [112]:
print(chandler_indivdual)

22712.149999999998

In [113]:
chandler_regional = (west/170000)*500

In [114]:
print(chandler_regional)

397.20394117647055

In [115]:
chandler_1 = (christopher_chandler['Net Amount'] * 0.0666).sum() + chandler_regional

In [116]:
print(chandler_1)

1909.8331311764707

In [117]:
christopher_chandler.loc[11111] = ['Total Indivdual Bookings:', chandler_indivdual, '', '' ,'','','','','']

In [118]:
christopher_chandler.loc[11112] = ['Regional Payment:', chandler_regional, '', '' ,'','','','','']

In [119]:
christopher_chandler.loc[11113] = ['Total Payout:', chandler_1, '', '' ,'','','','','']

In [120]:
christopher_chandler.to_excel(os.path.join('../SE','chandler_October_2022.xlsx'), index=False)

#### End Christopher Chandler

### William Brucker - West

In [121]:
#william_brucker.head(1)

Empty DataFrame
Columns: [SE Assigned, Account Name, Opportunity Name, Net Amount, Close Date, Order Number, Data Centers, Type, Stage]
Index: []

In [122]:
#brucker_indivdual = william_brucker['Net Amount'].sum()

In [123]:
#print(brucker_indivdual)

0.0

In [124]:
#brucker_regional = (west/170000)*500

In [125]:
#brucker_1 = (william_brucker['Net Amount'] * 0.0666).sum() + brucker_regional

In [126]:
#print(brucker_1)

397.20394117647055

In [127]:
#william_brucker.loc[11111] = ['Total Indivdual Bookings:', brucker_indivdual, '', '' ,'','','','','']

In [128]:
#william_brucker.loc[11112] = ['Regional Payment:', brucker_regional, '', '' ,'','','','','']

In [129]:
#william_brucker.loc[11113] = ['Total Payout:', brucker_1, '', '' ,'','','','','']

In [130]:
#william_brucker.to_excel(os.path.join('../SE','brucker_October_2022.xlsx'), index=False)

#### End William Brucker

### Perry Allen - West

In [131]:
perry_allen.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
261,Perry Allen,Akamai Technologies,AKMI/Colocation/IAD1/DC08/Phase 4/240kW,9360.0,10/13/2022,68685,IAD1,Change Order,Closed Won

In [132]:
allen_indivdual = perry_allen['Net Amount'].sum()

In [133]:
print(allen_indivdual)

29033.0

In [134]:
allen_regional = (west/170000)*667

In [135]:
allen_1 = (perry_allen['Net Amount'] * 0.0888).sum() + allen_regional

In [136]:
print(allen_1)

3108.0004575294115

In [137]:
perry_allen.loc[11111] = ['Total Indivdual Bookings:', allen_indivdual, '', '' ,'','','','','']

In [138]:
perry_allen.loc[11112] = ['Regional Payment:', allen_regional, '', '' ,'','','','','']

In [139]:
perry_allen.loc[11113] = ['Total Payout:', allen_1, '', '' ,'','','','','']

In [140]:
perry_allen.to_excel(os.path.join('../SE','allen_October_2022.xlsx'), index=False)

#### End Perry Allen

### Greg Ryman - West

In [141]:
greg_ryman.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
146,Greg Ryman,NVidia,Cage Consolidation / add 90kW to M50-N24 cage,6749.96,10/28/2022,68289,IAD1,Change Order,Closed Won

In [142]:
ryman_indivdual = greg_ryman['Net Amount'].sum()

In [143]:
print(ryman_indivdual)

13023.93

In [144]:
ryman_regional = (west/170000)*500

In [145]:
ryman_1 = (greg_ryman['Net Amount'] * 0.0666).sum() + ryman_regional

In [146]:
print(ryman_1)

1264.5976791764706

In [147]:
greg_ryman.loc[11111] = ['Indivdual Bookings:', ryman_indivdual, '', '' ,'','','','','']

In [148]:
greg_ryman.loc[11112] = ['Regional Payment:', ryman_regional, '', '' ,'','','','','']

In [149]:
greg_ryman.loc[11113] = ['Total Payout:', ryman_1, '', '' ,'','','','','']

In [150]:
greg_ryman.to_excel(os.path.join('../SE','ryman_October_2022.xlsx'), index=False)

#### End Greg Ryman

### Grady Vogt

In [151]:
grady_vogt.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
126,Grady Vogt,Consolidated (Enventis),CCI - MSP2 - Expansion Space 50kW,12384.5,10/13/2022,67697,MSP2,New,Closed Won

In [152]:
vogt_indivdual = grady_vogt['Net Amount'].sum()

In [153]:
print(vogt_indivdual)

16983.629999999997

In [154]:
vogt_regional = (west/170000)*667

In [155]:
print(vogt_regional)

529.8700575294117

In [156]:
vogt_1 = (grady_vogt['Net Amount'] * 0.0888).sum() + vogt_regional

In [157]:
print(vogt_1)

2038.016401529412

In [158]:
grady_vogt.loc[11111] = ['Total Indivdual Bookings:', '', '', vogt_indivdual ,'','','','','']

In [159]:
grady_vogt.loc[11112] = ['Regional Payment:', '', '', vogt_regional ,'','','','','']

In [160]:
grady_vogt.loc[11113] = ['Total Payout:', '', '', vogt_1 ,'','','','','']

In [161]:
grady_vogt.to_excel(os.path.join('../SE','vogt_October_2022.xlsx'), index=False)

#### End Grady Vogt

### Daniel Bartholomew

In [162]:
daniel_bartholomew.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
78,Daniel Bartholomew,Biodesix,Biodesix/6 Cab Cage40kW/DEN4/04152021,12609.0,10/26/2022,66869,DEN4,New,Closed Won

In [163]:
bartholomew_indivdual = daniel_bartholomew['Net Amount'].sum()

In [164]:
print(bartholomew_indivdual)

28557.0

In [165]:
bartholomew_regional = (west/170000)*667

In [166]:
bartholomew_1 = (daniel_bartholomew['Net Amount'] * 0.0888).sum() + bartholomew_regional

In [167]:
print(bartholomew_1)

3065.7316575294117

In [168]:
daniel_bartholomew.loc[11111] = ['Total Indivdual Bookings:', bartholomew_indivdual, '', '' ,'','','','','']

In [169]:
daniel_bartholomew.loc[11112] = ['Regional Payment:', bartholomew_regional, '', '' ,'','','','','']

In [170]:
daniel_bartholomew.loc[11113] = ['Total Payout:', bartholomew_1, '', '' ,'','','','','']

In [171]:
daniel_bartholomew.to_excel(os.path.join('../SE','Bartholomew_October_2022.xlsx'), index=False)

#### End Daniel Bartholomew

### End SEs

## Sheet For Payroll

In [172]:
se_by_period1 = pd.DataFrame(columns=['Name:', 'Payout:'])

In [173]:
se_by_period1.loc[0] = ['East:', '']

In [174]:
se_by_period1.loc[1] = ['Brendon Yoder', yoder_1]

In [175]:
se_by_period1.loc[2] = ['Eric Wooster', wooster_1]

In [176]:
se_by_period1.loc[3] = ['Greg Manning', manning_1]

In [177]:
se_by_period1.loc[4] = ['John Davis', davis_1 ]

In [178]:
se_by_period1.loc[5] = ['Marshall Sapp', sapp_1 ]

In [179]:
se_by_period1.loc[6] = ['Michael Alvaro', alvaro_1]

In [180]:
se_by_period1.loc[7] = ['Robert Zimmerman', robert_zimmerman_1 ]

In [181]:
#se_by_period.loc[8] = ['Greg Shamieh', shamieh_1 ]

In [182]:
se_by_period1.loc[9] = ['West:', '']

In [183]:
se_by_period1.loc[10] = ['Anthony McCloud', mccloud_1 ]

In [184]:
se_by_period1.loc[11] = ['Chris Chandler', chandler_1 ]

In [185]:
se_by_period1.loc[12] = ['Dan Bartholomew', bartholomew_1 ]

In [186]:
se_by_period1.loc[13] = ['Grady Vogt', vogt_1 ]

In [187]:
se_by_period1.loc[14] = ['Greg Ryman', ryman_1 ]

In [188]:
se_by_period1.loc[15] = ['Perry Allen', allen_1 ]

In [189]:
#se_by_period1.loc[16] = ['William Brucker', brucker_1 ]

In [190]:
se_by_period1.loc[17] = ['Eric Carter', eric_carter_1 ]

In [191]:
se_by_period1.head(100)

               Name:      Payout:
0              East:
1      Brendon Yoder  1762.631918
2       Eric Wooster  3569.842598
3       Greg Manning   1616.18738
4         John Davis  1938.689007
5      Marshall Sapp  3905.914487
6     Michael Alvaro  4619.631758
7   Robert Zimmerman  4870.594582
9              West:
10   Anthony McCloud  2044.863299
11    Chris Chandler  1909.833131
12   Dan Bartholomew  3065.731658
13        Grady Vogt  2038.016402
14        Greg Ryman  1264.597679
15       Perry Allen  3108.000458
16   William Brucker   397.203941
17       Eric Carter  2647.761472

In [192]:
se_by_period1.to_excel(os.path.join('../SE','SE_October_2022.xlsx'), index=False)

In [193]:
#abc = se_by_period

In [194]:
#se_by_period.to_excel(os.path.join('excel_sheets','SED.xlsx'), index=False)

### End

# CB

#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

### Change to file name for current month for channel bookings. Must be within commishes file.

In [195]:
names = pd.read_excel('../excel_sheets/CB.xlsx')

In [196]:
names.head(1)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Novarad,Novarad/Colocation (XC TOS & Replacement)/SLC2...,68749,SLC2,Change Order,100.0,2022-10-14,Wilhelm

In [197]:
names.columns

Index(['Account Name', 'Opportunity Name', 'Order Number', 'Data Centers',
       'Type', 'Amount', 'Close Date', 'Channel Rep'],
      dtype='object')

In [198]:
names.dtypes

Account Name                object
Opportunity Name            object
Order Number                 int64
Data Centers                object
Type                        object
Amount                     float64
Close Date          datetime64[ns]
Channel Rep                 object
dtype: object

In [199]:
df = names.sort_values(by=['Channel Rep'])

## Anyone new must be added below.

In [200]:
Wilhelm = df[df['Channel Rep'] == 'Wilhelm']
askinsvf = df
Nelson = df[df['Channel Rep'] == 'Nelson']
andersen = df[df['Channel Rep'] == 'Andersen']

##### Wilhelm

In [201]:
wilhelm_indivdual = Wilhelm['Amount'].sum()

In [202]:
wilhelm_payout = wilhelm_indivdual * .33

In [203]:
print(wilhelm_indivdual)

19001.61

In [204]:
print(wilhelm_payout)

6270.531300000001

In [205]:
Wilhelm.loc[11111] = ['Total Bookings: ','','','', wilhelm_indivdual ,'','','']

In [206]:
Wilhelm.loc[11112] = ['Total Payout: ','','','', wilhelm_payout ,'','','']

#### Nelson

In [207]:
nelson_indivdual = Nelson['Amount'].sum()

In [208]:
nelson_payout = nelson_indivdual * .33

In [209]:
print(nelson_indivdual)

151323.49

In [210]:
print(nelson_payout)

49936.7517

In [211]:
Nelson.loc[11111] = ['Total Bookings: ','','','', nelson_indivdual ,'','','']

In [212]:
Nelson.loc[11112] = ['Total Payout: ','','','', nelson_payout ,'','','']

#### Andersen

In [213]:
andersen_indivdual = andersen['Amount'].sum()

In [214]:
andersen_payout = andersen_indivdual * .33

In [215]:
print(andersen_indivdual)

10218.52

In [216]:
print(andersen_payout)

3372.1116

In [217]:
andersen.loc[11111] = ['Total Bookings: ','','','', andersen_indivdual ,'','','']

In [218]:
andersen.loc[11112] = ['Total Payout: ','','','', andersen_payout ,'','','']

#### Askins

In [219]:
askins_payout = askinsvf['Amount'].sum()/70000*10000

In [220]:
askins_1 = df[df['Channel Rep'] == 'Askins']

In [221]:
askins_indivdual = askinsvf['Amount'].sum()

In [222]:
print(askins_indivdual)

180893.62

In [223]:
askinsvf.loc[1110] = ['Total Bookings:', '','','',askins_indivdual,'','','']

In [224]:
askinsvf.loc[1111] = ['Comission Payout:', '', '','',askins_payout,'','','']

In [225]:
askinsvf.head(1)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
26,"Kofile, Inc.",Kofile/Space/ATL1/08172022,66494,ATL1,New,1542.4,2022-10-18 00:00:00,Andersen

In [226]:
Wilhelm.to_excel(os.path.join('../CB','wilhelm_October_2022.xlsx'), index=False)
Nelson.to_excel(os.path.join('../CB','nelson_October_2022.xlsx'), index=False)
askinsvf.to_excel(os.path.join('../CB','askins_October_2022.xlsx'), index=False)
andersen.to_excel(os.path.join('../CB','andersen_October_2022.xlsx'), index=False)

## End Channel Bookings

## Commission by Period

In [227]:
payouts_by_period = pd.DataFrame(columns=['Name:', 'Payout:'])

In [228]:
payouts_by_period.head()

Empty DataFrame
Columns: [Name:, Payout:]
Index: []

In [229]:
payouts_by_period.loc[1] = ['Scott Askins', askins_payout]

In [230]:
payouts_by_period.loc[2] = ['Keith Nelson', nelson_payout]

In [231]:
payouts_by_period.loc[3] = ['Joel Wilhelm', wilhelm_payout]

In [232]:
payouts_by_period.loc[4] = ['Joel Andersen', andersen_payout]

In [233]:
payouts_by_period.head(1000)

           Name:       Payout:
1   Scott Askins  25841.945714
2   Keith Nelson  49936.751700
3   Joel Wilhelm   6270.531300
4  Joel Andersen   3372.111600

In [234]:
payouts_by_period.to_excel(os.path.join('../CB','CB_October_2022.xlsx'), index=False)

#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

In [235]:
pay_to_billings = pd.concat([se_by_period1, payouts_by_period], ignore_index=True, sort=False)

# NS Expense

In [236]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
#import pdfkit
pd.options.mode.chained_assignment = None

In [237]:
cb = pd.read_excel('../excel_sheets/CB.xlsx')

In [238]:
ed = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [239]:
se = pd.read_excel('../excel_sheets/SE.xlsx')

In [240]:
cb.head(10)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Novarad,Novarad/Colocation (XC TOS & Replacement)/SLC2...,68749,SLC2,Change Order,100.00,2022-10-14,Wilhelm
1,Axess Americas Inc,Axess Americas - Cab Upgrade - SLC2 - 08052022,65093,SLC2,Change Order,489.73,2022-10-18,Wilhelm
2,Clear Technologies,Clear Technologies/DFW2/XCONN/10-03-2022,68119,DFW2,Existing,200.00,2022-10-31,Nelson
3,Elbit Systems of America LLC,Elbit/IaaS-DEV/DFW3/Commercial/0442020,63934,DFW3,Agent - New,7284.45,2022-10-28,Nelson
4,Elbit Systems of America LLC,Elbit Systems of America /IaaS-Private Cloud/D...,67631,DFW3,Agent - New,96796.57,2022-10-28,Nelson
5,Elbit Systems of America LLC,Elbit Systems of America/Colo-5 Cabinet Cage /...,66334,DFW3,Agent - New,8889.70,2022-10-28,Nelson
6,Elbit Systems of America LLC,Elbit/IaaS-DEV/DFW3/Federal/0442020,63935,DFW3-FedRAMP,Agent - New,9341.26,2022-10-28,Nelson
7,Elbit Systems of America LLC,Elbit/OBS/DFW3/09282022 - Park,67917,DFW3,Agent - New,24000.30,2022-10-28,Nelson
8,Pioneer Electronics USA Inc.,Pioneer Electronics - Colo Xcon - SNA1 - Spect...,69237,SNA1,Agent - Existing,200.00,2022-10-20,Wilhelm
9,The Independent Bankersbank,TIB/DFW2/Xconn to Lumen/10242022,69360,DFW2,Existing,150.00,2022-10-24,Askins

In [241]:
cdns = cb.drop(columns=['Account Name', 'Opportunity Name','Order Number','Type','Channel Rep','Close Date'])

In [242]:
cdns['Amount']*=.33

In [243]:
cdns.groupby(['Data Centers']).sum()

                  Amount
Data Centers
ATL1            508.9920
DEN1            278.8500
DFW2            115.5000
DFW3          46844.5494
DFW3-FedRAMP   3082.6158
IAD1            933.6921
LAS1            748.7700
LGA2             99.0000
MCI2           1424.9367
MSP2             24.7500
PHL1             99.0000
SLC1             49.5000
SLC2           1557.7386
SNA1             66.0000
SNA2           3861.0000

In [244]:
#---------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [245]:
se.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Axcient,Axcient/Renewal/ATL2/04082022,10651.00,10/25/2022,66827,ATL2,Renewal,Closed Won
1,Anthony McCloud,Christian County Missouri,Christian County / PaaS/DraaS/ MCI2/DWF/ 08052022,4296.99,10/30/2022,69494,MCI2,Agent - New,Closed Won
2,Anthony McCloud,"Jack Cooper Holdings, Inc.",Jack Cooper // Colo Renewal / M2M/// MCI2 ///1...,2320.74,10/20/2022,68450,MCI2,Change Order,Closed Won
3,Anthony McCloud,Christian County Missouri,Christian County / DraaS/DWF/ 08052022,1426.67,10/30/2022,69495,DFW3,Agent - New,Closed Won
4,Anthony McCloud,"Jack Cooper Holdings, Inc.",Jack Cooper // Colo Renewal / M2M/// MCI3 ///1...,1262.50,10/20/2022,68452,MCI3,Change Order,Closed Won

In [246]:
se1 = se[['Net Amount','Data Centers']].dropna()

In [247]:
se1

     Net Amount Data Centers
0      10651.00         ATL2
1       4296.99         MCI2
2       2320.74         MCI2
3       1426.67         DFW3
4       1262.50         MCI3
..          ...          ...
293      200.00         DFW2
294      100.24         TLS1
295        9.55         MCI2
296        0.00         BOS1
297        0.00         IAD1

[274 rows x 2 columns]

In [248]:
print('Done')

Done