#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

In [1]:
#import openpyxl as py
#from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import pdfkit
import fpdf
#from img2pdf import *
pd.options.mode.chained_assignment = None
import os.path
import matplotlib as plt
from matplotlib.backends.backend_pdf import PdfPages

### Change to file name for current month for channel bookings. Must be within commishes file.

In [2]:
names = pd.read_excel('channel_bookingsVF.xlsx')

In [3]:
names.head(1)

,Account Name,Opportunity Name,New Logo,Quote Number,Order Number,Data Centers,Type,Lead Source,Booking Amount,Amount,Close Date,Stage,Opportunity Owner,Channel Rep
0,Axos Bank,AxosBank/Renewal/SAN1/07312022,False,62591,62591,SAN1,Renewal,Partner,5584.0,5584.0,7/28/2022,Closed Won,Rebecca Shaffer,Wilhelm

In [4]:
names.columns

Index(['Account Name', 'Opportunity Name', 'New Logo', 'Quote Number',
       'Order Number', 'Data Centers', 'Type', 'Lead Source', 'Booking Amount',
       'Amount', 'Close Date', 'Stage', 'Opportunity Owner', 'Channel Rep'],
      dtype='object')

In [5]:
names.dtypes

Account Name          object
Opportunity Name      object
New Logo                bool
Quote Number           int64
Order Number           int64
Data Centers          object
Type                  object
Lead Source           object
Booking Amount       float64
Amount               float64
Close Date            object
Stage                 object
Opportunity Owner     object
Channel Rep           object
dtype: object

In [6]:
df = names.sort_values(by=['Channel Rep'])

## Anyone new must be added below.

In [7]:
Wilhelm = df[df['Channel Rep'] == 'Wilhelm']
askinsvf = df
Nelson = df[df['Channel Rep'] == 'Nelson']
andersen = df[df['Channel Rep'] == 'Andersen']

##### Wilhelm

In [8]:
wilhelm_indivdual = Wilhelm['Amount'].sum()

In [9]:
wilhelm_payout = wilhelm_indivdual * .33

In [10]:
print(wilhelm_indivdual)

27391.99

In [11]:
print(wilhelm_payout)

9039.3567

In [12]:
Wilhelm.loc[11111] = ['Total Bookings: ','','','','','','','','', wilhelm_indivdual ,'','','','']

In [13]:
Wilhelm.loc[11112] = ['Total Payout: ','','','','','','','','', wilhelm_payout ,'','','','']

#### Nelson

In [14]:
nelson_indivdual = Nelson['Amount'].sum()

In [15]:
nelson_payout = nelson_indivdual * .33

In [16]:
print(nelson_indivdual)

8024.51

In [17]:
print(nelson_payout)

2648.0883000000003

In [18]:
Nelson.loc[11111] = ['Total Bookings: ','','','','','','','','', nelson_indivdual ,'','','','']

In [19]:
Nelson.loc[11112] = ['Total Payout: ','','','','','','','','', nelson_payout ,'','','','']

#### Andersen

In [20]:
andersen_indivdual = andersen['Amount'].sum()

In [21]:
andersen_payout = andersen_indivdual * .33

In [22]:
print(andersen_indivdual)

0.0

In [23]:
print(andersen_payout)

0.0

In [24]:
andersen.loc[11111] = ['Total Bookings: ','','','','','','','','', andersen_indivdual ,'','','','']

In [25]:
andersen.loc[11112] = ['Total Payout: ','','','','','','','','', andersen_payout ,'','','','']

#### Askins

In [26]:
askins_payout = askinsvf['Amount'].sum()/70000*10000

In [27]:
askins_1 = df[df['Channel Rep'] == 'Askins']

In [28]:
askins_indivdual = askinsvf['Amount'].sum()

In [29]:
print(askins_indivdual)

38336.5

In [30]:
askinsvf.loc[1110] = ['Total Bookings:', '', '', '','','','','','',askins_indivdual,'','','','']

In [31]:
askinsvf.loc[1111] = ['Comission Payout:', '', '', '','','','','','',askins_payout,'','','','']

In [32]:
askinsvf.head(1)

,Account Name,Opportunity Name,New Logo,Quote Number,Order Number,Data Centers,Type,Lead Source,Booking Amount,Amount,Close Date,Stage,Opportunity Owner,Channel Rep
28,Ferrellgas Partners,FERRELLGAS PARTNERS // XCONN // MCI2 // COTERM,False,63558,63558,MCI2,New,Current Customer,200.0,200.0,7/11/2022,Closed Won,Morgan Martensen,Askins

In [33]:
Wilhelm.to_excel(os.path.join('CB','wilhelm_july_2022.xlsx'), index=False)
Nelson.to_excel(os.path.join('CB','nelson_july_2022.xlsx'), index=False)
askinsvf.to_excel(os.path.join('CB','askins_july_2022.xlsx'), index=False)
andersen.to_excel(os.path.join('CB','andersen_july_2022.xlsx'), index=False)

# End Channel Bookings

# Commission by Period

In [34]:
payouts_by_period = pd.DataFrame(columns=['Name:', 'Payout:'])

In [35]:
payouts_by_period.head()

Empty DataFrame
Columns: [Name:, Payout:]
Index: []

In [36]:
payouts_by_period.loc[1] = ['Scott Askins', askins_payout]

In [37]:
payouts_by_period.loc[2] = ['Keith Nelson', nelson_payout]

In [38]:
payouts_by_period.loc[3] = ['Joel Wilhelm', wilhelm_payout]

In [39]:
payouts_by_period.loc[4] = ['Joel Andersen', andersen_payout]

In [40]:
payouts_by_period.head(1000)

           Name:      Payout:
1   Scott Askins  5476.642857
2   Keith Nelson  2648.088300
3   Joel Wilhelm  9039.356700
4  Joel Andersen     0.000000

In [41]:
payouts_by_period.to_excel(os.path.join('CB','CB_july_2022.xlsx'), index=False)