## Sales Engineers

### All imports will be used / are needed

In [9]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import pdfkit
pd.options.mode.chained_assignment = None
import os.path

### Closed Won With SE

In [10]:
se = pd.read_excel('../excel_sheets/SE.xlsx')

In [11]:
se.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Concerto Healthcare,Concerto Healthcare/DRaaS/SLC2/07142022,3518.78,9/14/2022,64040,SLC2,Change Order,Closed Won

In [12]:
se.columns

Index(['SE Assigned', 'Account Name', 'Opportunity Name', 'Net Amount',
       'Close Date', 'Order Number', 'Data Centers', 'Type', 'Stage'],
      dtype='object')

In [13]:
for names in se['SE Assigned'].drop_duplicates():
    print(names)

Anthony McCloud
Subtotal
nan
Brendon Yoder
Christopher Chandler
Daniel Bartholomew
Eric Wooster
Grady Vogt
Gregory Manning
Greg Ryman
John Davis
Marshall Sapp
Michael Alvaro
Perry Allen
William Brucker

In [14]:
anthony_mccloud = se[se['SE Assigned'] == 'Anthony McCloud']
brendon_yoder = se[se['SE Assigned'] == 'Brendon Yoder']
christopher_chandler = se[se['SE Assigned'] == 'Christopher Chandler']
daniel_bartholomew = se[se['SE Assigned'] == 'Daniel Bartholomew']
eric_wooster = se[se['SE Assigned'] == 'Eric Wooster']
grady_vogt = se[se['SE Assigned'] == 'Grady Vogt']
greg_ryman = se[se['SE Assigned'] == 'Greg Ryman']
greg_shamieh = se[se['SE Assigned'] == 'Greg Shamieh']
marshall_sapp = se[se['SE Assigned'] == 'Marshall Sapp']
michael_alvaro = se[se['SE Assigned'] == 'Michael Alvaro']
perry_allen = se[se['SE Assigned'] == 'Perry Allen']
william_brucker = se[se['SE Assigned'] == 'William Brucker']
greg_manning = se[se['SE Assigned'] == 'Gregory Manning']
john_davis = se[se['SE Assigned'] == 'John Davis']
robert_zimmerman = se[se['SE Assigned'] == 'Robert Zimmerman']
eric_carter = se[se['SE Assigned'] == 'Eric Carter']
east = greg_shamieh['Net Amount'].sum() + brendon_yoder['Net Amount'].sum() + eric_wooster['Net Amount'].sum() + greg_manning['Net Amount'].sum() + john_davis['Net Amount'].sum() + marshall_sapp['Net Amount'].sum()+ michael_alvaro['Net Amount'].sum()
#eastf = (east/177500)*667

In [15]:
print(east)

96625.98

In [16]:

west = anthony_mccloud['Net Amount'].sum() + christopher_chandler['Net Amount'].sum() + daniel_bartholomew['Net Amount'].sum() + grady_vogt['Net Amount'].sum() + greg_ryman['Net Amount'].sum() + perry_allen['Net Amount'].sum() + william_brucker['Net Amount'].sum()
westf = west/170000

In [17]:
print(westf)

1.24

In [18]:
west

290866.02

In [19]:
east

96625.98

In [20]:
eastf = (east/177500)

In [21]:
print(eastf)

0.83

## Robert Zimmerman - East

In [22]:
robert_zimmerman_1  = (east/177500)*3333

In [23]:
zimmerman = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [24]:
zimmerman.loc[1111] = ['Robert Zimmerman', robert_zimmerman_1, eastf , '(east/177500)*3333' ]

In [25]:
print(zimmerman)

                 Name:      Payout:  East Quota %:       Formula Used:
1111  Robert Zimmerman  1814.390937           0.83  (east/177500)*3333

In [26]:
zimmerman.to_excel(os.path.join('../SE','zimmerman_September_2022.xlsx'), index=False)

### End Zimmerman

### Brendon Yoder - East

In [27]:
brendon_yoder.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
38,Brendon Yoder,"Unitrends, Inc.",Unitrends / Increase Zayo IP / DEN2 / 8 22 2022.,6505.89,9/9/2022,66484,DEN2,Change Order,Closed Won

In [28]:
yoder_indivdual = brendon_yoder['Net Amount'].sum()

In [29]:
print(yoder_indivdual)

22490.510000000002

In [30]:
yoder_regional = (east/177500)*500

In [31]:
print(yoder_regional)

272.1858591549295

In [32]:
yoder_1 = (brendon_yoder['Net Amount'] * 0.0666).sum() + yoder_regional

In [33]:
print(yoder_1)

1770.0538251549297

In [34]:
brendon_yoder.loc[11111] = ['Total Indivdual Bookings:', yoder_indivdual, '', '' ,'','','','','']

In [35]:
brendon_yoder.loc[11112] = ['Regional Payment:', yoder_regional , '', '' ,'','','','','']

In [36]:
brendon_yoder.loc[11113] = ['Total Payout:', yoder_1, '', '' ,'','','','','']

In [37]:
brendon_yoder.to_excel(os.path.join('../SE','yoder_September_2022.xlsx'), index=False)

#### End Brendon Yoder

### Eric Wooster - East

In [38]:
eric_wooster.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
128,Eric Wooster,Computer Associates of NY,Computer Associates of NY /Tier2/DFW3/09012022,4096.0,9/7/2022,66813,DFW3,Change Order,Closed Won

In [39]:
wooster_indivdual = eric_wooster['Net Amount'].sum()

In [40]:
print(wooster_indivdual)

15665.300000000001

In [41]:
wooster_regional = (east/177500)*667

In [42]:
print(wooster_regional)

363.095936112676

In [43]:
wooster_1 = (eric_wooster['Net Amount'] * 0.0888).sum() + wooster_regional

In [44]:
print(wooster_1)

1754.1745761126763

In [45]:
eric_wooster.loc[11111] = ['Total Indivdual Bookings:', wooster_indivdual, '', '' ,'','','','','']

In [46]:
eric_wooster.loc[11112] = ['Regional Payment:', wooster_regional, '', '' ,'','','','','']

In [47]:
eric_wooster.loc[11113] = ['Total Payout:', wooster_1, '', '' ,'','','','','']

In [48]:
eric_wooster.to_excel(os.path.join('../SE','wooster_September_2022.xlsx'), index=False)

#### End Eric Wooster

### Greg Manning - East

In [49]:
greg_manning.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
185,Gregory Manning,Parsec Labs,Parsec/ 1 Cab/MSP3/081522,2085.05,9/26/2022,67787,MSP3,New,Closed Won

In [50]:
manning_indivdual = greg_manning['Net Amount'].sum()

In [51]:
print(manning_indivdual)

4140.1

In [52]:
manning_regional = (east/177500)*750

In [53]:
manning_1 = (greg_manning['Net Amount'] * 0.1).sum() + manning_regional

In [54]:
print(manning_1)

822.2887887323943

In [55]:
greg_manning.loc[11111] = ['Total Indivdual Bookings:', manning_indivdual, '', '' ,'','','','','']

In [56]:
greg_manning.loc[11112] = ['Regional Payment:', manning_regional, '', '' ,'','','','','']

In [57]:
greg_manning.loc[11113] = ['Total Payout:', manning_1, '', '' ,'','','','','']

In [58]:
greg_manning.to_excel(os.path.join('../SE','manning_September_2022.xlsx'), index=False)

#### End Greg Manning

### John Davis - East

In [59]:
john_davis.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
218,John Davis,Digital Recognition Network Inc,DRN-2Cabs-DFW3-0/102022,1500.00,9/13/2022,65839,DFW3,Existing,Closed Won
219,John Davis,"Toyon Associates, Inc",Toyon / PAAS PROD Server add SLC / 08.04.22,1401.44,9/29/2022,68422,SLC2,Agent - Existing,Closed Won
220,John Davis,Benchmark Bank,Benchmark Bank / Internet Upgrade / 10.05.22,1062.33,9/29/2022,68321,DFW3,Agent - Existing,Closed Won
221,John Davis,"Currence, LLC (Member Access Processing)",MAP-Half CAB-SLC2-09092022,671.20,9/16/2022,67150,SLC2,Agent - New,Closed Won
222,John Davis,"Currence, LLC (Member Access Processing)",MAP-Half CAB-ORD4-09092022,671.20,9/16/2022,67151,ORD4,Agent - New,Closed Won

In [60]:
davis_indivdual = john_davis['Net Amount'].sum()

In [61]:
print(davis_indivdual)

7057.14

In [62]:
davis_regional = (east/177500)*833.33

In [63]:
print(davis_regional)

453.6412840191549

In [64]:
davis_1 = (john_davis['Net Amount'] * .1111).sum() + davis_regional

In [65]:
print(davis_1)

1237.689538019155

In [66]:
john_davis.loc[11111] = ['Total Indivdual Bookings:', davis_indivdual, '', '' ,'','','','','']

In [67]:
john_davis.loc[11112] = ['Regional Payment:', davis_regional, '', '' ,'','','','','']

In [68]:
john_davis.loc[11113] = ['Total Payout:', davis_1, '', '' ,'','','','','']

In [69]:
john_davis.to_excel(os.path.join('../SE','davis_September_2022.xlsx'), index=False)

#### End John Davis

### Marshall Sapp - East

In [70]:
marshall_sapp.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
236,Marshall Sapp,DataSeers Inc,DataSeers / Colo / DFW3 / 8.5.2022,4614.5,9/30/2022,68102,DFW3,New,Closed Won

In [71]:
sapp_indivdual = marshall_sapp['Net Amount'].sum()

In [72]:
print(sapp_indivdual)

21415.6

In [73]:
sapp_regional = (east/177500)*833.33

In [74]:
print(sapp_regional)

453.6412840191549

In [75]:
sapp_1 = (marshall_sapp['Net Amount'] * 0.1111).sum() + sapp_regional

In [76]:
print(sapp_1)

2832.914444019155

In [77]:
marshall_sapp.loc[11111] = ['Total Indivdual Bookings:', sapp_indivdual, '', '' ,'','','','','']

In [78]:
marshall_sapp.loc[11112] = ['Regional Payment:', sapp_regional, '', '' ,'','','','','']

In [79]:
marshall_sapp.loc[11113] = ['Total Payout:', sapp_1, '', '' ,'','','','','']

In [80]:
marshall_sapp.to_excel(os.path.join('../SE','sapp_September_2022.xlsx'), index=False)

#### Marshall Sapp

### Mike Alvaro - East

In [81]:
michael_alvaro.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
285,Michael Alvaro,Continent 8 LLC,Continent 8 LLC/ Columbus Power Add/ IND1/0801...,6734.5,9/30/2022,67703,IND1,Change Order,Closed Won

In [82]:
alvaro_indivdual = michael_alvaro['Net Amount'].sum()

In [83]:
print(alvaro_indivdual)

25857.33

In [84]:
alvaro_regional = (east/177500)*667

In [85]:
alvaro_1 = (michael_alvaro['Net Amount'] * 0.0888).sum() + alvaro_regional

In [86]:
print(alvaro_1)

2659.226840112676

In [87]:
michael_alvaro.loc[11111] = ['Total Indivdual Bookings:', alvaro_indivdual, '', '' ,'','','','','']

In [88]:
michael_alvaro.loc[11112] = ['Regional Payment:', alvaro_regional, '', '' ,'','','','','']

In [89]:
michael_alvaro.loc[11113] = ['Total Payout:', alvaro_1, '', '' ,'','','','','']

In [90]:
michael_alvaro.to_excel(os.path.join('../SE','alvaro_September_2022.xlsx'), index=False)

#### End Michael Alvaro

### Greg Shamieh - East

In [91]:
#greg_shamieh.head(1)

In [92]:
#shamieh_indivdual = greg_shamieh['Net Amount'].sum()

In [93]:
#print(shamieh_indivdual)

In [94]:
#shamieh_regional = (east/177500)*583

In [95]:
#shamieh_1 = (greg_shamieh['Net Amount'] * 0.0777).sum() + shamieh_regional

In [96]:
#print(shamieh_1)

In [97]:
#greg_shamieh.loc[11111] = ['Total Indivdual Bookings:', shamieh_indivdual, '', '' ,'','','','','','','','','','','','','']

In [98]:
#greg_shamieh.loc[11112] = ['Regional Payment:', shamieh_regional, '', '' ,'','','','','','','','','','','','','']

In [99]:
#greg_shamieh.loc[11113] = ['Total Payout:', shamieh_1, '', '' ,'','','','','','','','','','','','','']

In [100]:
#greg_shamieh.to_excel(os.path.join(../SE','shamieh_September_2022.xlsx'), index=False)

#### End Greg Shamieh

## Eric Carter - West

In [101]:
eric_carter_1  = (west/170000)*3333

In [102]:
print(eric_carter_1)

5702.684968588236

In [103]:
carter = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [104]:
carter.loc[1111] = ['Eric Carter', eric_carter_1, westf , '(west/170000)*3333' ]

In [105]:
print(carter)

            Name:      Payout:  East Quota %:       Formula Used:
1111  Eric Carter  5702.684969           1.24  (west/170000)*3333

In [106]:
carter.to_excel(os.path.join('../SE','carter_September_2022.xlsx'), index=False)

#### End Eric Carter

### Anthony Mccloud - West

In [107]:
anthony_mccloud.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Concerto Healthcare,Concerto Healthcare/DRaaS/SLC2/07142022,3518.78,9/14/2022,64040,SLC2,Change Order,Closed Won

In [108]:
mccloud_indivdual = anthony_mccloud['Net Amount'].sum()

In [109]:
print(mccloud_indivdual)

9934.83

In [110]:
mccloud_regional = (west/170000)*500

In [111]:
mccloud_1 = (anthony_mccloud['Net Amount'] * 0.0666).sum() + mccloud_regional

In [112]:
print(mccloud_1)

1517.1479721176474

In [113]:
anthony_mccloud.loc[11111] = ['Total Indivdual Bookings:', '', '', mccloud_indivdual ,'','','','','']

In [114]:
anthony_mccloud.loc[11112] = ['Regional Payment:', '', '', mccloud_regional ,'','','','','']

In [115]:
anthony_mccloud.loc[11113] = ['Total Payout:', '', '', mccloud_1 ,'','','','','']

In [116]:
anthony_mccloud.to_excel(os.path.join('../SE','mccloud_September_2022.xlsx'), index=False)

#### End Anthony Mccloud

### Christopher Chandler - West

In [117]:
christopher_chandler.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
72,Christopher Chandler,ION Geophysical,ION / 2 cabs / Houston,3215.0,9/22/2022,67334,HOU5,New,Closed Won

In [118]:
chandler_indivdual = christopher_chandler['Net Amount'].sum()

In [119]:
print(chandler_indivdual)

12519.580000000002

In [120]:
chandler_regional = (west/170000)*500

In [121]:
print(chandler_regional)

855.4882941176471

In [122]:
chandler_1 = (christopher_chandler['Net Amount'] * 0.0666).sum() + chandler_regional

In [123]:
print(chandler_1)

1689.2923221176472

In [124]:
christopher_chandler.loc[11111] = ['Total Indivdual Bookings:', chandler_indivdual, '', '' ,'','','','','']

In [125]:
christopher_chandler.loc[11112] = ['Regional Payment:', chandler_regional, '', '' ,'','','','','']

In [126]:
christopher_chandler.loc[11113] = ['Total Payout:', chandler_1, '', '' ,'','','','','']

In [127]:
christopher_chandler.to_excel(os.path.join('../SE','chandler_September_2022.xlsx'), index=False)

#### End Christopher Chandler

### William Brucker - West

In [128]:
william_brucker.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
340,William Brucker,Sikaras Technology Group,Sikaras/Colo/ORD4/07052022,2322.0,9/2/2022,65040,ORD4,New,Closed Won

In [129]:
brucker_indivdual = william_brucker['Net Amount'].sum()

In [130]:
print(brucker_indivdual)

8147.74

In [131]:
brucker_regional = (west/170000)*500

In [132]:
brucker_1 = (william_brucker['Net Amount'] * 0.0666).sum() + brucker_regional

In [133]:
print(brucker_1)

1398.1277781176473

In [134]:
william_brucker.loc[11111] = ['Total Indivdual Bookings:', brucker_indivdual, '', '' ,'','','','','']

In [135]:
william_brucker.loc[11112] = ['Regional Payment:', brucker_regional, '', '' ,'','','','','']

In [136]:
william_brucker.loc[11113] = ['Total Payout:', brucker_1, '', '' ,'','','','','']

In [137]:
william_brucker.to_excel(os.path.join('../SE','brucker_September_2022.xlsx'), index=False)

#### End William Brucker

### Perry Allen - West

In [138]:
perry_allen.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
325,Perry Allen,Akamai Technologies,AKMI/Split/Colocation/IAD1/DC03/1MW,52800.0,9/29/2022,68322,IAD1,New,Closed Won

In [139]:
allen_indivdual = perry_allen['Net Amount'].sum()

In [140]:
print(allen_indivdual)

108000.0

In [141]:
allen_regional = (west/170000)*667

In [142]:
allen_1 = (perry_allen['Net Amount'] * 0.0888).sum() + allen_regional

In [143]:
print(allen_1)

10731.621384352942

In [144]:
perry_allen.loc[11111] = ['Total Indivdual Bookings:', allen_indivdual, '', '' ,'','','','','']

In [145]:
perry_allen.loc[11112] = ['Regional Payment:', allen_regional, '', '' ,'','','','','']

In [146]:
perry_allen.loc[11113] = ['Total Payout:', allen_1, '', '' ,'','','','','']

In [147]:
perry_allen.to_excel(os.path.join('../SE','allen_September_2022.xlsx'), index=False)

#### End Perry Allen

### Greg Ryman - West

In [148]:
greg_ryman.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
198,Greg Ryman,Skyworks Solutions,Skyworks - Colo Ashburn - Aug 1 2022 - MRR Only,46069.0,9/19/2022,67387,IAD1,Agent - New,Closed Won

In [149]:
ryman_indivdual = greg_ryman['Net Amount'].sum()

In [150]:
print(ryman_indivdual)

54133.72

In [151]:
ryman_regional = (west/170000)*500

In [152]:
ryman_1 = (greg_ryman['Net Amount'] * 0.0666).sum() + ryman_regional

In [153]:
print(ryman_1)

4460.794046117649

In [154]:
greg_ryman.loc[11111] = ['Indivdual Bookings:', ryman_indivdual, '', '' ,'','','','','']

In [155]:
greg_ryman.loc[11112] = ['Regional Payment:', ryman_regional, '', '' ,'','','','','']

In [156]:
greg_ryman.loc[11113] = ['Total Payout:', ryman_1, '', '' ,'','','','','']

In [157]:
greg_ryman.to_excel(os.path.join('../SE','ryman_September_2022.xlsx'), index=False)

#### End Greg Ryman

### Grady Vogt

In [158]:
grady_vogt.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
158,Grady Vogt,CCI/Bell Bank,CCI/Bell - MSP2 - Transform Power and Expansio...,18149.5,9/20/2022,65408,MSP2,Renewal,Closed Won

In [159]:
vogt_indivdual = grady_vogt['Net Amount'].sum()

In [160]:
print(vogt_indivdual)

35889.10999999999

In [161]:
vogt_regional = (west/170000)*667

In [162]:
print(vogt_regional)

1141.2213843529414

In [163]:
vogt_1 = (grady_vogt['Net Amount'] * 0.0888).sum() + vogt_regional

In [164]:
print(vogt_1)

4328.174352352941

In [165]:
grady_vogt.loc[11111] = ['Total Indivdual Bookings:', '', '', vogt_indivdual ,'','','','','']

In [166]:
grady_vogt.loc[11112] = ['Regional Payment:', '', '', vogt_regional ,'','','','','']

In [167]:
grady_vogt.loc[11113] = ['Total Payout:', '', '', vogt_1 ,'','','','','']

In [168]:
grady_vogt.to_excel(os.path.join('../SE','vogt_September_2022.xlsx'), index=False)

#### End Grady Vogt

### Daniel Bartholomew

In [169]:
daniel_bartholomew.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
101,Daniel Bartholomew,"Pure Storage, Inc.",Pure Storage/remotehandsbundle/SLC5/08172022,11250.0,9/16/2022,67319,SLC5,Existing,Closed Won

In [170]:
bartholomew_indivdual = daniel_bartholomew['Net Amount'].sum()

In [171]:
print(bartholomew_indivdual)

62241.03999999999

In [172]:
bartholomew_regional = (west/170000)*667

In [173]:
bartholomew_1 = (daniel_bartholomew['Net Amount'] * 0.0888).sum() + bartholomew_regional

In [174]:
print(bartholomew_1)

6668.225736352942

In [175]:
daniel_bartholomew.loc[11111] = ['Total Indivdual Bookings:', bartholomew_indivdual, '', '' ,'','','','','']

In [176]:
daniel_bartholomew.loc[11112] = ['Regional Payment:', bartholomew_regional, '', '' ,'','','','','']

In [177]:
daniel_bartholomew.loc[11113] = ['Total Payout:', bartholomew_1, '', '' ,'','','','','']

In [178]:
daniel_bartholomew.to_excel(os.path.join('../SE','Bartholomew_September_2022.xlsx'), index=False)

#### End Daniel Bartholomew

### End SEs

## Sheet For Payroll

In [179]:
se_by_period1 = pd.DataFrame(columns=['Name:', 'Payout:'])

In [180]:
se_by_period1.loc[0] = ['East:', '']

In [181]:
se_by_period1.loc[1] = ['Brendon Yoder', yoder_1]

In [182]:
se_by_period1.loc[2] = ['Eric Wooster', wooster_1]

In [183]:
se_by_period1.loc[3] = ['Greg Manning', manning_1]

In [184]:
se_by_period1.loc[4] = ['John Davis', davis_1 ]

In [185]:
se_by_period1.loc[5] = ['Marshall Sapp', sapp_1 ]

In [186]:
se_by_period1.loc[6] = ['Michael Alvaro', alvaro_1]

In [187]:
se_by_period1.loc[7] = ['Robert Zimmerman', robert_zimmerman_1 ]

In [188]:
#se_by_period.loc[8] = ['Greg Shamieh', shamieh_1 ]

In [189]:
se_by_period1.loc[9] = ['West:', '']

In [190]:
se_by_period1.loc[10] = ['Anthony McCloud', mccloud_1 ]

In [191]:
se_by_period1.loc[11] = ['Chris Chandler', chandler_1 ]

In [192]:
se_by_period1.loc[12] = ['Dan Bartholomew', bartholomew_1 ]

In [193]:
se_by_period1.loc[13] = ['Grady Vogt', vogt_1 ]

In [194]:
se_by_period1.loc[14] = ['Greg Ryman', ryman_1 ]

In [195]:
se_by_period1.loc[15] = ['Perry Allen', allen_1 ]

In [196]:
se_by_period1.loc[16] = ['William Brucker', brucker_1 ]

In [197]:
se_by_period1.loc[17] = ['Eric Carter', eric_carter_1 ]

In [198]:
se_by_period1.head(100)

               Name:       Payout:
0              East:
1      Brendon Yoder   1770.053825
2       Eric Wooster   1754.174576
3       Greg Manning    822.288789
4         John Davis   1237.689538
5      Marshall Sapp   2832.914444
6     Michael Alvaro    2659.22684
7   Robert Zimmerman   1814.390937
9              West:
10   Anthony McCloud   1517.147972
11    Chris Chandler   1689.292322
12   Dan Bartholomew   6668.225736
13        Grady Vogt   4328.174352
14        Greg Ryman   4460.794046
15       Perry Allen  10731.621384
16   William Brucker   1398.127778
17       Eric Carter   5702.684969

In [199]:
se_by_period1.to_excel(os.path.join('../SE','SE_September_2022.xlsx'), index=False)

In [200]:
#abc = se_by_period

In [201]:
#se_by_period.to_excel(os.path.join('excel_sheets','SED.xlsx'), index=False)

### End

# CB

#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

### Change to file name for current month for channel bookings. Must be within commishes file.

In [202]:
names = pd.read_excel('../excel_sheets/CB.xlsx')

In [203]:
names.head(1)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Abatix,Abatix / DFW1 / IaaS Change Order / 10-04-2022,68229,DFW1,Change Order,914.13,9/29/2022,Andersen

In [204]:
names.columns

Index(['Account Name', 'Opportunity Name', 'Order Number', 'Data Centers',
       'Type', 'Amount', 'Close Date', 'Channel Rep'],
      dtype='object')

In [205]:
names.dtypes

Account Name         object
Opportunity Name     object
Order Number          int64
Data Centers         object
Type                 object
Amount              float64
Close Date           object
Channel Rep          object
dtype: object

In [206]:
df = names.sort_values(by=['Channel Rep'])

## Anyone new must be added below.

In [207]:
Wilhelm = df[df['Channel Rep'] == 'Wilhelm']
askinsvf = df
Nelson = df[df['Channel Rep'] == 'Nelson']
andersen = df[df['Channel Rep'] == 'Andersen']

##### Wilhelm

In [208]:
wilhelm_indivdual = Wilhelm['Amount'].sum()

In [209]:
wilhelm_payout = wilhelm_indivdual * .33

In [210]:
print(wilhelm_indivdual)

68564.54

In [211]:
print(wilhelm_payout)

22626.298199999997

In [212]:
Wilhelm.loc[11111] = ['Total Bookings: ','','','', wilhelm_indivdual ,'','','']

In [213]:
Wilhelm.loc[11112] = ['Total Payout: ','','','', wilhelm_payout ,'','','']

#### Nelson

In [214]:
nelson_indivdual = Nelson['Amount'].sum()

In [215]:
nelson_payout = nelson_indivdual * .33

In [216]:
print(nelson_indivdual)

19739.730000000003

In [217]:
print(nelson_payout)

6514.1109000000015

In [218]:
Nelson.loc[11111] = ['Total Bookings: ','','','', nelson_indivdual ,'','','']

In [219]:
Nelson.loc[11112] = ['Total Payout: ','','','', nelson_payout ,'','','']

#### Andersen

In [220]:
andersen_indivdual = andersen['Amount'].sum()

In [221]:
andersen_payout = andersen_indivdual * .33

In [222]:
print(andersen_indivdual)

15512.78

In [223]:
print(andersen_payout)

5119.2174

In [224]:
andersen.loc[11111] = ['Total Bookings: ','','','', andersen_indivdual ,'','','']

In [225]:
andersen.loc[11112] = ['Total Payout: ','','','', andersen_payout ,'','','']

#### Askins

In [226]:
askins_payout = askinsvf['Amount'].sum()/70000*10000

In [227]:
askins_1 = df[df['Channel Rep'] == 'Askins']

In [228]:
askins_indivdual = askinsvf['Amount'].sum()

In [229]:
print(askins_indivdual)

103817.04999999999

In [230]:
askinsvf.loc[1110] = ['Total Bookings:', '','','',askins_indivdual,'','','']

In [231]:
askinsvf.loc[1111] = ['Comission Payout:', '', '','',askins_payout,'','','']

In [232]:
askinsvf.head(1)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Abatix,Abatix / DFW1 / IaaS Change Order / 10-04-2022,68229,DFW1,Change Order,914.13,9/29/2022,Andersen

In [233]:
Wilhelm.to_excel(os.path.join('../CB','wilhelm_September_2022.xlsx'), index=False)
Nelson.to_excel(os.path.join('../CB','nelson_September_2022.xlsx'), index=False)
askinsvf.to_excel(os.path.join('../CB','askins_September_2022.xlsx'), index=False)
andersen.to_excel(os.path.join('../CB','andersen_September_2022.xlsx'), index=False)

## End Channel Bookings

## Commission by Period

In [234]:
payouts_by_period = pd.DataFrame(columns=['Name:', 'Payout:'])

In [235]:
payouts_by_period.head()

Empty DataFrame
Columns: [Name:, Payout:]
Index: []

In [236]:
payouts_by_period.loc[1] = ['Scott Askins', askins_payout]

In [237]:
payouts_by_period.loc[2] = ['Keith Nelson', nelson_payout]

In [238]:
payouts_by_period.loc[3] = ['Joel Wilhelm', wilhelm_payout]

In [239]:
payouts_by_period.loc[4] = ['Joel Andersen', andersen_payout]

In [240]:
payouts_by_period.head(1000)

           Name:       Payout:
1   Scott Askins  14831.007143
2   Keith Nelson   6514.110900
3   Joel Wilhelm  22626.298200
4  Joel Andersen   5119.217400

In [241]:
payouts_by_period.to_excel(os.path.join('../CB','CB_September_2022.xlsx'), index=False)

#### This section is for Channel bookings only

### All imports will be used / are needed

### Edit (Name)_payout if comp plans change

In [242]:
pay_to_billings = pd.concat([se_by_period1, payouts_by_period], ignore_index=True, sort=False)

# NS Expense

In [243]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
#import pdfkit
pd.options.mode.chained_assignment = None

In [244]:
cb = pd.read_excel('../excel_sheets/CB.xlsx')

In [245]:
ed = pd.read_excel('../excel_sheets/Epicor.xlsx')

In [246]:
se = pd.read_excel('../excel_sheets/SE.xlsx')

In [247]:
cb.head(10)

,Account Name,Opportunity Name,Order Number,Data Centers,Type,Amount,Close Date,Channel Rep
0,Abatix,Abatix / DFW1 / IaaS Change Order / 10-04-2022,68229,DFW1,Change Order,914.13,9/29/2022,Andersen
1,"Currence, LLC (Member Access Processing)",MAP-Half CAB-SLC2-09092022,67150,SLC2,Agent - New,671.20,9/16/2022,Andersen
2,"Currence, LLC (Member Access Processing)",MAP-Half CAB-ORD4-09092022,67151,ORD4,Agent - New,671.20,9/16/2022,Andersen
3,Boondocks Fun Center,Boondocks/HalfCab/SLC2/03222022,66645,SLC2,Agent - New,535.37,9/7/2022,Wilhelm
4,Benchmark Bank,Benchmark Bank / Internet Upgrade / 10.05.22,68321,DFW3,Agent - Existing,1062.33,9/29/2022,Andersen
5,Skyworks Solutions,Skyworks - Colo Ashburn - Aug 1 2022 - MRR Only,67387,IAD1,Agent - New,46069.00,9/19/2022,Wilhelm
6,Bourns Inc.,Bourns/SNA2/Cage/03092022,67055,SNA2,Existing,5410.25,9/22/2022,Nelson
7,"Survey Sampling International, LLC",Survey Sampling CC SLC2 09082022,66907,SLC2,New,150.00,9/13/2022,Wilhelm
8,"CHG Management, Inc.",CHG Management/SLC3- Megaport Xconn/ 08312022,66568,SLC3,Existing,200.00,9/23/2022,Wilhelm
9,"Rackspace US, Inc.",rackspace/ New power 03E / DFW1/ 08082022,65213,DFW1,Change Order,790.00,9/30/2022,Andersen

In [248]:
cdns = cb.drop(columns=['Account Name', 'Opportunity Name','Order Number','Type','Channel Rep','Close Date'])

In [249]:
cdns['Amount']*=.33

In [250]:
cdns.groupby(['Data Centers']).sum()

                  Amount
Data Centers
ATL1            976.3050
BWI1            822.3237
DEN1           4512.9150
DFW1            562.3629
DFW2             49.5000
DFW3           4302.5301
EWR1             85.8000
HOU5           1060.9500
IAD1          15202.7700
LAS1           1322.5245
LGA1            544.5000
ORD4            776.5560
PHX1            135.6960
SAN1             66.0000
SLC2           1987.5108
SLC3             66.0000
SNA2           1785.3825

In [251]:
#---------------------------------------------------->>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

In [252]:
se.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Order Number,Data Centers,Type,Stage
0,Anthony McCloud,Concerto Healthcare,Concerto Healthcare/DRaaS/SLC2/07142022,3518.78,9/14/2022,64040,SLC2,Change Order,Closed Won
1,Anthony McCloud,"Established Brands, Inc",Established Brands/ DataBank DR Site/SLC2/0616...,2085.90,9/26/2022,62459,SLC2,New,Closed Won
2,Anthony McCloud,Larson & Company,Larson & Company - Power Upgrade - SLC3 - 0831...,553.50,9/9/2022,66495,SLC3,Change Order,Closed Won
3,Anthony McCloud,"CU Prodigy, LLC","CU Prodigy, LLC/Colocation (Managed Internet T...",353.01,9/7/2022,65931,SLC1,Change Order,Closed Won
4,Anthony McCloud,"Escalante Golf, Inc.","Escalante Golf, Inc./Managed Services (Golden ...",254.49,9/30/2022,67710,DFW3,Change Order,Closed Won

In [253]:
se1 = se[['Net Amount','Data Centers']].dropna()

In [254]:
se1

     Net Amount Data Centers
0       3518.78         SLC2
1       2085.90         SLC2
2        553.50         SLC3
3        353.01         SLC1
4        254.49         DFW3
..          ...          ...
351        0.00         IAD1
352        0.00         ORD4
353        0.00         IAD1
354        0.00         SLC3
355        0.00         IAD1

[331 rows x 2 columns]

In [255]:
print('Done')

Done