## Sales Engineers

### All imports will be used / are needed

In [2]:
import openpyxl as py
from openpyxl import *
import pandas as pd
from pandas import *
import numpy as np
import ast as ast
import pdfkit
pd.options.mode.chained_assignment = None
import os.path

### Closed Won With SE

In [5]:
se = pd.read_excel('SE Booking July 2022.xlsx')

NameError: name 'excel_sheets' is not defined

In [3]:
se.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
0,Anthony McCloud,"EZ Links Golf, Inc.",EZLinks/New Cab and Power/ORD4/07052022,2060.0,2022-07-18 00:00:00,63442,63442,ORD4,Existing,NaN,NaN,Closed Won,Jonathan Malcolm,NaN,NaN,NaN,yes

In [4]:
se.columns

Index(['SE Assigned', 'Account Name', 'Opportunity Name', 'Net Amount',
       'Close Date', 'Quote Number', 'Order Number', 'Data Centers', 'Type',
       'Partner', 'Master Agent', 'Stage', 'Opportunity Owner', 'Secondary SE',
       'SE Split Percentage', 'SE Split Notes', 'yes'],
      dtype='object')

In [5]:
for names in se['SE Assigned'].drop_duplicates():
    print(names)

Anthony McCloud
Subtotal
nan
Brendon Yoder
Christopher Chandler
Daniel Bartholomew
Eric Wooster
Grady Vogt
Gregory Manning
Greg Ryman
John Davis
Marshall Sapp
Michael Alvaro
Perry Allen
William Brucker
Total

In [6]:
anthony_mccloud = se[se['SE Assigned'] == 'Anthony McCloud']
brendon_yoder = se[se['SE Assigned'] == 'Brendon Yoder']
christopher_chandler = se[se['SE Assigned'] == 'Christopher Chandler']
daniel_bartholomew = se[se['SE Assigned'] == 'Daniel Bartholomew']
eric_wooster = se[se['SE Assigned'] == 'Eric Wooster']
grady_vogt = se[se['SE Assigned'] == 'Grady Vogt']
greg_ryman = se[se['SE Assigned'] == 'Greg Ryman']
greg_shamieh = se[se['SE Assigned'] == 'Greg Shamieh']
marshall_sapp = se[se['SE Assigned'] == 'Marshall Sapp']
michael_alvaro = se[se['SE Assigned'] == 'Michael Alvaro']
perry_allen = se[se['SE Assigned'] == 'Perry Allen']
william_brucker = se[se['SE Assigned'] == 'William Brucker']
greg_manning = se[se['SE Assigned'] == 'Gregory Manning']
john_davis = se[se['SE Assigned'] == 'John Davis']
robert_zimmerman = se[se['SE Assigned'] == 'Robert Zimmerman']
eric_carter = se[se['SE Assigned'] == 'Eric Carter']
#East 
east = greg_shamieh['Net Amount'].sum() + brendon_yoder['Net Amount'].sum() + eric_wooster['Net Amount'].sum() + greg_manning['Net Amount'].sum() + john_davis['Net Amount'].sum() + marshall_sapp['Net Amount'].sum()+ michael_alvaro['Net Amount'].sum()
#eastf = (east/177500)*667

In [7]:
print(east)

193909.63

In [8]:
#West
west = anthony_mccloud['Net Amount'].sum() + christopher_chandler['Net Amount'].sum() + daniel_bartholomew['Net Amount'].sum() + grady_vogt['Net Amount'].sum() + greg_ryman['Net Amount'].sum() + perry_allen['Net Amount'].sum() + william_brucker['Net Amount'].sum()
westf = west/170000

In [9]:
print(westf)

0.8907459411764705

In [10]:
eastf = (east/177500)

In [11]:
print(eastf)

1.0924486197183099

## Robert Zimmerman - East

In [12]:
robert_zimmerman_1  = (east/177500)*3333

In [13]:
zimmerman = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [14]:
zimmerman.loc[1111] = ['Robert Zimmerman', robert_zimmerman_1, eastf , '(east/177500)*3333' ]

In [15]:
print(zimmerman)

                 Name:     Payout:  East Quota %:       Formula Used:
1111  Robert Zimmerman  3641.13125       1.092449  (east/177500)*3333

In [16]:
zimmerman.to_excel(os.path.join('SE','zimmerman_july_2022.xlsx'), index=False)

### End Zimmerman

### Brendon Yoder - East

In [17]:
brendon_yoder.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
32,Brendon Yoder,Zayo Group LLC - TSMSA,Zayo.TSMSA.MIA1. 3 new cabs.ISO-0560575,8917.5,2022-07-06 00:00:00,63219,63219,MIA1,Existing,NaN,NaN,Closed Won,Susan Rossi,Michael Alvaro,NaN,NaN,yes

In [18]:
yoder_indivdual = brendon_yoder['Net Amount'].sum()

In [19]:
print(yoder_indivdual)

22835.48

In [20]:
yoder_regional = (east/177500)*500

In [21]:
print(yoder_regional)

546.2243098591549

In [22]:
yoder_1 = (brendon_yoder['Net Amount'] * 0.0666).sum() + yoder_regional

In [23]:
print(yoder_1)

2067.067277859155

In [24]:
brendon_yoder.loc[11111] = ['Total Indivdual Bookings:', yoder_indivdual, '', '' ,'','','','','','','','','','','','','']

In [25]:
brendon_yoder.loc[11112] = ['Regional Payment:', yoder_regional , '', '' ,'','','','','','','','','','','','','']

In [26]:
brendon_yoder.loc[11113] = ['Total Payout:', yoder_1, '', '' ,'','','','','','','','','','','','','']

In [27]:
brendon_yoder.to_excel(os.path.join('SE','yoder_july_2022.xlsx'), index=False)

#### End Brendon Yoder

### Eric Wooster - East

In [28]:
eric_wooster.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
112,Eric Wooster,JUB Engineers Inc.,JUB - SLC2 - Additional Power 10kw - 7.28.22 -...,1270.0,2022-07-28 00:00:00,64600,64600,SLC2,Change Order,Carrier Sales,Carrier Sales,Closed Won,Samuel Mickler,NaN,NaN,NaN,yes

In [29]:
wooster_indivdual = eric_wooster['Net Amount'].sum()

In [30]:
print(wooster_indivdual)

4134.7300000000005

In [31]:
wooster_regional = (east/177500)*667

In [32]:
print(wooster_regional)

728.6632293521127

In [33]:
wooster_1 = (eric_wooster['Net Amount'] * 0.0888).sum() + wooster_regional

In [34]:
print(wooster_1)

1095.8272533521126

In [35]:
eric_wooster.loc[11111] = ['Total Indivdual Bookings:', wooster_indivdual, '', '' ,'','','','','','','','','','','','','']

In [36]:
eric_wooster.loc[11112] = ['Regional Payment:', wooster_regional, '', '' ,'','','','','','','','','','','','','']

In [37]:
eric_wooster.loc[11113] = ['Total Payout:', wooster_1, '', '' ,'','','','','','','','','','','','','']

In [38]:
eric_wooster.to_excel(os.path.join('SE','wooster_july_2022.xlsx'), index=False)

#### End Eric Wooster

### Greg Manning - East

In [39]:
greg_manning.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
155,Gregory Manning,Rose IT,Rose IT/CageDFW3/DFW3/07152022,11067.0,2022-07-28 00:00:00,63967,63967,DFW3,New,NaN,NaN,Closed Won,Jeffrey Plank,NaN,NaN,NaN,yes

In [40]:
manning_indivdual = greg_manning['Net Amount'].sum()

In [41]:
print(manning_indivdual)

22197.15

In [42]:
manning_regional = (east/177500)*750

In [43]:
manning_1 = (greg_manning['Net Amount'] * 0.1).sum() + manning_regional

In [44]:
print(manning_1)

3039.0514647887326

In [45]:
greg_manning.loc[11111] = ['Total Indivdual Bookings:', manning_indivdual, '', '' ,'','','','','','','','','','','','','']

In [46]:
greg_manning.loc[11112] = ['Regional Payment:', manning_regional, '', '' ,'','','','','','','','','','','','','']

In [47]:
greg_manning.loc[11113] = ['Total Payout:', manning_1, '', '' ,'','','','','','','','','','','','','']

In [48]:
greg_manning.to_excel(os.path.join('SE','manning_july_2022.xlsx'), index=False)

#### End Greg Manning

### John Davis - East

In [49]:
john_davis.head()

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
172,John Davis,Vericast,Vericast / Short Term Renewal / 07072022,15038.33,2022-07-28 00:00:00,63572,63572,AUS1,Renewal,NaN,NaN,Closed Won,Jeffrey Reinis,NaN,NaN,NaN,yes
173,John Davis,Tyler Technologies,Tyler Tech / Colo DFW1 25KW - 07.08.22,6080.00,2022-07-28 00:00:00,64907,64907,DFW1,Existing,NaN,NaN,Closed Won,Ashley Waller,NaN,NaN,NaN,yes
174,John Davis,Kodiak Verizon,KodiakV-BW-DFW1-07262022,1478.04,2022-07-28 00:00:00,64444,64444,DFW1,Existing,NaN,NaN,Closed Won,RJ Thibodeau,NaN,NaN,NaN,yes
175,John Davis,Qickdata,QD-half cab-HOU5-06212022,1000.00,2022-07-20 00:00:00,63956,63956,HOU5,New,NaN,NaN,Closed Won,RJ Thibodeau,NaN,NaN,NaN,yes
176,John Davis,ROTM CONSULTING,ROTM/IP/DFW6/07252022,5.60,2022-07-25 00:00:00,64407,64407,DFW6,Existing,NaN,NaN,Closed Won,Jeffrey Reinis,NaN,NaN,NaN,yes

In [50]:
davis_indivdual = john_davis['Net Amount'].sum()

In [51]:
print(davis_indivdual)

23601.97

In [52]:
davis_regional = (east/177500)*833.33

In [53]:
print(davis_regional)

910.3702082698592

In [54]:
davis_1 = (john_davis['Net Amount'] * .1111).sum() + davis_regional

In [55]:
print(davis_1)

3532.5490752698593

In [56]:
john_davis.loc[11111] = ['Total Indivdual Bookings:', davis_indivdual, '', '' ,'','','','','','','','','','','','','']

In [57]:
john_davis.loc[11112] = ['Regional Payment:', davis_regional, '', '' ,'','','','','','','','','','','','','']

In [58]:
john_davis.loc[11113] = ['Total Payout:', davis_1, '', '' ,'','','','','','','','','','','','','']

In [59]:
john_davis.to_excel(os.path.join('SE','davis_july_2022.xlsx'), index=False)

#### End John Davis

### Marshall Sapp - East

In [60]:
marshall_sapp.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
179,Marshall Sapp,Focal Point Solutions Group,Focal Point / Colo Power Utility Commit / ATL2...,3175.0,2022-07-29 00:00:00,64521,64521,ATL2,Existing,NaN,NaN,Closed Won,Tim Langan,NaN,NaN,NaN,yes

In [61]:
sapp_indivdual = marshall_sapp['Net Amount'].sum()

In [62]:
print(sapp_indivdual)

20684.65

In [63]:
sapp_regional = (east/177500)*833.33

In [64]:
print(sapp_regional)

910.3702082698592

In [65]:
sapp_1 = (marshall_sapp['Net Amount'] * 0.1111).sum() + sapp_regional

In [66]:
print(sapp_1)

3208.4348232698594

In [67]:
marshall_sapp.loc[11111] = ['Total Indivdual Bookings:', sapp_indivdual, '', '' ,'','','','','','','','','','','','','']

In [68]:
marshall_sapp.loc[11112] = ['Regional Payment:', sapp_regional, '', '' ,'','','','','','','','','','','','','']

In [69]:
marshall_sapp.loc[11113] = ['Total Payout:', sapp_1, '', '' ,'','','','','','','','','','','','','']

In [70]:
marshall_sapp.to_excel(os.path.join('SE','sapp_july_2022.xlsx'), index=False)

#### Marshall Sapp

### Mike Alvaro - East

In [71]:
michael_alvaro.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
231,Michael Alvaro,DISH Wireless L.L.C.,DISH - CAGE 136kW - LAX,41794.0,2022-07-14 00:00:00,63473,63473,LAX1,Existing,NaN,NaN,Closed Won,Scott Palsgrove,NaN,NaN,NaN,yes

In [72]:
alvaro_indivdual = michael_alvaro['Net Amount'].sum()

In [73]:
print(alvaro_indivdual)

100455.65

In [74]:
alvaro_regional = (east/177500)*667

In [75]:
alvaro_1 = (michael_alvaro['Net Amount'] * 0.0888).sum() + alvaro_regional

In [76]:
print(alvaro_1)

9649.124949352114

In [77]:
michael_alvaro.loc[11111] = ['Total Indivdual Bookings:', alvaro_indivdual, '', '' ,'','','','','','','','','','','','','']

In [78]:
michael_alvaro.loc[11112] = ['Regional Payment:', alvaro_regional, '', '' ,'','','','','','','','','','','','','']

In [79]:
michael_alvaro.loc[11113] = ['Total Payout:', alvaro_1, '', '' ,'','','','','','','','','','','','','']

In [80]:
michael_alvaro.to_excel(os.path.join('SE','alvaro_july_2022.xlsx'), index=False)

#### End Michael Alvaro

### Greg Shamieh - East

In [81]:
#greg_shamieh.head(1)

In [82]:
#shamieh_indivdual = greg_shamieh['Net Amount'].sum()

In [83]:
#print(shamieh_indivdual)

In [84]:
#shamieh_regional = (east/177500)*583

In [85]:
#shamieh_1 = (greg_shamieh['Net Amount'] * 0.0777).sum() + shamieh_regional

In [86]:
#print(shamieh_1)

In [87]:
#greg_shamieh.loc[11111] = ['Total Indivdual Bookings:', shamieh_indivdual, '', '' ,'','','','','','','','','','','','','']

In [88]:
#greg_shamieh.loc[11112] = ['Regional Payment:', shamieh_regional, '', '' ,'','','','','','','','','','','','','']

In [89]:
#greg_shamieh.loc[11113] = ['Total Payout:', shamieh_1, '', '' ,'','','','','','','','','','','','','']

In [90]:
#greg_shamieh.to_excel(os.path.join('SE','shamieh_july_2022.xlsx'), index=False)

#### End Greg Shamieh

## Eric Carter - West

In [91]:
eric_carter_1  = (west/170000)*3333

In [92]:
print(eric_carter_1)

2968.8562219411765

In [93]:
carter = pd.DataFrame(columns=['Name:', 'Payout:', 'East Quota %:' , 'Formula Used:'])

In [94]:
carter.loc[1111] = ['Eric Carter', eric_carter_1, westf , '(west/170000)*3333' ]

In [95]:
print(carter)

            Name:      Payout:  East Quota %:       Formula Used:
1111  Eric Carter  2968.856222       0.890746  (west/170000)*3333

In [96]:
carter.to_excel(os.path.join('SE','carter_july_2022.xlsx'), index=False)

#### End Eric Carter

### Anthony Mccloud - West

In [97]:
anthony_mccloud.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
0,Anthony McCloud,"EZ Links Golf, Inc.",EZLinks/New Cab and Power/ORD4/07052022,2060.0,2022-07-18 00:00:00,63442,63442,ORD4,Existing,NaN,NaN,Closed Won,Jonathan Malcolm,NaN,NaN,NaN,yes

In [98]:
mccloud_indivdual = anthony_mccloud['Net Amount'].sum()

In [99]:
print(mccloud_indivdual)

13177.990000000002

In [100]:
mccloud_regional = (west/170000)*500

In [101]:
mccloud_1 = (anthony_mccloud['Net Amount'] * 0.0666).sum() + mccloud_regional

In [102]:
print(mccloud_1)

1323.0271045882355

In [103]:
anthony_mccloud.loc[11111] = ['Total Indivdual Bookings:', '', '', mccloud_indivdual ,'','','','','','','','','','','','','']

In [104]:
anthony_mccloud.loc[11112] = ['Regional Payment:', '', '', mccloud_regional ,'','','','','','','','','','','','','']

In [105]:
anthony_mccloud.loc[11113] = ['Total Payout:', '', '', mccloud_1 ,'','','','','','','','','','','','','']

In [106]:
anthony_mccloud.to_excel(os.path.join('SE','mccloud_july_2022.xlsx'), index=False)

#### End Anthony Mccloud

### Christopher Chandler - West

In [107]:
christopher_chandler.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
76,Christopher Chandler,Prince Minerals LCC,Prince Minerals - Dedicated IaaS - DFW3 - 7/14...,20242.94,2022-07-28 00:00:00,64468,64468,DFW3,New,NaN,NaN,Closed Won,Carlie Matel,NaN,NaN,NaN,yes

In [108]:
chandler_indivdual = christopher_chandler['Net Amount'].sum()

In [109]:
print(chandler_indivdual)

45344.85

In [110]:
chandler_regional = (west/170000)*500

In [111]:
print(chandler_regional)

445.37297058823526

In [112]:
chandler_1 = (christopher_chandler['Net Amount'] * 0.0666).sum() + chandler_regional

In [113]:
print(chandler_1)

3465.3399805882354

In [114]:
christopher_chandler.loc[11111] = ['Total Indivdual Bookings:', chandler_indivdual, '', '' ,'','','','','','','','','','','','','']

In [115]:
christopher_chandler.loc[11112] = ['Regional Payment:', chandler_regional, '', '' ,'','','','','','','','','','','','','']

In [116]:
christopher_chandler.loc[11113] = ['Total Payout:', chandler_1, '', '' ,'','','','','','','','','','','','','']

In [117]:
christopher_chandler.to_excel(os.path.join('SE','chandler_july_2022.xlsx'), index=False)

#### End Christopher Chandler

### William Brucker - West

In [118]:
william_brucker.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
320,William Brucker,Pryor Learning Solutions Inc.,Pryor Learning/Colo/MCI2/06212022,3540.5,2022-07-20 00:00:00,64108,64108,MCI2,New,NaN,NaN,Closed Won,Odaine Hudson,NaN,NaN,NaN,yes

In [119]:
brucker_indivdual = william_brucker['Net Amount'].sum()

In [120]:
print(brucker_indivdual)

9567.93

In [121]:
brucker_regional = (west/170000)*500

In [122]:
brucker_1 = (william_brucker['Net Amount'] * 0.0666).sum() + brucker_regional

In [123]:
print(brucker_1)

1082.5971085882352

In [124]:
william_brucker.loc[11111] = ['Total Indivdual Bookings:', brucker_indivdual, '', '' ,'','','','','','','','','','','','','']

In [125]:
william_brucker.loc[11112] = ['Regional Payment:', brucker_regional, '', '' ,'','','','','','','','','','','','','']

In [126]:
william_brucker.loc[11113] = ['Total Payout:', brucker_1, '', '' ,'','','','','','','','','','','','','']

In [127]:
william_brucker.to_excel(os.path.join('SE','brucker_july_2022.xlsx'), index=False)

#### End William Brucker

### Perry Allen - West

In [128]:
perry_allen.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
296,Perry Allen,Akamai Technologies,AKMI/Colocation/IAD1/16 Linode Racks - Phase 1,26400.0,2022-07-28 00:00:00,64944,64944,IAD1,New,NaN,NaN,Closed Won,Patrick Chapa,Michael Alvaro,NaN,50/50,yes

In [129]:
allen_indivdual = perry_allen['Net Amount'].sum()

In [130]:
print(allen_indivdual)

52293.53999999999

In [131]:
allen_regional = (west/170000)*667

In [132]:
allen_1 = (perry_allen['Net Amount'] * 0.0888).sum() + allen_regional

In [133]:
print(allen_1)

5237.793894764707

In [134]:
perry_allen.loc[11111] = ['Total Indivdual Bookings:', allen_indivdual, '', '' ,'','','','','','','','','','','','','']

In [135]:
perry_allen.loc[11112] = ['Regional Payment:', allen_regional, '', '' ,'','','','','','','','','','','','','']

In [136]:
perry_allen.loc[11113] = ['Total Payout:', allen_1, '', '' ,'','','','','','','','','','','','','']

In [137]:
perry_allen.to_excel(os.path.join('SE','allen_july_2022.xlsx'), index=False)

#### End Perry Allen

### Greg Ryman - West

In [138]:
greg_ryman.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
161,Greg Ryman,Axos Bank,AxosBank/Renewal/SAN1/07312022,5584.0,2022-07-28 00:00:00,62591,62591,SAN1,Renewal,DataCenterAndColocation,UpStack,Closed Won,Rebecca Shaffer,NaN,NaN,NaN,yes

In [139]:
ryman_indivdual = greg_ryman['Net Amount'].sum()

In [140]:
print(ryman_indivdual)

11077.14

In [141]:
ryman_regional = (west/170000)*500

In [142]:
ryman_1 = (greg_ryman['Net Amount'] * 0.0666).sum() + ryman_regional

In [143]:
print(ryman_1)

1183.1104945882353

In [144]:
greg_ryman.loc[11111] = ['Indivdual Bookings:', ryman_indivdual, '', '' ,'','','','','','','','','','','','','']

In [145]:
greg_ryman.loc[11112] = ['Regional Payment:', ryman_regional, '', '' ,'','','','','','','','','','','','','']

In [146]:
greg_ryman.loc[11113] = ['Total Payout:', ryman_1, '', '' ,'','','','','','','','','','','','','']

In [147]:
greg_ryman.to_excel(os.path.join('SE','ryman_july_2022.xlsx'), index=False)

#### End Greg Ryman

### Grady Vogt

In [148]:
grady_vogt.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
128,Grady Vogt,Target Corporation,Target - MSP4 - Cabinet and Power for Rectifier,1710.0,2022-07-19 00:00:00,63674,63674,MSP4,Existing,NaN,NaN,Closed Won,Ronald Heltemes,NaN,NaN,NaN,yes

In [149]:
vogt_indivdual = grady_vogt['Net Amount'].sum()

In [150]:
print(vogt_indivdual)

8309.16

In [151]:
vogt_regional = (west/170000)*667

In [152]:
print(vogt_regional)

594.1275427647058

In [153]:
vogt_1 = (grady_vogt['Net Amount'] * 0.0888).sum() + vogt_regional

In [154]:
print(vogt_1)

1331.9809507647058

In [155]:
grady_vogt.loc[11111] = ['Total Indivdual Bookings:', '', '', vogt_indivdual ,'','','','','','','','','','','','','']

In [156]:
grady_vogt.loc[11112] = ['Regional Payment:', '', '', vogt_regional ,'','','','','','','','','','','','','']

In [157]:
grady_vogt.loc[11113] = ['Total Payout:', '', '', vogt_1 ,'','','','','','','','','','','','','']

In [158]:
grady_vogt.to_excel(os.path.join('SE','vogt_july_2022.xlsx'), index=False)

#### End Grady Vogt

### Daniel Bartholomew

In [159]:
daniel_bartholomew.head(1)

,SE Assigned,Account Name,Opportunity Name,Net Amount,Close Date,Quote Number,Order Number,Data Centers,Type,Partner,Master Agent,Stage,Opportunity Owner,Secondary SE,SE Split Percentage,SE Split Notes,yes
99,Daniel Bartholomew,"Survey Sampling International, LLC",Dynata SLC2 Power Whip Add 06212022,4998.0,2022-07-23 00:00:00,64089,64089,SLC2,New,Lightstream,Lightstream,Closed Won,Krystin Tagaris,NaN,NaN,NaN,yes

In [160]:
bartholomew_indivdual = daniel_bartholomew['Net Amount'].sum()

In [161]:
print(bartholomew_indivdual)

11656.2

In [162]:
bartholomew_regional = (west/170000)*667

In [163]:
bartholomew_1 = (daniel_bartholomew['Net Amount'] * 0.0888).sum() + bartholomew_regional

In [164]:
print(bartholomew_1)

1629.198102764706

In [165]:
daniel_bartholomew.loc[11111] = ['Total Indivdual Bookings:', bartholomew_indivdual, '', '' ,'','','','','','','','','','','','','']

In [166]:
daniel_bartholomew.loc[11112] = ['Regional Payment:', bartholomew_regional, '', '' ,'','','','','','','','','','','','','']

In [167]:
daniel_bartholomew.loc[11113] = ['Total Payout:', bartholomew_1, '', '' ,'','','','','','','','','','','','','']

In [168]:
daniel_bartholomew.to_excel(os.path.join('SE','Bartholomew_july_2022.xlsx'), index=False)

#### End Daniel Bartholomew

### End SEs

## Sheet For Payroll

In [169]:
se_by_period = pd.DataFrame(columns=['Name:', 'Payout:'])

In [170]:
se_by_period.loc[0] = ['East:', '']

In [171]:
se_by_period.loc[1] = ['Brendon Yoder', yoder_1]

In [172]:
se_by_period.loc[2] = ['Eric Wooster', wooster_1]

In [173]:
se_by_period.loc[3] = ['Greg Manning', manning_1]

In [174]:
se_by_period.loc[4] = ['John Davis', davis_1 ]

In [175]:
se_by_period.loc[5] = ['Marshall Sapp', sapp_1 ]

In [176]:
se_by_period.loc[6] = ['Michael Alvaro', alvaro_1]

In [177]:
se_by_period.loc[7] = ['Robert Zimmerman', robert_zimmerman_1 ]

In [178]:
#se_by_period.loc[8] = ['Greg Shamieh', shamieh_1 ]

In [179]:
se_by_period.loc[9] = ['West:', '']

In [180]:
se_by_period.loc[10] = ['Anthony McCloud', mccloud_1 ]

In [181]:
se_by_period.loc[11] = ['Chris Chandler', chandler_1 ]

In [182]:
se_by_period.loc[12] = ['Dan Bartholomew', bartholomew_1 ]

In [183]:
se_by_period.loc[13] = ['Grady Vogt', vogt_1 ]

In [184]:
se_by_period.loc[14] = ['Greg Ryman', ryman_1 ]

In [185]:
se_by_period.loc[15] = ['Perry Allen', allen_1 ]

In [186]:
se_by_period.loc[16] = ['William Brucker', brucker_1 ]

In [187]:
se_by_period.loc[17] = ['Eric Carter', eric_carter_1 ]

In [188]:
se_by_period.head(100)

               Name:      Payout:
0              East:
1      Brendon Yoder  2067.067278
2       Eric Wooster  1095.827253
3       Greg Manning  3039.051465
4         John Davis  3532.549075
5      Marshall Sapp  3208.434823
6     Michael Alvaro  9649.124949
7   Robert Zimmerman   3641.13125
9              West:
10   Anthony McCloud  1323.027105
11    Chris Chandler  3465.339981
12   Dan Bartholomew  1629.198103
13        Grady Vogt  1331.980951
14        Greg Ryman  1183.110495
15       Perry Allen  5237.793895
16   William Brucker  1082.597109
17       Eric Carter  2968.856222

In [189]:
se_by_period.to_excel(os.path.join('SE','SE_july_2022.xlsx'), index=False)

### End